.p-grid {
  background: linear-gradient(90deg, #cddafd 0%, #e5d5ff 100%);
}

.lessons {
  background: black;
  color: white;
}

.lessonTitle {
  float: left;
}

.lessonIcon {
  float: right;
  width: 25px;
}

.LessonNumber, .LessonNumberInMonth {
  display: inline-block;
  margin-right: 20px;
}


.p-progressbar .p-progressbar-value {
  border: 0 none;
  margin: 0;
  background: #ffffff;
}

.progressBarLesson {
  background: #263238 !important;
  height: 13px;
  border: 1px solid;
  border-radius: 1px;
}

.finishLessonProgressBar {
  background: white;
  width: 20%;
  height: 12px;
  text-align: center;
  color: #263238;
  font-size: xx-small;
  font-weight: bold;
}

.progressBarHours {
  background: #ff725e !important;
  height: 13px;
  border: 1px solid;
  border-radius: 1px;
}

.finishHoursProgressBar {
  background: white;
  width: 30%;
  height: 12px;
  text-align: center;
  color: #ff725e;
  font-size: xx-small;
  font-weight: bold;
}

.lessonContainer {
  background: #ff725e;
  color: black;
  margin-bottom: 20px;
  border-radius: 5px;
}

.imgLesson {
  width: 75px;
  margin-top: -15px;
}

.lessonName {
  font-family: 'Ramaraja', serif;
  font-size: x-large;
  font-weight: bolder;
  letter-spacing: 2px;
  margin-bottom: 0;
  color: black;
}

.lessonDate {
  color: #263238;
  font-size: smaller;
}

/******************* Black => Orange **********************/
.joinButton {
  width: 100%;
  background: #263238;
  color: #ff725e;
  border: none;
  height: 40px;


}

.joinButton:hover {
  width: 100%;
  background: #ff725e;
  border: 2px solid #263238;
  color: #263238;
  font-weight: bold;
  height: 40px;
}

.joinButton:active {
  width: 100%;
  background: #263238;
  border: 2px solid #263238;
  color: #ff725e;
  font-weight: bold;
  height: 40px;
}

.joinButton:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #ff9e90;
}

/*************************************************/

@keyframes startLesson {
  0% {
    background: #ff725e;
    border: 2px solid #263238;
    color: #263238;
  }
  50% {
    background: #263238;
    border: 2px solid #263238;
    color: #ff725e;
  }
  100% {
    background: #ff725e;
    border: 2px solid #263238;
    color: #263238;
  }
}

#startLessonButton {
  animation-name: startLesson;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
