
<p-dialog [(visible)]="viewDialog" [modal]="true" [style]="{width: '70vw'}" header="Professor Edit"
          styleClass="p-fluid">
    <div class="row m-l-0 m-r-0">
        <div class="col-sm-4 bg-c-lite-green user-profile">
            <div class="card-block text-center text-white">
                <div class="m-b-25"> <img [src]="selected?.image"class="img-radius"
                                          alt="User-Profile-Image"> </div>
                <h6 class="f-w-600">{{selected?.nom}}</h6>
                <p>{{selected?.username}} </p> <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="card-block">

                        <div class="row">
                            <h6 class="m-b-20 p-b-5 b-b-default f-w-600" style="color: #f27463">Information</h6>
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Full name</p>
                                <h6 class="text-muted f-w-400" >{{selected.nom}}</h6>
                            </div>

                            <div class="col-sm-6 " style="margin-top: 15px;">
                                <p class="m-b-10 f-w-600">Phone number</p>
                                <h6 class="text-muted f-w-400">{{selected.numero}}</h6>
                            </div>
                            <div *ngIf="selected.skype!=null" class="col-sm-6 " style="margin-top: 15px;">
                                <p class="m-b-10 f-w-600">Skype</p>
                                <h6 class="text-muted f-w-400">{{selected.skype}}</h6>
                            </div>
                            <div *ngIf="selected.levelMax!=null"  class="col-sm-6"  style="margin-top: 15px;">
                                <p class="m-b-10 f-w-600">Level max</p>
                              <h6 class="text-muted f-w-400">{{selected.levelMax.libelle}}</h6>
                            </div>
                            <div *ngIf="selected.levelMin!=null"  class="col-sm-6"  style="margin-top: 15px;">
                                <p class="m-b-10 f-w-600">Level min</p>
                               <h6 class="text-muted f-w-400">{{selected.levelMin.libelle}}</h6>
                            </div>
                            <div *ngIf="selected.typeTeacher!=null" class="col-sm-6"  style="margin-top: 15px;">
                                <p class="m-b-10 f-w-600">Type teacher</p>
                                <h6 class="text-muted f-w-400">{{selected.typeTeacher.libelle}}</h6>
                            </div>
                            <div class="row">
                                <div class="col-sm-6" *ngIf="this.selected.statutSocial!=null">
                                    <p class="m-b-10 f-w-600">Social status</p>
                                    <h6 class="text-muted f-w-400">{{this.selected.statutSocial.libelle}}</h6>
                                </div>
                                <div class="col-sm-6" *ngIf="this.selected.fonction!=null && this.selected.statutSocial.libelle=='Employed'">

                                    <p class="m-b-10 f-w-600" >Area of work</p>
                                    <h6 class="text-muted f-w-400">{{this.selected.fonction.libelle}}</h6>

                                </div>
                                <div  *ngIf="this.selected.fonction!=null && this.selected.statutSocial.libelle=='Student'" class="col-sm-6">

                                    <p class="m-b-10 f-w-600">Study level</p>
                                    <h6 class="text-muted f-w-400">{{this.selected.niveauEtude.libelle}}</h6>

                                </div>
                                <div class="col-sm-6" *ngIf="this.selected.interetEtudiant!=null">
                                    <p class="m-b-10 f-w-600" style="margin-top: 10px;"> Main goal with learning English </p>
                                    <h6 class="text-muted f-w-400">{{this.selected.interetEtudiant.libelle}}</h6>
                                </div>
                                <div class="col-sm-6" style="margin-top: 10px;" *ngIf="this.selected.skill!=null">
                                    <p class="m-b-10 f-w-600"> Skill </p>
                                    <h6 class="text-muted f-w-400">{{this.selected.skill.libelle}}</h6>
                                </div>


                            </div>

                        </div>
                        </div>



            </div>
        </div>


</p-dialog>

