<p-dialog [(visible)]="viewDialog" [modal]="true" [style]="{width: '450px'}" header="Professor Details"
          styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Agent information">

                <div class="p-field">
                    <label for="firstName">First Name</label>
                    <input [(ngModel)]="selected.prenom" disabled id="firstName" pInputText type="text"/>
                </div>
                <div class="p-field">
                    <label for="lastName">Last Name</label>
                    <input [(ngModel)]="selected.nom" disabled id="lastName" pInputText type="text"/>
                </div>

                <div class="p-field">
                    <label for="reference">UserName</label>
                    <input [(ngModel)]="selected.username" disabled id="reference" pInputText type="text"/>
                </div>

                <div class="p-field">
                    <label for="phoneNumber">Phone Number</label>
                    <input [(ngModel)]="selected.numero" disabled id="phoneNumber" pInputText type="text"/>
                </div>

                <div class="p-field">
                    <label for="address">Address</label>
                    <input [(ngModel)]="selected.addresse" disabled id="address" pInputText type="text"/>
                </div>


            </p-tabPanel>


        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer">
        <button (click)="hideViewDialog()" class="p-button-text" icon="pi pi-times" label="Fermer" pButton
                pRipple></button>
    </ng-template>
</p-dialog>
