<p-dialog header="packs and prices" [(visible)]="this.showdialog">
    <div class="row" *ngIf="this.etudiantService.groupeEtude.nombreEtudiant == 1">
        <div class="card-1" *ngFor="let p of this.packStudentService.packstudentIndividialList">
            <div class="card-header-1">
                <h1>{{p.libelle}}</h1>
            </div>
            <div class="card-body-1">
                <p>
                    <strong>{{p.totalStudents}} {{'Students' | translate}}</strong><br>
                    {{'have bought this pack' | translate}}
                </p>
                <a class="btn-1" (click)="selectedPackFct(p)">{{p.nombreCours}}h | {{p.price?.price}}$</a>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="this.etudiantService.groupeEtude.nombreEtudiant > 1">
        <div class="card-1" *ngFor="let p of this.packStudentService.packstudentgroupeList">
            <div class="card-header-1">
                <h1>{{p.libelle}}</h1>
            </div>
            <div class="card-body-1">
                <p>
                    <strong>{{p.totalStudents}} {{'Students' | translate}}</strong><br>
                    {{'have bought this pack' | translate}}
                </p>
                <a class="btn-1" (click)="selectedPackFct(p)">{{p.nombreCours}}h | {{p.price?.price}}$</a>
            </div>
        </div>
    </div>

</p-dialog>

<p-dialog header="Password Settings" [(visible)]="this.changePass">
    <h1 style="color: #0c6439; font-size: 20px;  text-align: center"> {{'Change Password' | translate}}</h1><br>
    <h6 style="color: darkred; font-size: 20px;  text-align: center"> {{'Password must have at least 8 characters' | translate}}</h6>
    <br>
    <div class="bio-row">
        <label for="float-input"> {{'New Password' | translate}}</label>
        <input id="float-input" type="password" style="margin-left: 5px;" pInputText [(ngModel)]="newPassword">
    </div>
    <div class="bio-row">
        <label for="float-input"> {{'Repeat password' | translate}}</label>
        <input id="float-input" type="password" style="margin-left: 5px;" pInputText [(ngModel)]="newPasswordRepated">
    </div>
    <button style="float: right" [disabled]="this.newPassword.length<8 || this.newPassword !== this.newPasswordRepated"
            pButton pRipple type="button " icon="pi pi-save " [label]="'Save changes' | translate"
            (click)="changePassword()" class="p-button-danger"></button>

</p-dialog>


<div class="p-grid profileCon">
    <div class="col-12 col-md-3 col-lg-2 p-shadow-6 rightMenu mb-5" dir="auto">
        <div class=" p-grid imgContainer">
            <div style="margin-left: 17%" class="p-col-10">
                <img [src]="user?.image" class="profileImg" alt="Profile">
            </div>
            <div class="p-col-12 userName">{{user?.nom}}</div>
        </div>
        <div [style.background]="(selectedElement === 'PROFILE')? '#d2d8fd': 'white'"
             [style.borderLeft]="(selectedElement === 'PROFILE')? '5px solid #ff725e': 'none'"
             [style.color]="(selectedElement === 'PROFILE')? 'black': '#666666'"
             (click)="showMenuElemnt('PROFILE')"
             class=" menuElement p-grid"> {{'Profile' | translate}}
        </div>
        <div [style.background]="(selectedElement === 'SET')? '#d2d8fd': 'white'"
             [style.borderLeft]="(selectedElement === 'SET')? '5px solid #ff725e': 'none'"
             [style.color]="(selectedElement === 'SET')? 'black': '#666666'"
             (click)="showMenuElemnt('SET')"
             class=" menuElement p-grid"> {{'Security' | translate}}
        </div>

        <div [style.background]="(selectedElement === 'INSCRIPTION')? '#d2d8fd': 'white'"
             [style.borderLeft]="(selectedElement === 'INSCRIPTION')? '5px solid #ff725e': 'none'"
             [style.color]="(selectedElement === 'INSCRIPTION')? 'black': '#666666'"
             (click)="showMenuElemnt('INSCRIPTION')"
             class=" menuElement p-grid"> {{'Registration details' | translate}}
        </div>

        <div [style.background]="(selectedElement === 'PASS')? '#d2d8fd': 'white'"
             [style.borderLeft]="(selectedElement === 'PASS')? '5px solid #ff725e': 'none'"
             [style.color]="(selectedElement === 'PASS')? 'black': '#666666'"
             (click)="showMenuElemnt('PASS')"
             class=" menuElement p-grid"> {{'More information' | translate}}
        </div>


    </div>
    <div *ngIf="selectedElement === 'PROFILE'" class="col-12 col-md-9 col-lg-10" dir="auto">
        <div class="p-grid">
            <div class="p-col-10 grandTitle"> {{'Profile' | translate}}</div>
            <div class="p-col-12 smallTitle"> {{'Manage your public profile and private information.' | translate}}</div>


            <div class="p-col-12">
                <div class="p-grid p-fluid">


                    <div class="col-12 col-md-6 p-3">
                        <h5 style="color: #ff725e"> {{'Full name' | translate}}</h5>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                            <input class="user-input-group" [(ngModel)]="user.nom" name="prenom" type="text"
                                   pInputText [placeholder]="'Full name' | translate">
                        </div>
                    </div>

                    <div class="col-12 col-md-6 p-3">
                        <h5 style="color: #ff725e"> {{'email' | translate}}</h5>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                            <input class="user-input-group" [(ngModel)]="user.username" name="username" type="text"
                                   pInputText [placeholder]="'email' | translate">
                        </div>
                    </div>

                    <div class="col-12 col-md-6 p-3">
                        <h5 style="color: #ff725e"> {{'Country' | translate}}</h5>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-map-marker"></i></span>
                            <input class="user-input-group" [(ngModel)]="user.country" name="country" type="text"
                                   pInputText [placeholder]="'Country' | translate">
                        </div>
                    </div>

                    <div class="col-12 col-md-6 p-3">
                        <h5 style="color: #ff725e"> {{'City' | translate}}</h5>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-map-marker"></i></span>
                            <input class="user-input-group" [(ngModel)]="user.ville" name="ville" type="text" pInputText
                                   [placeholder]="'City' | translate">
                        </div>
                    </div>

                    <div class="col-12 col-md-6 p-3">
                        <h5 style="color: #ff725e"> {{'Address' | translate}}</h5>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-home"></i></span>
                            <input class="user-input-group" [(ngModel)]="user.addresse" name="addresse" type="text"
                                   pInputText [placeholder]="'Address' | translate">
                        </div>
                    </div>

                    <div class="col-12 col-md-6 p-3">
                        <h5 style="color: #ff725e"> {{'Age' | translate}}</h5>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                            <input class="user-input-group" [(ngModel)]="user.age" name="age" type="number" pInputText
                                   [placeholder]="'Age' | translate">
                        </div>
                    </div>

                    <div class="col-12 col-md-6 p-3">
                        <h5 style="color: #ff725e"> {{'Skype' | translate}}</h5>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-video"></i></span>
                            <input class="user-input-group" [(ngModel)]="user.skype" name="skype" type="text" pInputText
                                   [placeholder]="'Skype' | translate">
                        </div>
                    </div>

                    <div class="col-12 col-md-6 p-3">
                        <h5 style="color: #ff725e"> {{'Phone' | translate}}</h5>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-phone"></i></span>
                            <input class="user-input-group" [(ngModel)]="user.numero" name="numero" type="text"
                                   pInputText [placeholder]="'Phone' | translate">
                        </div>
                    </div>

                </div>
            </div>


            <div class="p-col-4"></div>


            <div class="col-12 col-md-6">
                <button pButton pRipple (click)="updateUser(user)"
                        [label]="'Save changes' | translate" icon="pi pi-check" iconPos="left"
                        class="Startnow"></button>
            </div>

            <div class="col-0 col-md-3"></div>

        </div>
    </div>


    <!--  Settings  -->

    <div *ngIf="selectedElement === 'SET'" class="p-col-10">
        <div class="p-grid">
            <div class="p-col-10 grandTitle"> {{'Security' | translate}}</div>
            <div class="p-col-10 smallTitle"> {{'Manage your password and 2-step verification preferences' | translate}}</div>

            <div class="col-12 col-md-12">
                <div class="p-grid p-fluid">


                    <div class="p-col-12">
                        <h5 style="color: #ff725e"> {{'New Password' | translate}}</h5>
                        <div class="p-inputgroup">
                            <span style="cursor: pointer" *ngIf="newPass.type === 'password'"
                                  (click)="showPass(newPass)" class="p-inputgroup-addon"><i
                                    class="pi pi-eye"></i></span>
                            <span style="cursor: pointer" *ngIf="newPass.type === 'text'" (click)="showPass(newPass)"
                                  class="p-inputgroup-addon"><i class="pi pi-eye-slash"></i></span>

                            <input #newPass class="user-input-group" [(ngModel)]="newPassword" name="newPassword"
                                   type="password"
                                   pPassword
                                   [placeholder]="'New Password' | translate">
                        </div>
                    </div>

                    <div class="p-col-12">
                        <h5 style="color: #ff725e"> {{'Repeat password' | translate}}</h5>
                        <div class="p-inputgroup">
                            <span style="cursor: pointer" *ngIf="Rep.type === 'password'" (click)="showPass(Rep)"
                                  class="p-inputgroup-addon"><i class="pi pi-eye"></i></span>
                            <span style="cursor: pointer" *ngIf="Rep.type === 'text'" (click)="showPass(Rep)"
                                  class="p-inputgroup-addon"><i class="pi pi-eye-slash"></i></span>

                            <input #Rep class="user-input-group" [(ngModel)]="newPasswordRepated"
                                   name="newPasswordRepated" type="password"
                                   pPassword
                                   [placeholder]="'Repeat password' | translate">
                        </div>
                    </div>
                    <div class="p-col-4"></div>
                    <div class="p-col-4">
                        <button pButton pRipple (click)="changePassword()"
                                [label]="'Change password' | translate" icon="pi pi-check" iconPos="left"
                                class="Startnow"></button>
                    </div>
                    <div class="p-col-4"></div>

                </div>
            </div>
        </div>
    </div>


    <!--  Registration  -->


    <div *ngIf="selectedElement === 'INSCRIPTION'" class="p-col-10">


        <div class="p-grid">
            <div *ngIf="this.inscription.packStudent != null && this.inscription.parcours != null"
                 class="p-col-10 grandTitle"> {{'Registration Details' | translate}}
            </div>
            <div *ngIf="this.inscription.packStudent == null && this.inscription.parcours == null"
                 class="p-col-10 grandTitle"> {{'Complete your registration' | translate}}
            </div>
            <div class="col-12 col-md-6 p-3">
                <h5 style="color: #ff725e">  {{'Group Option' | translate}} </h5>
                <p-dropdown [style]="{    height: '45px',
                                                padding: '6px',
                                                 width: '100%',
                                                border: 'none'}"
                            (onClick)="getgroupechosen(inscription.groupeEtude.id)"
                            [disabled]="this.inscription.packStudent != null && this.inscription.parcours != null"
                            (click)="findAllGroupeEtude() ; " [options]="groupeEtudeList"
                            [placeholder]="'Select group' | translate"
                            [(ngModel)]="etudiant.groupeEtude"
                            optionLabel="libelle"></p-dropdown>
            </div>

            <div class="col-12 col-md-6 p-3">
                <h5 style="color: #ff725e">  {{'English Level' | translate}} </h5>
                <p-dropdown [style]="{    height: '45px',
                                                width: '100%',
                                                padding: '6px',
                                                border: 'none'}"
                            [disabled]="this.inscription.packStudent != null && this.inscription.parcours != null"
                            (click)="findAllParcoursList() ; " [options]="parcoursList"
                            [placeholder]="'Select Level' | translate"
                            [(ngModel)]="etudiant.parcours"
                            optionLabel="libelle"></p-dropdown>
            </div>

            <div class="col-12 col-md-6 p-3">
                <h5 style="color: #ff725e">  {{'Teacher' | translate}} </h5>
                <select class="select"
                        [disabled]="this.inscription.packStudent != null && this.inscription.parcours != null" required
                        name="role" id="" [(ngModel)]="etudiant.teacherLocality">
                    <option class="option" selected value=" "> {{'Teacher' | translate}}</option>
                    <option class="option" value="native"> {{'Native' | translate}}</option>
                    <option class="option" value="non-native"> {{'Non-native' | translate}}</option>
                </select>
            </div>

            <div class="p-col-1"></div>
            <div style="padding-top: 50px;" class="p-col-4">
                <button *ngIf="this.inscription.packStudent == null || this.inscription.parcours == null" pButton
                        pRipple type="button" icon="pi pi-save" [label]="'Save changes' | translate"
                        (click)="updateInscriptionByStudent()"
                        class="Startnow"></button>
            </div>
            <div class="p-col-1"></div>


            <!------------------------Packs------------------------------------------------------>


            <!--            <ng-container *ngIf="inscription?.packStudent !== null">-->
            <!--                <div class="row">-->
            <!--                    <div class="col-md-8">-->
            <!--                        <div-->
            <!--                                [class.platinum]="inscription?.packStudent?.price?.lib?.toUpperCase()?.includes('PLATINUM')"-->
            <!--                                [class.silver]="inscription?.packStudent?.price?.lib?.toUpperCase()?.includes('SILVER')"-->
            <!--                                [class.gold]="inscription?.packStudent?.price?.lib?.toUpperCase()?.includes('GOLD')"-->
            <!--                                class="card mt-5 p-4 mr-5 text-white">-->
            <!--                            <p class="top mb-1">{{inscription?.packStudent?.libelle?.toLowerCase()}} for-->
            <!--                                <strong style="display: inline-block" *ngIf="inscription?.packStudent?.forGroupe">-->
            <!--                                    Group</strong>-->
            <!--                                <strong style="display: inline-block" *ngIf="!inscription?.packStudent?.forGroupe">-->
            <!--                                    Individual</strong>-->
            <!--                            </p>-->
            <!--                            <div class="d-flex flex-row justify-content-between text-align-center xyz">-->
            <!--                                <h3>{{inscription?.packStudent?.price?.price}} DH</h3>-->
            <!--                                <div class="discount"><span>{{getPercentage(inscription?.packStudent).toFixed(.2)}}-->
            <!--                                    % OFF</span></div>-->
            <!--                            </div>-->
            <!--                            <div class="card-content mt-4">-->
            <!--                                <p>{{inscription?.packStudent?.level?.libelle}}</p>-->
            <!--                            </div>-->
            <!--                            <div class="mt-2">-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </ng-container>-->

            <ng-container *ngIf="inscription?.packStudent === null">
                <div class="p-col-12">
                    <h3> {{'Explore our packs' | translate}}</h3>
                </div>
            </ng-container>

            <ng-container *ngIf="inscription?.packStudent === null">
                <div class="container">
                    <div class="row">
                        <div *ngFor="let pack of packs" class="col-md-6 col-xl-4 col-sm-12">
                            <div
                                    [class.platinum]="pack?.price?.lib?.toUpperCase()?.includes('PLATINUM')"
                                    [class.silver]="pack?.price?.lib?.toUpperCase()?.includes('SILVER')"
                                    [class.gold]="pack?.price?.lib?.toUpperCase()?.includes('GOLD')"

                                    class="card mt-5 p-4 mr-5 text-white">
                                <p class="top mb-1">{{pack?.libelle?.toLowerCase()}} for
                                    <strong style="display: inline-block" *ngIf="pack?.forGroupe"> Group</strong>
                                    <strong style="display: inline-block" *ngIf="!pack?.forGroupe"> Individual</strong>
                                </p>
                                <div class="d-flex flex-row justify-content-between text-align-center xyz">
                                    <h3>{{pack?.price?.price}} DH</h3>
                                    <div class="discount"><span>{{getPercentage(pack).toFixed(.2)}}% OFF</span></div>
                                </div>
                                <div class="card-content mt-4">
                                    <p>{{pack?.level?.libelle}}</p>
                                </div>
                                <div class="mt-2">
                                    <button
                                            [class.btn-platinum]="pack?.price?.lib?.toUpperCase()?.includes('PLATINUM')"
                                            [class.btn-silver]="pack?.price?.lib?.toUpperCase()?.includes('SILVER')"
                                            [class.btn-gold]="pack?.price?.lib?.toUpperCase()?.includes('GOLD')"
                                            (click)="selectedPackFct(pack)"
                                            class="btn btn-block btn-lg btn-primary">
                                        <span>{{'Enroll' | translate}}</span><i
                                            class="fas fa-arrow-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </ng-container>

        </div>
    </div>


    <div *ngIf="selectedElement === 'PASS'" class="p-col-10">
        <div class="p-grid">
            <div class="p-col-10 grandTitle"> {{'more about you' | translate}}</div>
            <div class="p-col-12">
                <div class="p-grid p-fluid">


                    <div class="col-12 col-md-6 p-3">
                        <h5 style="color: #ff725e"> {{'language' | translate}}</h5>
                        <p-dropdown
                                [style]="{    height: '45px',
                                                padding: '6px',
                                                border: 'none'}"
                                [options]="languages" [(ngModel)]="selectedLanguage"
                                [placeholder]="'Select your language' | translate" optionLabel="libelle"
                                [showClear]="true"></p-dropdown>
                    </div>


                    <div class="col-12 col-md-6 p-3">
                        <h5 style="color: #ff725e"> {{'Status Social' | translate}}</h5>
                        <p-dropdown
                                [style]="{    height: '45px',
                                                padding: '6px',
                                                border: 'none'}"
                                (click)="getValue()" id="float-input"
                                [options]="statutSocials" [(ngModel)]="etudiant.statutSocial"
                                optionLabel="libelle"></p-dropdown>
                    </div>

                    <div class="col-12 col-md-6 p-3">
                        <h5 style="color: #ff725e"> {{'Area of work' | translate}}</h5>
                        <p-dropdown [style]="{    height: '45px',
                                                padding: '6px',
                                                border: 'none'}"
                                    [options]="fonctions" [placeholder]="'List of areas of work' | translate"
                                    [(ngModel)]="etudiant.fonction"
                                    optionLabel="libelle"></p-dropdown>
                    </div>

                    <div class="col-12 col-md-6 p-3">
                        <h5 style="color: #ff725e"> {{'Study Level' | translate}}</h5>
                        <p-dropdown [style]="{    height: '45px',
                                                padding: '6px',
                                                border: 'none'}"
                                    [options]="niveauEtudes"
                                    [(ngModel)]="etudiant.niveauEtude"
                                    optionLabel="libelle"></p-dropdown>
                    </div>


                    <div class="col-12 col-md-6 p-3">
                        <h5 style="color: #ff725e"> {{'Interests' | translate}}</h5>
                        <p-dropdown [style]="{    height: '45px',
                                                padding: '6px',
                                                border: 'none'}"
                                    [options]="interetEtudiants" [(ngModel)]="etudiant.interetEtudiant"
                                    optionLabel="libelle" [showClear]="true"></p-dropdown>
                    </div>

                    <div class="col-12 col-md-6 p-3">
                        <h5 style="color: #ff725e"> {{'Main goal with learning English' | translate}}</h5>
                        <p-dropdown [style]="{    height: '45px',
                                                padding: '6px',
                                                border: 'none'}"
                                    [options]="interetEtudiants"
                                    [(ngModel)]="etudiant.interetEtudiant"
                                    optionLabel="libelle"></p-dropdown>
                    </div>

                    <div class="col-12 col-md-6 p-3">
                        <h5 style="color: #ff725e"> {{'Skill' | translate}}</h5>
                        <p-dropdown [style]="{    height: '45px',
                                                padding: '6px',
                                                border: 'none'}"
                                    [options]="skills" [(ngModel)]="etudiant.skill"
                                    optionLabel="libelle"></p-dropdown>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>
