<div class="container p-grid p-shadow-5">
    <h2>Your Profil</h2>
    <div class="p-col-2 yourprofil" style="text-align: center;">
        <img [src]="user?.image" alt="Image" width="250">
    </div>
    <div class="p-col-6 yourprofil">
        <h3>{{ user?.nom}} {{ user?.prenom}}</h3>

        <button pButton pRipple type="button" icon="pi pi-image " class="p-button-rounded p-button-secondary"
                (click)="updateProfileImage()"
        ></button>
        <form enctype="multipart/form-data" style="display:none;">
            <input type="file"
                   (change)="onProfileImageChange($event); onUpdateProfileImage()"
                   name="profile-image-input" id="profile-image-input" placeholder="file" accept="image/*"/>
        </form>
    </div>

    <div class="p-col-12">
        <div class="p-grid">
            <div class="p-col-4">
                <label for="float-input">First name</label>
                 <input id="float-input" type="text" pInputText [(ngModel)]="user.prenom">
            </div>
            <div class="p-col-4">
                <label for="float-input">Last name</label>
                 <input id="float-input" type="text" pInputText [(ngModel)]="user.nom">
            </div>
            <div class="p-col-4">
                <label for="float-input">Username</label>
                 <input id="float-input" disabled type="text" pInputText [(ngModel)]="user.username">
            </div>
            <div class="p-col-4">
                <label for="float-input">Age</label>
                 <input id="float-input" type="number" pInputText [(ngModel)]="user.age">
            </div>
            <div class="p-col-4 ">
                <label for="float-input">Address</label>
                 <input id="float-input" type="text" pInputText [(ngModel)]="user.addresse">
            </div>
            <div class="p-col-4">
                <label for="float-input">Phone</label>
                 <input id="float-input" type="text" pInputText [(ngModel)]="user.numero">
            </div>
            <div class=" p-col-4">
                <label for="float-input">City</label>
                 <input id="float-input" type="text" pInputText [(ngModel)]="user.ville">
            </div>
        </div>
    </div>
    <h2> Further information </h2>
    <div class="p-col-12">
        <div class="p-grid">
            <div class=" p-col-4">
            <label for="float-input"  class="status">Social statuts</label>
                <p-dropdown  id="float-input" [options]="statutSocials"  [(ngModel)]="etudiant.statutSocial" optionLabel="libelle" ></p-dropdown>
            </div>
            <div  class=" p-col-4">
                <div  >
                <label for="float-input" class="status">Area of work</label>
                <p-dropdown    [options]="fonctions" placeholder="List of areas of work" [(ngModel)]="etudiant.fonction"
                            optionLabel="libelle" ></p-dropdown>
                </div>
                <div  >
                    <label  class="status" for="float-input">Study Level</label>
                <p-dropdown  [options]="niveauEtudes"  [(ngModel)]="etudiant.niveauEtude"
                            optionLabel="libelle" ></p-dropdown>
            </div>
        </div>

        </div>
    </div>
                 <div class="class4">
                <label   class="status2" for="float-input"> Your main goal with learning English</label>
                <p-dropdown [options]="interetEtudiants"  [(ngModel)]="etudiant.interetEtudiant"
                            optionLabel="libelle" ></p-dropdown>
                 </div>




    <DIV class="class3  p-col-4" >
        <button  pButton pRipple type="button" icon="pi pi-save" label="save changes"
                (click)="updateUser(user) ; edit()"
                class="p-button-raised-primary"></button>

    </DIV>
</div>

<div class="p-grid p-shadow-5">


    <div class="p-col-6">
        <h3 *ngIf="this.inscription.packStudent != null">Registration Details</h3>
        <h3 *ngIf="this.inscription.packStudent == null">Complete my registration!</h3>
    </div>

    <div class="p-col-12">
        <div class="p-grid">
            <div class="p-col-4">
                <label for="group-option">Group Option</label>
                <span>
                <p-dropdown id="group-option" (onClick)="getgroupechosen(inscription.groupeEtude.id)" [disabled]="this.inscription.packStudent != null" (click)="findAllGroupeEtude() ; " [options]="groupeEtudeList" placeholder="Select Option"
                                            [(ngModel)]="etudiant.groupeEtude"
                                            optionLabel="libelle" ></p-dropdown>
            </span>
            </div>
            <div class="p-col-4"  >
                <p-button  (click)="showdialogPacks()" type="button" >Select your Pack : </p-button>
                <p-button *ngIf="packChossen!=null"  style="margin-left: 40px" class="p-button-danger" > {{packChossen.nombreCours}}h : {{packChossen.prix}}$</p-button>
            </div>

            <div class="p-col-4">
                <label for="level-option">level Option</label>
                <span>
                <p-dropdown id="level-option" [disabled]="this.inscription.packStudent != null" (click)="findAllParcoursList() ; " [options]="parcoursList" placeholder="Select Option"
                            [(ngModel)]="etudiant.parcours"
                            optionLabel="libelle" ></p-dropdown>
            </span>
            </div>

            <div class="p-col-4">
                <label for="teacher">Teacher Locality</label>
                <span>
                <select [disabled]="this.inscription.packStudent != null" required name="role" id="teacher" [(ngModel)]="etudiant.teacherLocality" >
                    <option selected value=" ">Teacher</option>
                    <option value="native">Native</option>
                    <option value="non-native">Non-native</option>
                </select>
            </span>
            </div>
            <div class="p-col-4">
                <button *ngIf="this.inscription.packStudent == null" pButton pRipple type="button" icon="pi pi-save" label="save changes"
                        (click)="updateInscriptionByStudent()"
                        class="p-button-raised-primary"></button>
                <h5 *ngIf="this.inscription.packStudent != null"> you can Add new Registration once this one is Completed </h5>
            </div>


        </div>
    </div>

</div>


<p-dialog header="packs and prices" [(visible)]="this.showdialog">
    <div class="row" *ngIf="this.etudiantService.groupeEtude.nombreEtudiant == 1">
        <div class="card-1" *ngFor="let p of this.packStudentService.packstudentIndividialList">
            <div class="card-header-1">
                <h1>{{p.libelle}}</h1>
            </div>
            <div class="card-body-1">
                <p>
                    <strong>{{p.totalStudents}} Students</strong><br>
                    have bought this pack
                </p>
                <a class="btn-1" (click)="selectedPack(p)">{{p.nombreCours}}h  | {{p.prix}}$</a>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="this.etudiantService.groupeEtude.nombreEtudiant > 1">
        <div class="card-1" *ngFor="let p of this.packStudentService.packstudentgroupeList">
            <div class="card-header-1">
                <h1>{{p.libelle}}</h1>
            </div>
            <div class="card-body-1">
                <p>
                    <strong>{{p.totalStudents}} Students</strong><br>
                    have bought this pack
                </p>
                <a class="btn-1" (click)="selectedPack(p)">{{p.nombreCours}}h  | {{p.prix}}$</a>
            </div>
        </div>
    </div>

</p-dialog>
<p-dialog header="info" [(visible)]="this.updated">

    <h1 style="color: #0c6439; font-size: 20px;  text-align: center">Registration Updated Successfully</h1>

</p-dialog>
