
<!--<div class="card user-card-full">-->
<!--<div class="container bootstrap snippets bootdey">-->
<!--    <div class="row">-->
<!--        <div class="profile-nav col-md-3">-->
<!--            <div class="panel">-->
<!--                <div class="user-heading round">-->
<!--                    <a>-->
<!--                        <img [src]="user?.image" alt="Image" width="250">-->



<!--                    </a>-->
<!--                    <div style="margin-top: 5px;">-->
<!--                        <button pButton pRipple type="button" icon="pi pi-image " class="p-button-rounded p-button-secondary"-->
<!--                                (click)="updateProfileImage()"-->
<!--                        ></button>-->
<!--                        <form enctype="multipart/form-data" style="display:none;">-->
<!--                            <input type="file"-->
<!--                                   (change)="onProfileImageChange($event); onUpdateProfileImage()"-->
<!--                                   name="profile-image-input" id="profile-image-input" placeholder="file" accept="image/*"/>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                    <h1>{{user.prenom}} {{user.nom}}</h1>-->
<!--                    <p>{{user.username}}</p>-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->
<!--        <div class="profile-info col-md-9">-->
<!--            <div class="panel">-->
<!--                <div class="bio-graph-heading "  style="font-weight: bold">-->
<!--                    In this page you can find all your informations you can update them.Your coordinates need to be correct-->
<!--                </div>-->
<!--                <div class="panel-body bio-graph-info " style="margin: 10px;">-->
<!--                    <h1 style="  color: #f29263; font-weight: bold">Bio Graph</h1>-->

<!--                    <div class="row">-->
<!--                        <div class="bio-row">-->
<!--                            <label for="float-input">Full name</label>-->
<!--                            <input id="float-input" type="text" style="margin-left: 5px;" pInputText [(ngModel)]="user.prenom">-->
<!--                        </div>-->

<!--                        <div class="bio-row">-->
<!--                            <label for="float-input">Age</label>-->
<!--                            <input id="float-input" type="number" style="margin-left: 40px;" pInputText [(ngModel)]="user.age">-->
<!--                        </div>-->
<!--                        <div class="bio-row">-->
<!--                            <label for="float-input">City</label>-->
<!--                            <input id="float-input"  style="margin-left: 38px;" type="text" pInputText [(ngModel)]="user.ville">-->
<!--                        </div>-->
<!--                        <div class="bio-row">-->
<!--                            <label for="float-input">Address</label>-->
<!--                            <input id="float-input" style="margin-left: 17px; "type="text" pInputText [(ngModel)]="user.addresse">-->
<!--                        </div>-->

<!--                        <div class="bio-row">-->
<!--                            <label for="float-input">Phone</label>-->
<!--                            <input id="float-input" style="margin-left: 24px;" type="text" pInputText [(ngModel)]="user.numero">-->
<!--                        </div>-->
<!--                        <div class="bio-row">-->
<!--                            <label for="float-input">Email</label>-->
<!--                            <input id="float-input" style="margin-left: 30px;" disabled type="text" pInputText [(ngModel)]="user.username">-->
<!--                        </div>-->


<!--                    </div>-->
<!--                </div>-->
<!--                <div class="panel-body bio-graph-info margin" style="margin-left: 10px;">-->
<!--                    <h1  style="  color: #f29263; font-weight: bold">Further information</h1>-->
<!--                    <div class="row">-->
<!--                        <div class="bio-row">-->
<!--                            <label for="float-input">Status Social</label>-->
<!--                            <p-dropdown  id="float-input" style="margin-left: 5px;"[options]="statutSocials"  [(ngModel)]="etudiant.statutSocial" optionLabel="libelle" ></p-dropdown>-->
<!--                        </div>-->
<!--                        <div class="bio-row">-->
<!--                            <div *ngIf="etudiant.statutSocial.libelle == 'Employed'" >-->
<!--                                <label for="float-input" class="status"  >Area of work</label>-->
<!--                                <p-dropdown  style="margin-left: 5px;"  [options]="fonctions" placeholder="List of areas of work" [(ngModel)]="etudiant.fonction"-->
<!--                                               optionLabel="libelle" ></p-dropdown>-->
<!--                            </div>-->
<!--                            <div *ngIf="etudiant.statutSocial.libelle == 'Student'" >-->
<!--                                <label  class="status"  >Study Level</label>-->
<!--                                <p-dropdown  [options]="niveauEtudes" style="margin-left:15px;" [(ngModel)]="etudiant.niveauEtude"-->
<!--                                             optionLabel="libelle" ></p-dropdown>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="bio-row">-->
<!--                            <label> Main goal with learning English</label>-->
<!--                            <p-dropdown  style="margin-left:10px;"[options]="interetEtudiants"  [(ngModel)]="etudiant.interetEtudiant"-->
<!--                                        optionLabel="libelle" ></p-dropdown>-->
<!--                        </div>-->




<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<DIV class="class3  p-col-4" >-->
<!--    <button  pButton pRipple type="button " icon="pi pi-save " label="Save" style="margin-left: 1315px; margin-top: 30px;"-->
<!--             (click)="updateUser(user) ; edit()" class="p-button-warning"></button>-->

<!--</DIV>-->
<!--</div>-->

<div class="p-grid">
    <div  class="p-col-4 rightMenu"></div>
    <div class="p-col-8"></div>
</div>
