<p-dialog [(visible)]="displayReclamationEtudiant" [modal]="true" [style]="{width: '550px',height:'450px'}"
          header="Complaint" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="objetmessage">Objet Message</label>
            <input type="text" [(ngModel)]="reclamationEtudiant.objetReclamationEtudiant" id="objetmessage" pInputText/>
        </div>
        <div class="p-field">
            <label for="message" >Message</label>
            <textarea id="message" pInputTextarea [(ngModel)]="reclamationEtudiant.message"></textarea>
        </div>
        <div class="p-field">
            <label for="type">Type Reclamation</label>
            <p-dropdown   placeholder="Select a Type" id="type" [options]="typeReclamationEtudiantList" optionLabel="code" [(ngModel)]="reclamationEtudiant.typeReclamationEtudiant"
                        [showClear]="true"></p-dropdown>

        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <p-button label="Close" (click)="hide()"></p-button>
        <p-button label="Save" (click)="saveReclamationEtudiant()"></p-button>


    </ng-template>
</p-dialog>
