<div class="p-grid">
    <div class="p-col-12">
        <p-toast></p-toast>
        <div class="card">

            <p-tabView>
                <p-tabPanel header="Complaint Prof">
                    <p-toolbar styleClass="p-mb-4">
                        <ng-template pTemplate="left">

                        </ng-template>
                        <ng-template pTemplate="right">
                            <input type="text" pInputText style="margin-right: 5px" placeholder="Code"/>
                            <p-dropdown placeholder="Prof Name" [itemSize]="2"
                                        [options]="profListReclamation"
                                        optionLabel="nom"
                                        [showClear]="true"
                                        [filter]="false" style="margin-right: 5px"></p-dropdown>
                            <p-dropdown placeholder="Etat" [itemSize]="2"
                                        [options]="profListReclamation"
                                        optionLabel="nom"
                                        [showClear]="true"
                                        [filter]="false" style="margin-right: 5px"></p-dropdown>
                            <p-button label="Search" style="margin-right: 5px"></p-button>

                        </ng-template>
                    </p-toolbar>
                    <p-table #dt [rows]="10" [paginator]="true"
                             [value]="reclamationProfList"
                             [globalFilterFields]="['reference','total','totalPaye']"
                             [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                             [showCurrentPageReport]="true">

                        <ng-template pTemplate="header">
                            <tr>

                                <th pSortableColumn="Code">Code</th>
                                <th pSortableColumn="prof">Prof</th>
                                <th pSortableColumn="Date">Date Reclamation</th>
                                <th pSortableColumn="Number Of Sessions">Etat</th>
                                <th>Action</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-reclamationProf>
                            <tr>
                                <td>{{reclamationProf.reference}}</td>
                                <td>{{reclamationProf.prof.nom}} {{reclamationProf.prof.prenom}}</td>
                                <td>{{reclamationProf.dateReclamation}}</td>
                                <td *ngIf="!reclamationProf.traite">
                                    <strong> <i class="pi pi-times" style="font-size: 1rem;color: red"></i> <span
                                            style="color: red">  Non Traiter</span></strong>
                                </td>
                                <td *ngIf="reclamationProf.traite">
                                    <strong> <i class="pi pi-check" style="color: green"></i> <span
                                            style="color: green"> Traiter</span></strong>
                                </td>
                                <td>

                                    <button pButton type="button" class="p-button-info p-mr-2"
                                            (click)="showReclamationViewProf(reclamationProf.id)"
                                            icon="pi pi-align-justify"></button>
                                    <button pButton type="button" class="p-button-success p-mr-2"
                                            [disabled]="reclamationProf.traite"
                                            (click)="showReclamationEditProf(reclamationProf.id)"
                                            icon="pi pi-pencil"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">

                        </ng-template>
                    </p-table>
                </p-tabPanel>

                <p-tabPanel header="Complaint Student">
                    <p-toolbar styleClass="p-mb-4">
                        <ng-template pTemplate="left">

                        </ng-template>
                        <ng-template pTemplate="right">
                            <input type="text" pInputText style="margin-right: 5px" placeholder="Code"/>
                            <p-dropdown placeholder="Student Name" [itemSize]="2"
                                        [options]="studentList"
                                        optionLabel="nom"
                                        [showClear]="true"
                                        [filter]="false" style="margin-right: 5px"></p-dropdown>
                            <p-dropdown placeholder="Etat" [itemSize]="2"
                                        [options]="studentList"
                                        optionLabel="nom"
                                        [showClear]="true"
                                        [filter]="false" style="margin-right: 5px"></p-dropdown>
                            <p-button label="Search" style="margin-right: 5px"></p-button>

                        </ng-template>
                    </p-toolbar>
                    <p-table #dt [rows]="10" [paginator]="true" [value]="reclamationEtudiantList"

                             [globalFilterFields]="['reference','total','totalPaye']"
                             [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                             [showCurrentPageReport]="true">

                        <ng-template pTemplate="header">
                            <tr>

                                <th pSortableColumn="Code">Code</th>
                                <th pSortableColumn="prof">Student</th>
                                <th pSortableColumn="Date">Date Reclamation</th>
                                <th pSortableColumn="Number Of Sessions">Etat</th>
                                <th>Action</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-reclamationEtudiant>
                            <tr>
                                <td>{{reclamationEtudiant.reference}}</td>
                                <td>{{reclamationEtudiant.etudiant.nom}} {{reclamationEtudiant.etudiant.prenom}}</td>
                                <td>{{reclamationEtudiant.dateReclamation}}</td>
                                <td *ngIf="!reclamationEtudiant.traite">
                                    <strong> <i class="pi pi-times" style="font-size: 1rem;color: red"></i> <span
                                            style="color: red">  Non Traiter</span></strong>
                                </td>
                                <td *ngIf="reclamationEtudiant.traite">
                                    <strong> <i class="pi pi-check" style="color: green"></i> <span
                                            style="color: green"> Traiter</span></strong>
                                </td>
                                <td>

                                    <button pButton type="button" class="p-button-info p-mr-2"
                                            icon="pi pi-align-justify"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">

                        </ng-template>
                    </p-table>
                </p-tabPanel>

            </p-tabView>

        </div>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
    <app-type-reclamation-etudiant></app-type-reclamation-etudiant>
    <app-type-reclamation-prof></app-type-reclamation-prof>
    <app-complaint-edit-prof></app-complaint-edit-prof>
    <app-complaint-edit-etudiant></app-complaint-edit-etudiant>
    <app-complaint-view-prof></app-complaint-view-prof>
    <app-complaint-view-etudiant></app-complaint-view-etudiant>
</div>

