<div class="p-grid">

    <div class="p-col-12">
        <p-toast></p-toast>
        <div class="card">

            <p-tabView>
                <p-tabPanel header="Complaint Prof">
                    <p-toolbar styleClass="p-mb-4">
                        <ng-template pTemplate="left">

                        </ng-template>
                        <ng-template pTemplate="right">
                            <input type="text" pInputText style="margin-right: 5px" placeholder="Code"
                                   [(ngModel)]="reclamationProfSearch.reference"/>
                            <p-dropdown placeholder="Prof Name" [itemSize]="2"
                                        [options]="profListReclamation" [(ngModel)]="reclamationProfSearch.prof.nom"
                                        optionValue="nom"
                                        optionLabel="nom"
                                        [showClear]="true"
                                        [filter]="false" style="margin-right: 5px"></p-dropdown>
                   <input type="text" pInputText style="margin-right: 5px" placeholder="Date Complaint"
                          [(ngModel)]="reclamationProfSearch.dateReclamation"/>


                            <p-dropdown placeholder="Etat" [itemSize]="2"
                                        [options]="processingStatus" [(ngModel)]="reclamationProfSearch.traite"
                                        [showClear]="true"
                                        [filter]="false" style="margin-right: 5px"></p-dropdown>
                            <p-button label="Search" style="margin-right: 5px"
                                      (click)="findAllByCriteriaProf()"></p-button>

                        </ng-template>
                    </p-toolbar>
                    <p-table #dt [rows]="10" [paginator]="true"
                             [value]="reclamationProfList"
                             [globalFilterFields]="['reference','total','totalPaye']"
                             [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                             [showCurrentPageReport]="true">

                        <ng-template pTemplate="header">
                            <tr>

                                <th pSortableColumn="Code">Code</th>
                                <th pSortableColumn="prof">Prof</th>
                                <th pSortableColumn="Date">Date Reclamation</th>
                                <th pSortableColumn="Number Of Sessions">Etat</th>
                                <th>Action</th>
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-reclamationProf>
                            <tr>
                                <td><strong>{{reclamationProf.reference}}</strong>

                                </td>
                                <td>{{reclamationProf.prof.nom}} {{reclamationProf.prof.prenom}}</td>
                                <td>
                                    <strong>
                                        <i class="pi pi-calendar"></i>   {{ reclamationProf.dateReclamation | date : "yyyy-MM-dd"}}
                                    </strong>
                                    <br>
                                    <strong>
                                        <i class="pi pi-clock"></i> {{ reclamationProf.dateReclamation | date : "HH:mm"}}
                                    </strong>

                                </td>
                                <td>
                                    <p-message *ngIf="!reclamationProf.traite" severity="warn" text="Being Processed"
                                               styleClass="p-mr-2"></p-message>
                                    <p-message *ngIf="reclamationProf.traite" severity="success" text="Processed"
                                               styleClass="p-mr-2"></p-message>
                                </td>


                                <td>

                                    <button pButton type="button" class="p-button-info p-mr-2" label="See The Message"
                                            (click)="showReclamationViewProf(reclamationProf.id)"
                                            icon="pi pi-align-justify"></button>

                                </td>
                                <td>
                                    <button pButton type="button" class="p-button-success p-mr-2" label="Reply To Message"
                                            (click)="showReclamationEditProf(reclamationProf)"
                                            icon="pi pi-pencil"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">

                        </ng-template>
                    </p-table>
                </p-tabPanel>

                <p-tabPanel header="Complaint Student">
                    <p-toolbar styleClass="p-mb-4">
                        <ng-template pTemplate="left">

                        </ng-template>
                        <ng-template pTemplate="right">
                            <input type="text" pInputText style="margin-right: 5px" placeholder="Code"
                                   [(ngModel)]="reclamationEtudiantSerch.reference"/>
                            <p-dropdown placeholder="Student Name" [itemSize]="2"
                                        [(ngModel)]="reclamationEtudiantSerch.etudiant.nom"
                                        [options]="studentList"
                                        optionLabel="nom"
                                        optionValue="nom"
                                        [showClear]="true"
                                        [filter]="false" style="margin-right: 5px"></p-dropdown>
                            <input type="date"  pInputText placeholder="Date Complaint" 
                                   style="margin-right: 5px"
                                   [(ngModel)]="reclamationEtudiantSerch.dateReclamation" />

                            <p-dropdown placeholder="Etat" [itemSize]="2"
                                        [options]="processingStatus"
                                        [showClear]="true"
                                        [(ngModel)]="reclamationEtudiantSerch.traite"
                                        [filter]="false" style="margin-right: 5px"></p-dropdown>
                            <p-button label="Search" style="margin-right: 5px" (click)="findAllByCriteria()"></p-button>

                        </ng-template>
                    </p-toolbar>
                    <p-table #dt [rows]="10" [paginator]="true" [value]="reclamationEtudiantList"
                             [globalFilterFields]="['reference','total','totalPaye']"
                             [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                             [showCurrentPageReport]="true">

                        <ng-template pTemplate="header">
                            <tr>

                                <th pSortableColumn="Code">Code</th>
                                <th pSortableColumn="prof">Student</th>
                                <th pSortableColumn="Date">Date Reclamation</th>
                                <th pSortableColumn="Number Of Sessions">Etat</th>
                                <th>Action</th>
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-reclamationEtudiant>
                            <tr>
                                <td><strong> {{reclamationEtudiant.reference}}</strong>
                                </td>
                                <td>{{reclamationEtudiant.etudiant.nom}} {{reclamationEtudiant.etudiant.prenom}}</td>
                                <td>
                                    <strong>
                                        <i class="pi pi-calendar"></i>   {{ reclamationEtudiant.dateReclamation | date : "yyyy-MM-dd"}}
                                    </strong>
                                    <br>
                                    <strong>
                                        <i class="pi pi-clock"></i> {{ reclamationEtudiant.dateReclamation | date : "HH:mm"}}
                                    </strong>

                                </td>
                                <td>
                                    <p-message *ngIf="!reclamationEtudiant.traite" severity="warn"
                                               text="Being Processed"
                                               styleClass="p-mr-2"></p-message>
                                    <p-message *ngIf="reclamationEtudiant.traite" severity="success" text="Processed"
                                               styleClass="p-mr-2"></p-message>
                                </td>
                                <td>

                                    <button pButton type="button" class="p-button-info p-mr-2"
                                            (click)="showReclamationViewEtudiant(reclamationEtudiant.id,reclamationEtudiant.etudiant.id)" label="See The Message"
                                            icon="pi pi-align-justify"></button>


                                </td>
                                <td>
                                    <button pButton type="button" class="p-button-success p-mr-2"
                                            (click)="showEtudiantEdit(reclamationEtudiant.id,reclamationEtudiant.etudiant.id)" label="Reply To Message"
                                            icon="pi pi-pencil"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">

                        </ng-template>
                    </p-table>
                </p-tabPanel>

            </p-tabView>

        </div>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>

    <app-complaint-edit-prof></app-complaint-edit-prof>
    <app-complaint-view-prof></app-complaint-view-prof>
    <app-complaint-edit-etudiant></app-complaint-edit-etudiant>
    <app-complaint-view-etudiant></app-complaint-view-etudiant>
</div>

