<p-table #dt [value]="listetudiantreview" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true"
         [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
         [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
         [filterDelay]="0" [globalFilterFields]="['etudiant.nom','cours.libelle','comment','dateReview']">
    <ng-template pTemplate="caption">
        <div class="table-header">
            List of Student Review

        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="etudiant.nom">Student Name
                <p-sortIcon field="etudiant.nom"></p-sortIcon>
            </th>
            <th pSortableColumn="cours.libelle">Course
                <p-sortIcon field="cours.libelle"></p-sortIcon>
            </th>
            <th pSortableColumn="comment">Comment
                <p-sortIcon field="comment"></p-sortIcon>
            </th>
            <th pSortableColumn="dateReview">DateReview
                <p-sortIcon field="dateReview"></p-sortIcon>
            </th>
            <th pSortableColumn="reply">Reply
                <p-sortIcon field="reply"></p-sortIcon>
            </th>
        </tr>
        <tr>

            <th>
                <input pInputText type="text" placeholder="Search by Student Name" class="p-column-filter" [(ngModel)]="searchetudiantreview.etudiant.nom" (keyup)="findByCriteriastudentname(searchetudiantreview.etudiant.nom)">
            </th>
            <th>
                <input pInputText type="text" placeholder="Search by Course" class="p-column-filter" [(ngModel)]="searchetudiantreview.cours.libelle" (keyup)="findByCriteriacoursname(searchetudiantreview.cours.libelle)">
            </th>
            <th>
            </th>
            <th>
                <p-calendar [showButtonBar]="true" styleClass="p-column-filter" placeholder="Search By DateReview"
                            [readonlyInput]="true" dateFormat="yy-mm-dd" [(ngModel)]="searchetudiantreview.dateReview" (keyup)="findByCriteriadate(searchetudiantreview.dateReview)"></p-calendar>
            </th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-review>
        <tr >

            <td>
                <span class="image-text"> {{review.etudiant.nom}}</span>
            </td>
            <td>
                <span class="image-text">  {{review.cours.libelle}}</span>
            </td>
            <td><span class="image-text">  {{review.comment}}</span>

            </td>
            <td><span class="image-text"> {{review.dateReview}}</span>
            </td>
            <td>
                <button pButton pRipple type="button" label="Reply" class="p-button-rounded p-button-help"></button>
            </td>

        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8">No customers found.</td>
        </tr>
    </ng-template>
</p-table>
