<main>
    <app-header-one header__white="header__white"></app-header-one>
    <app-breadcrumb title="About" subtitle="About us"></app-breadcrumb>
    <div style="padding: 100px 0;" class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="about page__title">About</h1>
                    </div>


                    <div style="margin: 40px 0" class="col-md-12">
                        <p class="about-text ">
                            Engflexy is the first interactive platform for learning English in the Arab world (100% online). Engflexy's mission is to simplify and facilitate access to English language learning and to build an educational institution that inspires.
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-md-6 col-sm-12">

            </div>
        </div>
    </div>
</main>

