.about{
  color: #ff725e;
}
.about-text{
  font-size: 25px;
  letter-spacing: 2px;
  line-height: 50px;
  font-weight: 500;
  font-family: revert;
}

.about-img{
  background: #ff725e;
  padding: 29px;
  border-radius: 30px;
}

.about-title{
  color: #ff725e;
}

.about-title-detail{
  font-size: 17px;
  line-height: 30px;
  font-weight: 500;
  font-family: revert;
  color: black;
}
