<main>
    <app-header-one header__white="header__white"></app-header-one>
    <app-breadcrumb title="{{'About' | translate}}" subtitle="{{'aboutus' | translate}}"></app-breadcrumb>
    <div style="padding: 100px 0;" class="container">
        <div class="row">
            <div style="padding: 13% 0;" class="col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="about page__title">{{'aboutus' | translate}}</h1>
                    </div>


                    <div style="margin: 40px 0" class="col-md-12">
                        <p class="about-text ">
                            {{'EngFlexy'| translate}}
                        </p>
                    </div>

                </div>
            </div>


            <div class="col-md-6 col-sm-12">
                <div class="row">


                    <ng-container style="margin-bottom: 40px">
                        <div class="col-md-3">
                            <img class="about-img" src="/assets/icons/icon-question.png" alt="">
                        </div>
                        <div class="col-md-9">
                            <h2 class="about-title">{{'DevelopersTitle' | translate}}</h2>
                            <p class="about-title-detail">
                                {{'Developers' | translate}}
                            </p>
                        </div>
                    </ng-container>


                    <ng-container >
                        <div style="margin: 60px 0" class="col-md-3">
                        </div>
                        <div style="margin: 60px 0" class="col-md-9">
                        </div>
                    </ng-container>




                    <ng-container>
                        <div class="col-md-3">
                            <img class="about-img" src="/assets/icons/icon-developers.png" alt="">
                        </div>
                        <div class="col-md-9">
                            <h2 class="about-title">{{'wheredidTitle' | translate}}</h2>
                            <p class="about-title-detail">
                               {{'wheredid' | translate}}
                            </p>
                        </div>
                    </ng-container>


<!--                    <ng-container >-->
<!--                        <div style="margin: 60px 0" class="col-md-3">-->
<!--                        </div>-->
<!--                        <div style="margin: 60px 0" class="col-md-9">-->
<!--                        </div>-->
<!--                    </ng-container>-->


<!--                    <ng-container>-->
<!--                        <div class="col-md-3">-->
<!--                            <img class="about-img" src="/assets/icons/icon-developers.png" alt="">-->
<!--                        </div>-->
<!--                        <div class="col-md-9">-->
<!--                            <h2 class="about-title">Research</h2>-->
<!--                            <p class="about-title-detail">-->
<!--                                Young people are passionate about achieving their goals to move-->
<!--                                our region forward by leveraging-->
<!--                                cutting-edge technology to simplify and improve learning.-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </ng-container>-->








                </div>
            </div>
        </div>
    </div>
</main>

