<div class="p-grid">


    <div class="p-col-12">
        <p-accordion>
            <p-accordionTab *ngFor="let qst of selectedQuiz.questions "
                            [header]=" (qst.numero.toString()) + ' ' + qst.typeDeQuestion.lib">

                <div class="p-grid">
                    <div class="p-col-1">
                        <h6>Number</h6>
                        <input [style]="{width: '100%'}" pInputText type="number" name="numero"  [(ngModel)]="qst.numero">
                    </div>

                    <div class="p-col-7">
                        <h6>Question</h6>
                        <textarea required [style]="{width:'100%', padding: '10px'}" rows="2"
                                  [(ngModel)]="qst.libelle"
                                  pInputTextarea
                                  autoResize="autoResize"></textarea>
                    </div>

                    <div class="p-col-2">
                        <h6>True</h6>
                        <p-inputNumber [(ngModel)]="qst.pointReponseJuste"
                                       placeholder="Point of true answer"></p-inputNumber>
                    </div>

                    <div class="p-col-2">
                        <h6>False</h6>
                        <p-inputNumber [(ngModel)]="qst.pointReponsefausse"
                                       placeholder="Point of false answer"></p-inputNumber>
                    </div>

                    <div *ngFor="let rps of qst.reponses" class="p-col-4">
                        <h6>Answer  {{rps.numero}}</h6>
                        <textarea required [style]="{width:'100%', padding: '10px'}" rows="2"
                                  [(ngModel)]="rps.lib"
                                  pInputTextarea
                                  autoResize="autoResize"></textarea>
                        <div class="field-checkbox">
                            <p-selectButton [options]="stateOptions" [(ngModel)]="rps.etatReponse" optionLabel="value"
                                            optionValue="value"></p-selectButton>
                        </div>
                    </div>
                </div>

            </p-accordionTab>
        </p-accordion>
    </div>
    <div class="p-col-4"></div>
    <div class="p-col-4">
        <button [style]="{width: '100%'}" pButton pRipple
                (click)="save()"
                type="button" label="Save changes" class="p-button-success"></button>

    </div>
    <div class="p-col-4"></div>
</div>
