<div class="p-grid">
    <div class="p-col-12">

        <p-toast></p-toast>


        <div class="card" style="background-color: gainsboro">

            <p-toolbar styleClass="p-mb-4">

                <ng-template pTemplate="left">
                    <button (click)="deleteMultiple()" [disabled]="!selectes || !selectes.length"
                            class="p-button-danger p-mb-2" icon="pi pi-trash" label="Delete"
                            pButton pRipple></button>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload [maxFileSize]="1000000" accept="image/*" chooseLabel="Import"
                                  class="p-mr-2 p-mb-2 p-d-inline-block"
                                  label="Import" mode="basic"></p-fileUpload>
                    <button (click)="dt.exportCSV()" class="p-button-info p-mb-2" icon="pi pi-upload" label="Export"
                            pButton
                            pRipple></button>
                </ng-template>
            </p-toolbar>
            <div class="card">
                <h5>Manage Inscriptions </h5>
                <p-tabView (onChange)="handleChange($event)">
                    <p-tabPanel header="All inscription">
                        <p-table #dt [(selection)]="selectes" [columns]="cols"
                                 [globalFilterFields]="['numeroInscription','datedebutinscription','datefininscription' , 'nom', 'prenom' , 'prof' , 'etatInscription']"
                                 [paginator]="true"
                                 [rowHover]="true"
                                 [rows]="6" [showCurrentPageReport]="true" [value]="this.items"
                                 currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                 dataKey="id"
                                 styleClass="p-datatable-customers">
                            <ng-template pTemplate="caption">
                                <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                                    <div class="p-col"><br>
                                        <span>
                                     <input [(ngModel)]="student.nom" pInputText
                                            placeholder="Search by LastName"
                                            style="margin-right: 10px;width: 200px"
                                            type="text"/>
                                     <input [(ngModel)]="student.prenom  " pInputText
                                            placeholder="Search by FirstName"
                                            style="margin-right: 10px;width: 200px"
                                            type="text"/>
                                    <input [(ngModel)]="student.username " pInputText
                                           placeholder="Search by UserName"
                                           style="margin-right: 10px;width: 200px"
                                           type="text"/>

                           <button pButton pRipple type="button" icon="pi pi-search" (click)="findByCriteria()"
                                   style="margin-left: 25px"
                                   class="p-button-rounded p-button-success"></button>
                            </span>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 3rem">
                                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                    </th>
                                    <th pSortableColumn="id">Id
                                        <p-sortIcon field="id"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="nom">LastName
                                        <p-sortIcon field="nom"></p-sortIcon>
                                    </th>

                                    <th pSortableColumn="prenom">FirstName
                                        <p-sortIcon field="prenom"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="Address">Address
                                        <p-sortIcon field="Address"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="mail">E-mail
                                        <p-sortIcon field="mail"></p-sortIcon>
                                    </th>
                                    <th>Validate Registration</th>
<!--                                    <th>View Details</th>-->
<!--                                    <th>Delete Registration</th>-->

                                </tr>
                            </ng-template>
                            <ng-template let-inscription pTemplate="body">
                                <tr>
                                    <td>
                                        <p-tableCheckbox [value]="inscription"></p-tableCheckbox>
                                    </td>
                                    <td>{{inscription.id}}</td>
                                    <td>{{inscription.etudiant.nom}}</td>
                                    <td>{{inscription.etudiant.prenom}}</td>
                                    <td>{{inscription.etudiant.addresse}}</td>
                                    <td>{{inscription.etudiant.username}}</td>
                                    <td>
                                        <button *ngIf="inscription.etatInscription.libelle !== 'Validated'"
                                                (click)="edit(inscription)"
                                                class=" p-button-success " label="Validate" pButton
                                                pRipple></button>
                                    </td>
                                    <td>
                                        <button (click)="view(inscription)"
                                                class="p-button-rounded p-button-info p-mr-2" icon="pi pi-list" pButton
                                                pRipple></button>
                                        <button (click)="showEditDialog(inscription)"
                                                class="p-button-rounded p-button-success p-mr-2" icon="pi pi-pencil" pButton
                                                pRipple></button>

                                        <button  (click)="delete(inscription)" class="p-button-rounded p-button-danger"
                                                 icon="pi pi-trash" pButton
                                                 pRipple></button>
                                    </td>

<!--                                    <td>-->
<!--                                        <button  class="p-button-info " label="details" pButton-->
<!--                                                pRipple></button>-->
<!--                                    </td>-->
<!--                                    <td>-->
<!--                                        <button class="p-button-danger" label="delete" pButton-->
<!--                                                pRipple></button>-->
<!--                                    </td>-->


                                </tr>
                            </ng-template>
                            <ng-template pTemplate="summary">
                                <div class="p-d-flex p-ai-center p-jc-between">
                                    In total there are {{items ? items.length : 0 }} items.
                                </div>
                            </ng-template>
                        </p-table>

                    </p-tabPanel>
                    <p-tabPanel header="Pending inscription">
                        <p-table #dt [(selection)]="selectes" [columns]="cols"
                                 [globalFilterFields]="['numeroInscription','datedebutinscription','datefininscription' , 'nom', 'prenom' , 'prof' , 'etatInscription']"
                                 [paginator]="true"
                                 [rowHover]="true"
                                 [rows]="6" [showCurrentPageReport]="true" [value]="this.items"
                                 currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                 dataKey="id"
                                 styleClass="p-datatable-customers">
                            <ng-template pTemplate="caption">
                                <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                                    <div class="p-col"><br>
                                        <span>
                                     <input [(ngModel)]="student.nom" pInputText
                                            placeholder="Search by LastName"
                                            style="margin-right: 10px;width: 200px"
                                            type="text"/>
                                     <input [(ngModel)]="student.prenom  " pInputText
                                            placeholder="Search by FirstName"
                                            style="margin-right: 10px;width: 200px"
                                            type="text"/>
                                    <input [(ngModel)]="student.username " pInputText
                                           placeholder="Search by UserName"
                                           style="margin-right: 10px;width: 200px"
                                           type="text"/>

                           <button pButton pRipple type="button" icon="pi pi-search" (click)="findByCriteria()"
                                   style="margin-left: 25px"
                                   class="p-button-rounded p-button-success"></button>
                            </span>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 3rem">
                                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                    </th>
                                    <th pSortableColumn="id">Id
                                        <p-sortIcon field="id"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="nom">LastName
                                        <p-sortIcon field="nom"></p-sortIcon>
                                    </th>

                                    <th pSortableColumn="prenom">FirstName
                                        <p-sortIcon field="prenom"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="Address">Address
                                        <p-sortIcon field="Address"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="mail">E-mail
                                        <p-sortIcon field="mail"></p-sortIcon>
                                    </th>
                                    <th>Validate Registration</th>
                                    <th>View Details</th>
                                    <th>Delete Registration</th>

                                </tr>
                            </ng-template>
                            <ng-template let-inscription pTemplate="body">
                                <tr>
                                    <td>
                                        <p-tableCheckbox [value]="inscription"></p-tableCheckbox>
                                    </td>
                                    <td>{{inscription.id}}</td>
                                    <td>{{inscription.etudiant.nom}}</td>
                                    <td>{{inscription.etudiant.prenom}}</td>
                                    <td>{{inscription.etudiant.addresse}}</td>
                                    <td>{{inscription.etudiant.username}}</td>
                                    <td>
                                        <button *ngIf="inscription.etatInscription.libelle !== 'Validated'"
                                                (click)="edit(inscription)"
                                                class=" p-button-success " label="Validate" pButton
                                                pRipple></button>
                                    </td>
                                    <td>
                                        <button (click)="view(inscription)" class="p-button-info " label="details" pButton
                                                pRipple></button>
                                    </td>
                                    <td>
                                        <button (click)="delete(inscription)" class="p-button-danger" label="delete" pButton
                                                pRipple></button>
                                    </td>


                                </tr>
                            </ng-template>
                            <ng-template pTemplate="summary">
                                <div class="p-d-flex p-ai-center p-jc-between">
                                    In total there are {{items ? items.length : 0 }} items.
                                </div>
                            </ng-template>
                        </p-table>

                    </p-tabPanel>
                </p-tabView>
            </div>


        </div>


        <app-inscription-create></app-inscription-create>

        <app-inscription-edit></app-inscription-edit>

        <app-inscription-view></app-inscription-view>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>


<!------------------------ edit inscription Dialog -------------------------------------------------->


<p-dialog header="Registration Details" [(visible)]="editInscDialog" [style]="{width: '70vw'}">

    <div class="p-grid">

        <div class="p-col-4">
            <span class="p-float-label">
                 <input  type="text" pInputText [(ngModel)]="inscription.etudiant.nom"><label >First name</label>
            </span>
        </div>

        <div class="p-col-4">
            <span class="p-float-label">
                 <input  type="text" pInputText [(ngModel)]="inscription.etudiant.prenom"><label >Last name</label>
            </span>
        </div>


        <div class="p-col-4">
            <span class="p-float-label">
                 <p-dropdown [options]="teachers" [(ngModel)]="inscription.prof" optionLabel="nom"></p-dropdown>
                 <label>Level</label>
            </span>
        </div>

<!--        <div class="p-col-4">-->
<!--            <span class="p-float-label">-->
<!--                 <input  disabled type="text" pInputText [(ngModel)]="inscription.prof"><label-->
<!--            >Teacher</label>-->
<!--            </span>-->
<!--        </div>-->


        <div class="p-col-4">
            <span class="p-float-label">
                 <p-dropdown [options]="parcours" [(ngModel)]="inscription.parcours" optionLabel="libelle"></p-dropdown>
                 <label>Level</label>
            </span>
        </div>


        <div class="p-col-4">
            <span class="p-float-label">
                 <p-dropdown [options]="etatInsc" [(ngModel)]="inscription.etatInscription" optionLabel="libelle"></p-dropdown>
                 <label>State</label>
            </span>
        </div>


        <div class="p-col-4">
            <span class="p-float-label">
                 <p-dropdown [options]="groupEtudes" [(ngModel)]="inscription.groupeEtude" optionLabel="libelle"></p-dropdown>
                 <label>Group option</label>
            </span>
        </div>
        <div class="p-col-4">
            <span class="p-float-label">
                 <p-dropdown (click)="findTypeOfPack(inscription)" [options]="packStudents" [(ngModel)]="inscription.packStudent" optionLabel="libelle"></p-dropdown>
                <label>Pack option</label>
            </span>

        </div>




        <div class="p-col-4">
            <span class="p-float-label">
          <p-calendar id="start" [(ngModel)]="inscription.datedebutinscription" [showTime]="true" name="StartTime"
                      class="e-field"
                      data-name="startTime"
                      [showIcon]="true"
                      inputId="start"></p-calendar> <label> Start date</label>
            </span>
        </div>

        <div class="p-col-4">
            <span class="p-float-label">
          <p-calendar id="finish" [(ngModel)]="inscription.datefininscription" [showTime]="true" name="finishDate"
                      class="e-field"
                      data-name="startTime"
                      [showIcon]="true"
                      inputId="start"></p-calendar> <label> Finish date</label>
            </span>
        </div>

<!--        <div class="p-col-4">-->
<!--            <span class="p-float-label">-->
<!--                 <input  type="text" pInputText [(ngModel)]="inscription.ville"><label-->
<!--            >City</label>-->
<!--            </span>-->
<!--        </div>-->

        <div class="p-col-4">
        </div>

        <div class="p-col-4">


        </div>


    </div>


    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" icon="pi pi-save" label="save changes"
                (click)="updateInsc(inscription) ; editInscDialog=false"
                class="p-button-raised-primary"></button>
    </ng-template>
</p-dialog>
