<p-dialog [(visible)]="displayReclamationViewEtudiant" [modal]="true" [style]="{width: '450px'}"
          header="Student Complaint Details" styleClass="p-fluid">
    <ng-template pTemplate="content">

        <div class="p-field">
            <p-message *ngIf="reclamationEtudiantView.postView" severity="info" text="Message has been seen" ></p-message>

            <p-message *ngIf="!reclamationEtudiantView.postView" severity="error" text="The message has not been seen"></p-message>
        </div>
        <div class="p-field">
            <label for="reference">Code</label>
            <input autofocus id="reference" pInputText required type="text"
                   [(ngModel)]="reclamationEtudiantView.reference" disabled>
        </div>
        <div class="p-field">
            <label for="dateReclamation">Date Reclamation</label>
            <input autofocus id="dateReclamation" pInputText required type="text" [(ngModel)]="reclamationEtudiantView.dateReclamation"   disabled>
        </div>
        <div class="p-field">
            <label for="objetmessage">Objet Message</label>
            <input type="text" pInputText id="objetmessage"  disabled  [(ngModel)]="reclamationEtudiantView.objetReclamationEtudiant" />

        </div>
        <div class="p-field">
            <label for="message">Message</label>
            <textarea pInputTextarea id="message" disabled  [(ngModel)]="reclamationEtudiantView.message" ></textarea>
        </div>
        <div *ngIf="reclamationEtudiantView.postView">

        <div class="p-field">
            <label for="adminName">Admin Name</label>
            <input type="text" pInputText id="adminName"  disabled [(ngModel)]="reclamationEtudiantView.admin.nom+' '+reclamationEtudiantView.admin.prenom"   />

        </div>
        <div class="p-field">
            <label for="commentaireTraiteur">Comment Admin</label>
            <textarea pInputTextarea id="commentaireTraiteur" disabled  [(ngModel)]="reclamationEtudiantView.commentaireTraiteur" ></textarea>
        </div>
        <div class="p-field">
            <label for="adminName">Reply Date</label>
            <input type="text" pInputText id="replydate" disabled
                   [(ngModel)]="reclamationEtudiantView.dateReponse"/>

        </div>
        <div class="p-field">
            <label for="adminName">Processing Date</label>
            <input type="text" pInputText id="processingdate" disabled
                   [(ngModel)]="reclamationEtudiantView.dateTraitement"/>

        </div>
        </div>
        <div class="p-field">
            <label for="etat">Processing Status</label>
            <p-message *ngIf="!reclamationEtudiantView.traite" severity="warn" text="Being Processed" id="etat"
                       styleClass="p-mr-2"></p-message>
            <p-message *ngIf="reclamationEtudiantView.traite" severity="success" text="Processed" id="etat"
                       styleClass="p-mr-2"></p-message>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">

        <p-button label="Close" (click)="hide()"></p-button>

    </ng-template>
</p-dialog>
