<div class="p-grid p-shadow-5">


    <div class="p-col-2" style="text-align: center;">
        <img [src]="user?.image" alt="Image" width="250">
    </div>
    <div class="p-col-6">
        <h3>{{ user?.nom}}</h3>         <!---- pi-user -->
        <h5>Admin</h5>
        <button pButton pRipple type="button" icon="pi pi-image " class="p-button-rounded p-button-secondary"
                (click)="updateProfileImage()"
        ></button>


        <!-- profile image change form -->
        <form enctype="multipart/form-data" style="display:none;">
            <input type="file"
                   (change)="onProfileImageChange($event); onUpdateProfileImage()"
                   name="profile-image-input" id="profile-image-input" placeholder="file" accept="image/*"/>
        </form>

    </div>

    <div class="p-col-12">
        <div class="p-grid">


            <div class="p-col-4">
            <span class="p-float-label">
                 <input  type="text" pInputText [(ngModel)]="user.nom"><label >Full name</label>
            </span>
            </div>


            <div class="p-col-4">
            <span class="p-float-label">
                 <input  disabled type="text" pInputText [(ngModel)]="user.username"><label
                    >Username</label>
            </span>
            </div>


            <div class="p-col-4">
            <span class="p-float-label">
                 <input  type="number" pInputText [(ngModel)]="user.age"><label
                    >Age</label>
            </span>
            </div>


            <div class="p-col-4">
            <span class="p-float-label">
                 <input  type="text" pInputText [(ngModel)]="user.addresse"><label >Address</label>
            </span>
            </div>


            <div class="p-col-4">
            <span class="p-float-label">
                 <input  type="text" pInputText [(ngModel)]="user.numero"><label
                    >Phone</label>
            </span>
            </div>

            <div class="p-col-4">
            <span class="p-float-label">
                 <input  type="text" pInputText [(ngModel)]="user.ville"><label
                    >City</label>
            </span>
            </div>

            <div class="p-col-4">
            </div>

            <div class="p-col-4">
                <button pButton pRipple type="button" icon="pi pi-save" label="save changes"
                        (click)="updateUser(user)"
                        class="p-button-raised-primary"></button>

            </div>


        </div>
    </div>

</div>




<!-----------------------------------------------------List of users-------------------------------------------------------->

<div class="p-grid p-shadow-5" *ngIf="this.isSuperAdmin(this.user)">

    <div class="p-col-6">
        <span class="p-input-icon-left">
            <input type="search"  #searchInput  pInputText placeholder="Search users.."/>
            <button pButton pRipple type="button" icon="pi pi-search" (click)="searchUsers(searchInput.value)" style="margin-left: 25px"
                    class="p-button-rounded p-button-success"></button>

        </span>
    </div>


    <div class="p-col-6" style="text-align: right">
        <button pButton pRipple label="New Admin" type="button" icon="pi pi-user-plus" (click)="showAddUserDialog()"
                class="p-button-rounded  p-button-success"></button>
    </div>

    <div class="p-col-12">

        <div class="card">
            <h5>Admins</h5>
            <div class="p-mb-3">
                <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()"
                          styleClass="p-button-text"></p-button>
                <p-button type="button" icon="pi pi-refresh" (click)="reset()" styleClass="p-button-text"></p-button>
                <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()"
                          styleClass="p-button-text"></p-button>
            </div>
            <p-table [value]="users" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true"
                     [(first)]="first" responsiveLayout="scroll"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                     [rowsPerPageOptions]="[10,25,50]">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Name</th>
                        <th>Username</th>
                        <th>City</th>
                        <th>Role</th>
                        <!--                        <th>Action</th>-->
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user >
                    <tr>
                        <td>{{user?.nom}} {{ user?.prenom}}</td>
                        <td>{{user?.username}}</td>
                        <td>{{user?.ville}}</td>
                        <td *ngIf="isAdmin(user)">Admin</td>
                        <td *ngIf="isProf(user)">Teacher</td>
                        <td *ngIf="isStudent(user)">Student</td>
                        <td>
                            <button pButton pRipple type="button" icon="pi pi-user-edit" (click)="showEditDialog(user)"
                                    class="p-button-rounded p-button-warning"></button>
                            <button pButton pRipple type="button" icon="pi pi-times" (click)="showDeleteDialog(user,index)"
                                    class="p-button-rounded p-button-danger"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>


</div>


<!------------------------ delete User Dialog -------------------------------------------------->


<p-dialog id="delete-dialog" [(visible)]="deleteDialog"  [style]="{width: '40vw'}"
          [draggable]="false" [resizable]="false">
    <h4>Are you sure you want to delete this admin!</h4>
    <ng-template pTemplate="footer">
        <p-button (click)="deleteDialog=false" label="No" styleClass="p-button-text"></p-button>
        <p-button (click)="deleteDialog=false; deleteUser()" label="Yes" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>


<!------------------------ edit User Dialog -------------------------------------------------->


<p-dialog header="Admin information" [(visible)]="editDialog" [style]="{width: '70vw'}">

    <div class="p-grid">

        <div class="p-col-4">
            <span class="p-float-label">
                 <input  type="text" pInputText [(ngModel)]="userInfo.nom"><label >Full name</label>
            </span>
        </div>


        <div class="p-col-4">
            <span class="p-float-label">
                 <input  disabled type="text" pInputText [(ngModel)]="userInfo.username"><label
                    >Username</label>
            </span>
        </div>


        <div class="p-col-4">
            <span class="p-float-label">
                 <input  type="number" pInputText [(ngModel)]="userInfo.age"><label
                    >Age</label>
            </span>
        </div>


        <div class="p-col-4">
            <span class="p-float-label">
                 <input  type="text" pInputText [(ngModel)]="userInfo.addresse"><label
                    >Address</label>
            </span>
        </div>


        <div class="p-col-4">
            <span class="p-float-label">
                 <input  type="text" pInputText [(ngModel)]="userInfo.numero"><label
                    >Phone</label>
            </span>
        </div>

        <div class="p-col-4">
            <span class="p-float-label">
                 <input  type="text" pInputText [(ngModel)]="userInfo.ville"><label
                    >City</label>
            </span>
        </div>

        <div class="p-col-4">
        </div>

        <div class="p-col-4">


        </div>


    </div>


    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" icon="pi pi-save" label="save changes"
                (click)="updateOtherUser(userInfo) ; editDialog=false"
                class="p-button-raised-primary"></button>
    </ng-template>
</p-dialog>


<!------------------------ New User Dialog -------------------------------------------------->


<p-dialog header="Admin information" [(visible)]="newUserDialog"
          [style]="{width: '70vw'}">
    <div content class=" p-dialog-content">
        <div class="p-grid">


            <div class="p-col-4">
            <span class="p-float-label">
                 <input  type="text" pInputText [(ngModel)]="newUser.nom"><label >Full name</label>
            </span>
            </div>


            <div class="p-col-4">
            <span  class="p-float-label">
                 <input required  type="text" pInputText [(ngModel)]="newUser.username"><label
                    >Username</label>
            </span>
            </div>


            <div class="p-col-4">
            <span class="p-float-label">
                 <input  type="number" pInputText [(ngModel)]="newUser.age"><label
                    >Age</label>
            </span>
            </div>


            <div class="p-col-4">
            <span class="p-float-label">
                 <input  type="text" pInputText [(ngModel)]="newUser.addresse"><label >Address</label>
            </span>
            </div>


            <div class="p-col-4">
            <span class="p-float-label">
                 <input  type="text" pInputText [(ngModel)]="newUser.numero"><label
                    >Phone</label>
            </span>
            </div>

            <div class="p-col-4">
            <span class="p-float-label">
                 <input  type="text" pInputText [(ngModel)]="newUser.ville"><label
                    >City</label>
            </span>
            </div>


            <div class="p-col-4">


            </div>

        </div>
    </div>

    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" icon="pi pi-save" label="save"
                (click)="addNewUser() ; newUserDialog=false"
                class="p-button-raised-primary"></button>
    </ng-template>
</p-dialog>
