img{
  width: 111px;
  background-color: #607d8b;
  border-radius: 25%;
}



.p-grid{
  margin-top: 10px;
}


.p-dialog-content {
  height: 280px !important;
}

select{
  width: 181px;
  height: 30px;
  border: 1px solid #d1d6da;
  border-radius: 5px;
}


.searchInput{
  margin-right: 1%;
}
body {
  background-color: #f9f9fa
}


.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  border: none;
  margin-bottom: 30px
}



.bg-c-lite-green {
  background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
  background: linear-gradient(to right, #ee5a6f, #f29263)
}

.user-profile {
  padding: 20px 0
}

.card-block {
  padding: 1.25rem
}

.m-b-25 {
  margin-bottom: 25px
}

.img-radius {
  border-radius: 5px
}

h6 {
  font-size: 14px
}

.card .card-block p {
  line-height: 25px
}

@media only screen and (min-width: 140px) {
  p {
    font-size: 14px
  }
}

.card-block {
  padding: 1.25rem
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0
}

.m-b-20 {
  margin-bottom: 20px
}

.p-b-5 {
  padding-bottom: 5px !important
}

.card .card-block p {
  line-height: 25px
}

.m-b-10 {
  margin-bottom: 10px
}

.text-muted {
  color: #919aa3 !important
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0
}

.f-w-600 {
  font-weight: 600
}

.m-b-20 {
  margin-bottom: 20px
}

.m-t-40 {
  margin-top: 20px
}

.p-b-5 {
  padding-bottom: 5px !important
}

.m-b-10 {
  margin-bottom: 10px
}

.m-t-40 {
  margin-top: 20px
}

.user-card-full .social-link li {
  display: inline-block
}

.user-card-full .social-link li a {
  font-size: 20px;
  margin: 0 10px 0 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out
}

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

/* Rounded tabs */

.nav-item{
  cursor: pointer;
}

@media (min-width: 576px) {
  .rounded-nav {
    border-radius: 50rem !important;
  }
}

@media (min-width: 576px) {
  .rounded-nav .nav-link {
    border-radius: 50rem !important;
  }
}

/* With arrow tabs */

.with-arrow .nav-link.active {
  position: relative;
}

.with-arrow .nav-link.active::after {
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #263238;
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}

/* lined tabs */

.lined .nav-link {
  border: none;
  border-bottom: 3px solid transparent;
}

.lined .nav-link:hover {
  border: none;
  border-bottom: 3px solid transparent;
}

.lined .nav-link.active {
  background: none;
  color: #ff725e;
  border-color: #263238;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #263238;
}





.nav-pills .nav-link {
  color: #263238;
}
.text-uppercase {
  letter-spacing: 0.1em;
}

.schedule-block-events.e-schedule .e-timeline-view .e-appointment .template-wrap .subject {
  padding: 10px 25px;
}

.schedule-block-events .subject {
  text-align: center;
}

.schedule-block-events.e-schedule .template-wrap {
  width: 100%;
}

.schedule-block-events.e-schedule .e-vertical-view .e-resource-cells {
  height: 58px;
}

.schedule-block-events.e-block-appointment .subject,
.schedule-block-events.e-schedule .e-vertical-view .e-appointment .template-wrap .subject {
  padding-top: 10px;
}

.schedule-block-events.e-schedule .e-timeline-view .e-resource-left-td,
.schedule-block-events.e-schedule .e-timeline-month-view .e-resource-left-td {
  width: 170px;
}

.schedule-block-events.e-schedule .e-resource-cells.e-child-node .employee-category,
.schedule-block-events.e-schedule .e-resource-cells.e-child-node .employee-name {
  padding: 5px
}

.schedule-block-events.e-schedule .employee-image {
  width: 45px;
  height: 40px;
  float: left;
  border-radius: 50%;
  margin-right: 10px;
}

.schedule-block-events.e-schedule .employee-name {
  font-size: 13px;
}

.schedule-block-events.e-schedule .employee-designation {
  font-size: 10px;
}
