<div class="p-grid topBar">
    <div class="p-col-3 ">
        <h5>Levels</h5>
        <p-dropdown [options]="parcours" [(ngModel)]="selectedparcours"
                    (ngModelChange)="getCours()"
                    [style]="{'width': '100%'}"
                    optionLabel="libelle" [filter]="true" filterBy="libelle" [showClear]="true"
                    placeholder="Select a Level">
        </p-dropdown>

    </div>

    <div class="p-col-3 ">
        <h5>Courses</h5>
        <p-dropdown [options]="cours" [(ngModel)]="selectedcours"
                    (ngModelChange)="getSections()"
                    [style]="{'width': '100%'}"
                    optionLabel="libelle" [filter]="true" filterBy="libelle" [showClear]="true"
                    placeholder="Select a Course">
        </p-dropdown>
    </div>
</div>

<div class="p-grid contentBar">
    <div class="p-col-12">
        <p-table [value]="sections" responsiveLayout="scroll" [paginator]="true" [rows]="rows"
                 [showCurrentPageReport]="true"
                 [(first)]="first"
                 currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                 [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="caption">

                <div class="p-grid">
                    <div class="p-col-3">
                        <input class="searchValue" [(ngModel)]="section.libelle" type="text" pInputText
                               placeholder="Search by Title.."/>
                    </div>
                    <div class="p-col-3">
                        <input class="searchValue" [(ngModel)]="section.categorieSection.libelle" type="text" pInputText
                               placeholder="Search by Category.."/>
                    </div>
                    <div class="p-col-3">
                        <button pButton pRipple type="button" (click)="findSection()"
                                icon="pi pi-search" class="p-button-rounded localButton p-button-text"></button>
                    </div>
                    <div class="p-col-1"></div>
                    <div class="p-col-2">
                        <button pButton pRipple type="button" (click)="showEditDialogFct(section)"
                                icon="pi pi-plus" label="Add section" class="ngFlexyBlackButton"></button>
                    </div>
                </div>

            </ng-template>


            <ng-template pTemplate="header">
                <tr>
                    <th>ID</th>
                    <th>title</th>
                    <th>Category</th>
                    <th>Image</th>
                    <th>Status</th>
                    <th>Quiz</th>
                    <th>Edit</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-section>
                <tr *ngIf="section?.categorieSection?.libelle !== CategoriesSectionItemEnum.HOME_WORK_REVIEW">
                    <td>{{section?.id}}</td>
                    <td>{{section?.libelle}}</td>
                    <td>{{section?.categorieSection?.libelle}}</td>
                    <td><img [src]="section?.urlImage" width="90%" (click)="showImage(section.urlImage)"
                             class="shadow-4"/></td>
                    <td *ngIf="isValidated(section)"><span class="badge">VALIDATED</span></td>
                    <td *ngIf="!isValidated(section)"><span class="badge-pending">PENDING</span></td>
                    <td>
                        <button *ngIf="section?.categorieSection?.libelle !== CategoriesSectionItemEnum.VOCABULARY" pButton
                                pRipple type="button" icon="pi pi-question-circle" (click)="showQuiz(section)"
                                pTooltip="Quiz" tooltipPosition="top"
                                label="Create quiz"
                                iconPos="left"
                                class="p-button-rounded p-button-help "></button>

                        <button *ngIf="section?.categorieSection?.libelle === CategoriesSectionItemEnum.VOCABULARY" pButton
                                pRipple type="button" icon="pi pi-question-circle"
                                (click)="createVocab(section)"
                                pTooltip="Vocabulary" tooltipPosition="top"
                                label="Vocabulary"
                                iconPos="left"
                                class="p-button-rounded p-button-help "></button>
                    </td>


                    <td>
                        <button pButton pRipple type="button" icon="pi pi-pencil" (click)="showEditDialogFct(section)"
                                pTooltip="Edit" tooltipPosition="top"
                                class="p-button-rounded localButton "></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">
                    In total there are {{ sections?.length }} sections.
                </div>
            </ng-template>
        </p-table>
    </div>
</div>

<p-sidebar [(visible)]="visibleSidebar" [fullScreen]="true" [baseZIndex]="10000">
    <img [src]="imgUrl" width="100%" height="100%" class="shadow-5"/>
</p-sidebar>

<p-dialog header="Edit Section" [(visible)]="showEditDialog" [style]="{width: '70vw'}">
    <div class="p-grid">
        <div class="p-col-3 ">
            <h6>ID</h6>
            <input disabled type="text" pInputText [(ngModel)]="localSectionSelected.id">
        </div>

        <div class="p-col-3 ">
            <h6>Number</h6>
            <input type="number" pInputText [(ngModel)]="localSectionSelected.numeroOrder">
        </div>


        <div class="p-col-3 ">
            <h6>Title</h6>
            <input type="text" pInputText [(ngModel)]="localSectionSelected.libelle">
        </div>


        <div class="p-col-3 ">
            <h6>Code</h6>
            <input type="text" pInputText [(ngModel)]="localSectionSelected.code">
        </div>


        <div class="p-col-3 ">
            <h6>Category</h6>
            <p-dropdown [options]="categorieSections" [(ngModel)]="localSectionSelected.categorieSection"
                        (onChange)="categoryChange()"
                        optionLabel="libelle" [filter]="true" filterBy="libelle" placeholder="Category"
                        [style]="{'width': '100%'}"
                        [showClear]="true">
            </p-dropdown>
        </div>


        <div class="p-col-3 ">
            <h6>Course</h6>
            <p-dropdown [options]="cours" [(ngModel)]="localSectionSelected.cours"
                        optionLabel="libelle" [filter]="true" filterBy="libelle"
                        [style]="{'width': '100%'}" placeholder="Course"
                        [showClear]="true">
            </p-dropdown>
        </div>


        <div class="p-col-3 ">
            <h6>Indication of Teacher's</h6>
            <input type="text" pInputText [(ngModel)]="localSectionSelected.indicationProf">
        </div>


        <div class="p-col-3 ">
            <h6>Question</h6>
            <input type="text" pInputText [(ngModel)]="localSectionSelected.questions">
        </div>


        <div class="p-col-3 ">
            <h6>Url image</h6>
            <input type="text" pInputText [(ngModel)]="localSectionSelected.urlImage">
        </div>


        <div class="p-col-3 ">
            <h6>Url image 2</h6>
            <input type="text" pInputText [(ngModel)]="localSectionSelected.urlImage2">
        </div>


        <div class="p-col-3 ">
            <h6>Url image 3</h6>
            <input type="text" pInputText [(ngModel)]="localSectionSelected.urlImage3">
        </div>


        <div class="p-col-3 ">
            <h6>Url video</h6>
            <input type="text" pInputText [(ngModel)]="localSectionSelected.urlVideo">
        </div>

        <div class="p-col-12">
            <h6>Content</h6>
            <textarea rows="5" cols="100%" [(ngModel)]="localSectionSelected.contenu" pInputTextarea
                      autoResize="autoResize"></textarea>
        </div>

    </div>


    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="save()" label="save changes"
                  styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>


