<h4 *ngIf="homeWorkList.length ===0" style="text-align: center; color: #ffa500">Home work not found !</h4>
<div *ngIf="homeWorkList.length !==0" class="p-grid HomeWorkcontainer">
    <div class="p-col-12 rightBar">
        <p-tabView>
            <p-tabPanel header="Home Work">
                <div *ngIf="showTakeQuiz" class="p-field">
                    <div class="p-grid">
                        <div *ngIf="showTypeOfQstBar" style=" background-color: #ffffff;  text-align: center;"
                             class="p-col-12">
                            <div style="float:left; display: inline-block; text-align: center">
                                {{homeWorkQuestion?.typeDeQuestion?.lib}}
                            </div>

                            <div *ngIf="showTypeOfQstBar && homeWorkQuestion?.typeDeQuestion?.ref !==( 't8' && 't9')"
                                 style="float:right;display: inline-block;text-align: center">{{homeWorkQuestion.numero}}
                                /{{numberOfQuestion}}</div>
                        </div>
                    </div>

                    <p-progressBar [style]="{height: '2px'}" [showValue]="false"
                                   [value]="progressBarValue"></p-progressBar>


                    <!--------------------------------- UNIQUE CHOICE-------------------------------------------------------->


                    <div *ngIf="homeWorkQuestion.typeDeQuestion.ref === 't1'" class="p-grid">
                        <div class="p-col-12 question">
                            <button [disabled]="disableButtonSon" pButton pRipple type="button"
                                    (click)="sound(homeWorkQuestion)"
                                    icon="pi pi-volume-up" class="p-button-rounded sonButton "></button>
                            <h5 class="h5"> {{  questionSideLeft}}  </h5>
                            <span class="p-float-label">
            <input *ngIf="answerSelected.lib === undefined" id="inputDashedBorder" inputId="inputDashedBorder"
                   type="text" disabled
                   [(ngModel)]="homeWorkReponse.lib"
                   class="p-inputtext-sm " pInputText/>


            <input *ngIf="answerSelected.lib !== undefined && answerIsCorrect(answerSelected, homeWorkQuestion) "
                   disabled
                   id="inputCorrectAnswer" inputId="inputDashedBorder" type="text"
                   [(ngModel)]="answerSelected.lib"
                   class="p-inputtext-sm " pInputText/>

                                <input *ngIf="answerSelected.lib !== undefined && !answerIsCorrect(answerSelected, homeWorkQuestion)"
                                       id="inputFalseAnswer" inputId="inputDashedBorder" type="text"
                                       disabled
                                       [(ngModel)]="answerSelected.lib"
                                       class="p-inputtext-sm " pInputText/>


                            <label [hidden]="answerSelected.lib === undefined || answerIsCorrect(answerSelected, homeWorkQuestion)"
                                   class="correctAnswer" for="inputDashedBorder"
                                   *ngFor="let ans of correctAnswersList?.get(homeWorkQuestion.id)">{{ ans.lib}}</label>


        </span>
                            <h5 class="h5"> {{  questionSideRight}}  </h5>
                            <h4 *ngIf="translateWord !== undefined">{{translateWord}}</h4>
                        </div>
                        <div class="p-col-12 answers">
                            <div *ngFor="let reponse of homeWorkQuestion?.reponses"
                                 class="p-field-checkbox textQuestion">
                                <p-radioButton [inputId]="reponse.lib" name="category" [(ngModel)]="homeWorkReponse.lib"
                                               (onClick)="showDontKnowButton = false; showCheckButton = true"
                                               [value]="reponse.lib"></p-radioButton>
                                <label [for]="reponse.lib">{{reponse.lib}}</label>
                            </div>
                            <button *ngIf="showCheckButton && !saveDone" pButton pRipple type="button"
                                    icon="pi pi-check" iconPos="right"
                                    label="Check answer" class="p-button-raised check-button "
                                    (click)="saveAnswers(homeWorkQuestion)">
                            </button>

                            <button *ngIf="showDontKnowButton" pButton pRipple type="button"
                                    icon="pi pi-question" iconPos="right"
                                    label="DON'T KNOW" class="p-button-rounded dont-know-button "
                                    (click)="showAnswers(homeWorkQuestion)">
                            </button>
                        </div>
                    </div>


                    <!--------------------------------- TRANSLATE THE PHRASE -------------------------------------------------------->


                    <div *ngIf="(homeWorkQuestion.typeDeQuestion.ref === 't3') && selectedHomeWork?.libelle !== 'Phrasebook'" class="p-grid">
                        <div class="p-col-12 question">
                            <h5 style="margin-top: -20px;"
                                class="translateQuestion"> {{  homeWorkQuestion?.libelle}}  </h5>

                            <span style="margin: 0" class="p-float-label">
                                        <button *ngIf="answerSelected.lib !== undefined"
                                                [disabled]="disableButtonSon" pButton pRipple type="button" (click)="sound(homeWorkQuestion)"
                                                icon="pi pi-volume-up" class="p-button-rounded sonButton ">
                                        </button>

                                        <input *ngIf="answerSelected.lib === undefined" id="input-answer" type="text"
                                               (focus)="showDontKnowButton = false ; showCheckButton=true"
                                               [(ngModel)]="homeWorkReponse.lib" pInputText>

                                        <input disabled
                                               *ngIf="answerSelected.lib !== undefined && answerIsCorrect(answerSelected, homeWorkQuestion)"
                                               id="input-answer-correct" type="text"
                                               [(ngModel)]="answerSelected.lib" pInputText>

                                        <input style="text-decoration: 2px line-through red;" disabled
                                               *ngIf="answerSelected.lib !== undefined && !answerIsCorrect(answerSelected, homeWorkQuestion)"
                                               id="input-answer-incorrect" type="text"
                                               [(ngModel)]="answerSelected.lib" pInputText>
                                        <label style="
                                           margin-left: 150px;
                                            font-size: medium;
                                             color: green;
                                             padding: 0;
                                            width: auto;
                                             margin-top: 9px;
                                             font-weight: 800;"
                                               [hidden]="answerSelected.lib === undefined || answerIsCorrect(answerSelected, homeWorkQuestion)"
                                               class="" for="inputDashedBorder"
                                               *ngFor="let ans of correctAnswersList?.get(homeWorkQuestion.id)">{{ ans.lib}}
                                        </label>
                             </span>
                        </div>

                        <div class="p-col-12 answers">
                            <button *ngIf="showCheckButton && !saveDone" pButton pRipple type="button"
                                    icon="pi pi-check" iconPos="right"
                                    label="Check answer" class="p-button-raised check-button "
                                    (click)="saveAnswers(homeWorkQuestion)">
                            </button>

                            <button *ngIf="showDontKnowButton" pButton pRipple type="button"
                                    icon="pi pi-question" iconPos="right"
                                    label="DON'T KNOW" class="p-button-rounded dont-know-button "
                                    (click)="showAnswers(homeWorkQuestion)">
                            </button>
                        </div>
                    </div>


                    <!--------------------------------- CORRECT THE MISTAKE -------------------------------------------------------->

                    <div *ngIf="homeWorkQuestion.typeDeQuestion.ref === 't4'" class="p-grid">
                        <div class="p-col-12 question">
                            <button [disabled]="disableButtonSon" pButton pRipple type="button"
                                    (click)="sound(homeWorkQuestion)"
                                    icon="pi pi-volume-up" class="p-button-rounded sonButton ">
                            </button>
                            <h5 class="h5"> {{  questionSideLeft}}  </h5>
                            <span class="p-float-label">
            <input style="font-weight: normal;" *ngIf="answerSelected.lib === undefined" id="inputQstT4"
                   (focus)="showDontKnowButton =false; showCheckButton=true;"
                   (focusin)="hidePlaceHolder('HIDE')"
                   (focusout)="hidePlaceHolder('SHOW')"
                   inputId="inputDashedBorder" type="text"
                   [placeholder]="inputAnswer"
                   [(ngModel)]="homeWorkReponse.lib" class="p-inputtext-sm " pInputText/>


            <input *ngIf="answerSelected.lib !== undefined && answerIsCorrect(answerSelected, homeWorkQuestion) "
                   disabled
                   id="inputCorrectAnswer" inputId="inputDashedBorder" type="text"
                   [(ngModel)]="answerSelected.lib"
                   class="p-inputtext-sm " pInputText/>

            <input *ngIf="answerSelected.lib !== undefined && !answerIsCorrect(answerSelected, homeWorkQuestion)"
                   disabled
                   id="inputFalseAnswer" inputId="inputDashedBorder" type="text"
                   [(ngModel)]="answerSelected.lib"
                   class="p-inputtext-sm " pInputText/>

            <label [hidden]="answerSelected.lib === undefined || answerIsCorrect(answerSelected, homeWorkQuestion)"
                   class="correctAnswer" for="inputDashedBorder"
                   *ngFor="let ans of correctAnswersList?.get(homeWorkQuestion.id)">{{ ans.lib}}</label>

        </span>
                            <h5 class="h5"> {{  questionSideRight}}  </h5>
                            <h4 *ngIf="translateWord !== undefined">{{translateWord}}</h4>

                        </div>
                        <div class="p-col-12 answers">

                            <button *ngIf="showCheckButton && !saveDone" pButton pRipple type="button"
                                    icon="pi pi-check" iconPos="right"
                                    label="Check answer" class="p-button-raised check-button "
                                    (click)="saveAnswers(homeWorkQuestion)">
                            </button>

                            <button *ngIf="showDontKnowButton" pButton pRipple type="button"
                                    icon="pi pi-question" iconPos="right"
                                    label="DON'T KNOW" class="p-button-rounded dont-know-button "
                                    (click)="showAnswers(homeWorkQuestion)">
                            </button>
                        </div>
                    </div>


                    <!--------------------------------- WRITE  THE CORRECT FORM -------------------------------------------------------->

                    <div style="font-weight: normal;" *ngIf="homeWorkQuestion.typeDeQuestion.ref === 't6'"
                         class="p-grid">
                        <div class="p-col-12 question">
                            <button [disabled]="disableButtonSon" pButton pRipple type="button"
                                    (click)="sound(homeWorkQuestion)"
                                    icon="pi pi-volume-up" class="p-button-rounded sonButton ">
                            </button>
                            <h5 class="h5"> {{  questionSideLeft}}  </h5>
                            <span class="p-float-label">
            <input *ngIf="answerSelected.lib === undefined" id="inputQstT6"
                   (focus)="showDontKnowButton =false; showCheckButton=true"
                   (focusin)="hidePlaceHolder('HIDE')"
                   (focusout)="hidePlaceHolder('SHOW')"
                   inputId="inputDashedBorder" type="text"
                   [placeholder]="inputAnswer"
                   [(ngModel)]="homeWorkReponse.lib" class="p-inputtext-sm " pInputText/>


            <input *ngIf="answerSelected.lib !== undefined && answerIsCorrect(answerSelected, homeWorkQuestion) "
                   disabled
                   id="inputCorrectAnswer" inputId="inputDashedBorder" type="text"
                   [(ngModel)]="answerSelected.lib"
                   class="p-inputtext-sm " pInputText/>

            <input *ngIf="answerSelected.lib !== undefined && !answerIsCorrect(answerSelected, homeWorkQuestion)"
                   disabled
                   id="inputFalseAnswer" inputId="inputDashedBorder" type="text"
                   [(ngModel)]="answerSelected.lib"
                   class="p-inputtext-sm " pInputText/>

            <label [hidden]="answerSelected.lib === undefined || answerIsCorrect(answerSelected, homeWorkQuestion)"
                   class="correctAnswer" for="inputDashedBorder"
                   *ngFor="let ans of correctAnswersList?.get(homeWorkQuestion.id)">{{ ans.lib}}</label>

        </span>
                            <h5 class="h5"> {{  questionSideRight}}  </h5>
                            <h4 *ngIf="translateWord !== undefined">{{translateWord}}</h4>

                        </div>
                        <div class="p-col-12 answers">

                            <button *ngIf="showCheckButton && !saveDone" pButton pRipple type="button"
                                    icon="pi pi-check" iconPos="right"
                                    label="Check answer" class="p-button-raised check-button "
                                    (click)="saveAnswers(homeWorkQuestion)">
                            </button>

                            <button *ngIf="showDontKnowButton" pButton pRipple type="button"
                                    icon="pi pi-question" iconPos="right"
                                    label="DON'T KNOW" class="p-button-rounded dont-know-button "
                                    (click)="showAnswers(homeWorkQuestion)">
                            </button>
                        </div>
                    </div>


                    <!--------------------------------- Write It Up -------------------------------------------------------->


                    <div style="background-color: white;" *ngIf="homeWorkQuestion.typeDeQuestion.ref === 't2'"
                         class="p-grid">

                        <div class="p-col-12">
                            <img [src]="selectedHomeWork.urlImage" alt="Image Not Found !" width="100%">

                        </div>
                        <div class="p-col-12">
                            <p>{{homeWorkQuestion?.libelle}}</p>
                        </div>

                        <div class="p-col-12">
                            <span class="p-float-label">
                                <textarea id="float-input" rows="5" cols="100"
                                          [(ngModel)]="homeWorkReponse.lib"
                                          pInputTextarea></textarea>
                                <label for="float-input">Your answer</label>
                            </span>
                        </div>

                    </div>


                    <!--------------------------------- Drag and Drop -------------------------------------------------------->
                    <div style="background-color: white;" *ngIf="showDragHomeWork" class="p-grid">
                        <app-drag-home-work></app-drag-home-work>
                    </div>


                    <!--------------------------------- Put in Order -------------------------------------------------------->
                    <div style="background-color: white;" *ngIf="homeWorkQuestion.typeDeQuestion.ref=== 't11'"
                         class="p-grid dragContainer">
                        <div class="p-col-12">
                            <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                                <div [id]="item" class="example-box" (cdkDragStarted)="drag(item, i+1)"
                                     *ngFor="let item of dragList; index as i"
                                     cdkDrag>
                                    {{item}}</div>
                            </div>
                        </div>
                    </div>


                    <!--------------------------------- Watch it -------------------------------------------------------->
                    <div style="background-color: white;" *ngIf="showWatchItHomeWork" class="p-grid">
                        <div class="p-col-12">
                            <app-watch-it></app-watch-it>
                        </div>
                    </div>



                    <!--------------------------------- PHRASEBOOK -------------------------------------------------------->
                    <div style="background-color: white;" *ngIf="showPhrasebook" class="p-grid">
                        <div class="p-col-12">
                            <app-phrasebook></app-phrasebook>
                        </div>
                    </div>


                    <!---------------------------------  Translate -------------------------------------------------------->
                    <div style="background-color: white;" *ngIf="homeWorkQuestion.typeDeQuestion.ref === 't12'"
                         class="p-grid">
                        <div class="p-col-12 question">
                            <button [disabled]="disableButtonSon" pButton pRipple type="button"
                                    (click)="sound(homeWorkQuestion)"
                                    icon="pi pi-volume-up" class="p-button-rounded sonButton "></button>

                            <h5 class="h5 libelleT12" [id]="item.key"
                                *ngFor="let item of answersT12List| keyvalue">{{item.value}} </h5>
                        </div>
                        <div *ngIf="showT12AnswerDiv" class="p-col-12 correctAnswerT12">
                            {{correctAnswerT12}}
                        </div>

                        <div [id]="value.lib" *ngFor="let value of t12AnswersList"
                             (click)="checkAnswers(value)"
                             class="p-col-3 answert12">
                            {{value.lib}}

                        </div>

                    </div>
                    <!--------------------------------- Reading -------------------------------------------------------->


                    <div style="background-color: white;" *ngIf="homeWorkQuestion.typeDeQuestion.ref === 't8'"
                         class="p-grid">
                        <img [src]="selectedHomeWork.urlImage" alt="Image Not Found !" width="100%">


                        <div (mouseup)="dict()" class="p-col-12 readingContainer">
                            <pre aria-colspan="100" class="reading-text">{{homeWorkQuestion?.libelle}}</pre>
                        </div>

                        <div class="p-col-12">
                        </div>

                    </div>


                    <!--------------------------------- TRUE OR FALSE -------------------------------------------------------->

                    <div *ngIf="homeWorkQuestion.typeDeQuestion.ref === 't5'" class="p-grid">
                        <div class="p-col-12 question ">
                            <div id="trueFalse" class="p-grid trueOrFalseQst">
                                <div class="p-col-9">
                                    {{  homeWorkQuestion?.libelle}}
                                </div>

                                <div style="padding-top: 2%;" class="p-col-3">

                                    <button [style]="{width: '7em',
                                 height: '23px',
                                 display: 'inline-block',
                                  marginRight: '0',
                                  padding: '0',
                                   borderRight: '1px solid grey',
                                   borderRadius: '0'
                                 }"

                                            [style.background]="trueOrFalse == true? '#5e8f32' :'white' "
                                            [style.color]="trueOrFalse == true?  'white' : '#5e8f32' "
                                            (click)="trueOrFalse = true; showCheckButton=true; showDontKnowButton=false"
                                            [disabled]="trueOrFalse === true"
                                            pButton pRipple type="button" label="True"
                                            icon="pi pi-check"
                                            class="p-button-success p-button-outlined"></button>


                                    <button [style]="{width: '7em',
                                 height: '23px',
                                 display: 'inline-block',
                                  padding: '0',
                                   borderLeft: 'none',
                                   borderRadius: '0'
                                 }"

                                            [style.background]="trueOrFalse == false?  '#D32F2F':'white' "
                                            [style.color]="trueOrFalse == false? 'white' :'#D32F2F'  "
                                            [disabled]="trueOrFalse === false"
                                            pButton pRipple type="button" label="False"
                                            icon="pi pi-times"
                                            (click)="trueOrFalse = false ; showCheckButton=true; showDontKnowButton=false"
                                            class="p-button-danger p-button-outlined"></button>

                                </div>
                            </div>
                        </div>

                        <div class="p-col-12 answers">

                            <button *ngIf="showCheckButton && !saveDone" pButton pRipple type="button"
                                    icon="pi pi-check" iconPos="right"
                                    label="Check answer" class="p-button-raised check-button "
                                    (click)="saveAnswers(homeWorkQuestion)">
                            </button>

                            <button *ngIf="showDontKnowButton" pButton pRipple type="button"
                                    icon="pi pi-question" iconPos="right"
                                    label="DON'T KNOW" class="p-button-rounded dont-know-button "
                                    (click)="showAnswers(homeWorkQuestion)">
                            </button>
                        </div>
                    </div>


                    <div class="p-grid sideBar">
                        <div class="p-col-3">
                        </div>

                        <div class="p-col-6"></div>
                        <!-- -->
                        <div class="p-col-3">
                            <button *ngIf="showNextButton && homeWorkQuestion.id !== homeWorkQuestionList[homeWorkQuestionList.length -1]?.id"
                                    style="float:right"
                                    pButton pRipple
                                    type="button" icon="pi pi-arrow-right" iconPos="right"
                                    label="Next" (click)="nextQuestionFct()"
                                    class="p-button-rounded p-button-secondary"></button>


                            <button *ngIf="homeWorkQuestion.id === homeWorkQuestionList[homeWorkQuestionList.length -1]?.id "
                                    style="float:right" pButton
                                    pRipple
                                    (click)="finishHomeWork()"
                                    type="button" icon="pi pi-save" iconPos="right"
                                    label="Finish"
                                    class="p-button-rounded p-button-success"></button>
                        </div>
                    </div>
                </div>
                <div *ngIf="showQuizReview" class="card">
                    <p-table [value]="answersList | keyvalue" styleClass="p-datatable-sm" responsiveLayout="scroll">
                        <ng-template pTemplate="caption">
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 20px;"></th>
                                <th>Number</th>
                                <th>Your answer</th>
                                <th>Correct answer</th>
                                <th>Note</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-value>
                            <tr>
                                <td *ngIf="value.value.etatReponse === 'true' && (answersPointStudent.get(value.key))?.toString() === 'STUDENT_ANSWER'">
                                    <i class="pi pi-check-circle" pTooltip="Correct answer"
                                       tooltipPosition="top"></i>
                                </td>
                                <td *ngIf="value.value.etatReponse === 'false'">
                                    <i pTooltip="Incorrect answer" tooltipPosition="top"
                                       class="pi pi-times-circle"></i>
                                </td>

                                <td *ngIf="value.value.etatReponse === 'true' && answersPointStudent.get(value.key)?.toString() === 'STUDENT_DONT_KNOW'">
                                    <i pTooltip="Student don't know" tooltipPosition="top"
                                       class="pi pi-exclamation-circle"></i></td>


                                <td>{{value?.key?.numero}}</td>


                                <td *ngIf="(answersPointStudent.get(value.key))?.toString() === 'STUDENT_ANSWER'">{{value?.value?.lib}}</td>
                                <td *ngIf="(answersPointStudent.get(value.key))?.toString() !== 'STUDENT_ANSWER'"></td>


                                <td>{{correctAnswersList?.get(value.key.id)[0].lib}}</td>


                                <td *ngIf="value.value.etatReponse === 'true'  && (answersPointStudent.get(value.key))?.toString() === 'STUDENT_ANSWER'">{{value?.key?.pointReponseJuste}}</td>
                                <td *ngIf="value.value.etatReponse === 'true'  && (answersPointStudent.get(value.key))?.toString() === 'STUDENT_DONT_KNOW'">
                                    0
                                </td>
                                <td *ngIf="value.value.etatReponse === 'false'">{{value?.key?.pointReponsefausse}}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer">
                            <th colspan="5" style="padding: 3% 0 10px 9%;text-align: center;"><h4 class="noteFinal">
                                Note
                                final: </h4>  {{  noteQuiz}} / {{answersList.size}}</th>
                        </ng-template>
                    </p-table>

                </div>
            </p-tabPanel>


            <p-tabPanel *ngIf="showHomeWorkEtudiantResult" header="Home Work Result">
                <app-home-work-result></app-home-work-result>
            </p-tabPanel>

        </p-tabView>

    </div>
</div>
<p-dialog styleClass="dialogDict" [(visible)]="displayDictionaryDialog" position="right"
          [style]="{width: '27vw'}">
    <ng-template pTemplate="header">
        <h4 style="text-align: center">Dictionary</h4>
    </ng-template>

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Add new words">
                <h6>Text</h6>
                <textarea
                        [style]="{width: '100%',  fontSize: 'medium', border: '1px solid rgb(156, 39, 176)'}"
                        rows="2" [(ngModel)]="textSeleted"
                        pInputTextarea
                        autoResize="autoResize"></textarea>
                <h6>Translation</h6>
                <textarea
                        [style]="{width: '100%',  fontSize: 'medium', border: '1px solid rgb(156, 39, 176)'}"
                        rows="2" [(ngModel)]="synonymes"
                        pInputTextarea
                        autoResize="autoResize"></textarea>

                <button [disabled]="textSeleted?.length < 3" [style]="{width: '100%',marginTop: '35px'}"
                        pButton
                        pRipple type="button"
                        label="Add to my dictionary" (click)="addToDictionary()"
                        class="p-button-raised p-button-help"></button>
            </p-tabPanel>
            <p-tabPanel header="My Dictionary">

                <p-table [value]="dictionaryList" responsiveLayout="scroll" [paginator]="true" [rows]="rows"
                         [showCurrentPageReport]="true"
                         [(first)]="first"
                         [rowsPerPageOptions]="[5,10,25,50]">


                    <ng-template pTemplate="header">
                        <tr>
                            <th>Word</th>
                            <th>Translation</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-dict>
                        <tr>
                            <td>{{dict?.word}}</td>
                            <td>{{dict?.definition}}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        <div class="flex align-items-center justify-content-between">
                            In total there are {{ dictionaryList?.length }} words.
                        </div>
                    </ng-template>
                </p-table>
            </p-tabPanel>
        </p-tabView>
    </ng-template>
</p-dialog>
