<div (click)="onLayoutClick()" [class]="app.topbarColor" [ngClass]="{'layout-horizontal': app.layoutMode === 'horizontal',
    'layout-overlay': app.layoutMode === 'overlay',
    'layout-static': app.layoutMode === 'static',
    'layout-slim': app.layoutMode === 'slim',
    'layout-menu-light': app.lightMenu === true,
    'layout-menu-dark': app.lightMenu === false,
    'layout-overlay-active': overlayMenuActive,
    'layout-mobile-active': staticMenuMobileActive,
    'layout-static-inactive': staticMenuDesktopInactive,
    'layout-rtl': app.isRTL,
    'p-input-filled': app.inputStyle === 'filled',
    'p-ripple-disabled': !app.ripple}" class="layout-wrapper">
    <app-topbar *ngIf="showTpBar"></app-topbar>
    <app-menu *ngIf="showAppMenu"></app-menu>
    <div *ngIf="!showAppMenu" class="">
        <div class="layout-content">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div *ngIf="showAppMenu" class="layout-main">
        <div class="layout-content">
            <img class="floatButton"
                 (click)="getData()"
                 pBadge
                 [value]="getValueOfBadge()"
                 src="/assets/icons/iconschat-64.png">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>


<p-dialog [showHeader]="false" position="right" [(visible)]="displayChatDialog"
          [style]="{width: '35vw', height: '75%'}">
    <div class="p-dialog-header1">
        <div class="p-grid">
            <div class="p-col-2">
                <i (click)="displayChatDialog = false" class="pi pi-angle-left"
                   style="font-size: 2rem; cursor: pointer; color: white;"></i>
            </div>
            <div style="color: white;" class="p-col-8">
                <h4>engFlexy</h4>
                <p class="helpText"></p>
                Ask us anything, or share your feedback.
            </div>
        </div>
    </div>

    <div class="p-grid " style="padding: 5px 0;!important;">
        <div class="speech-wrapper" *ngFor="let message of reclamationList">
            <div *ngIf="message.setFrom !== role.ADMIN" class="bubble alt">
                <div class="txt">
                    <p class="message">{{message?.message}}</p>
                    <span class="timestamp">{{message?.dateReclamation | date:'MMM d, y, h:mm a'}}</span>
                </div>
                <div *ngIf="message?.img !== null" class="txt">
                    <img style="  cursor: pointer;   width: 100%; margin: -20px 0 28px 0;  border-radius: 5px;"
                         (click)="showImage(message.img )"
                         class="product-image" [src]="message?.img"/>
                </div>
                <div class="bubble-arrow alt"></div>
            </div>
            <div *ngIf="message.setFrom === role.ADMIN" class="bubbleTeacher alt">
                <div class="txt">
                    <p class="message">{{message?.message}}</p>
                    <span class="timestamp">{{message?.dateReclamation | date:'MMM d, y, h:mm a'}}</span>
                </div>
                <div *ngIf="message?.img !== null" class="txt">
                    <img style="cursor: pointer;    width: 100%; margin: -20px 0 28px 0;  border-radius: 5px;"
                         (click)="showImage(message.img )"
                         class="product-image" [src]="message?.img"/>
                </div>
                <div class="bubble-arrow-teacher alt"></div>
            </div>
            <div class="speech-divider"></div>
        </div>
    </div>

    <ng-template pTemplate="footer">
        <div style="    border: 1px solid #9191a442;border-radius: 5px;" class="p-grid">
            <div class="p-col-7">
                <input class="sentMessage" [style]="{border: 'none', width: '100%'}"
                       [(ngModel)]="reclamation.message"
                       (keydown.enter)="sendReclamation()"
                       type="text" placeholder="Send a message...">
            </div>
            <div class="p-col-5">
                <p-fileUpload mode="basic"  styleClass="sentIcons" chooseIcon="pi pi-link" name="demo[]"
                              url="./upload.php" accept="image/*"
                              maxFileSize="100000000" (onSelect)="onBasicUpload($event)"></p-fileUpload>

            </div>
        </div>
    </ng-template>
</p-dialog>


<p-dialog [showHeader]="false" [(visible)]="displayImgDialog" [position]="position" [modal]="true"
          [style]="{width: '35vw'}" [baseZIndex]="100000"
          [draggable]="true" [resizable]="false" >
    <div style="background: #263238; color: white!important; border-right: 5px;" class="p-grid">
        <p-button icon="pi pi-times" (click)="cancel()"  styleClass="p-button-text"></p-button>

        <div style="padding: 1%" class="p-col-12">
            <img style="width: 90%; margin-left: 4%; border-radius: 5px;" src="{{reader?.result}}" alt="not found">
        </div>
        <div class="p-col-12">
            <input class="sentMessage" [style]="{border: 'none', width: '100%', height: '40px', borderRadius: '5px'}"
                   [(ngModel)]="reclamation.message"
                   (keydown.enter)="sendReclamation()"
                   type="text" placeholder="Add a comment...">
        </div>
    </div>
</p-dialog>
<div *ngIf="showOverLayImg" id="myNav" class="overlay">

    <!-- Button to close the overlay navigation -->
    <a style="cursor: pointer" (click)="showOverLayImg  = false" class="closebtn" >&times;</a>

    <!-- Overlay content -->
    <div class="overlay-content">
        <img style="width: 75%" [src]="selectedImgUrl" alt="Image not found!">
    </div>

</div>
