<div id="Mycontainer" class="p-grid">

    <div class="p-grid">
        <div style="text-align: center" class="p-col-12">
            <h1 style="    font-family: system-ui; letter-spacing: 1px;">{{'Your application has been successfully sent!' | translate}}</h1>
        </div>
        <div class="p-col-2"></div>
        <div style="text-align: center" class="p-col-8">
            <p style=" font-size: medium; font-family: cursive;">{{"Already know about our school? Don't want to waste time on a trial lesson? Then pay immediately and get bonus lessons!" | translate}}</p>
        </div>
        <div class="p-col-2"></div>
    </div>


    <div class="p-grid justify-content-center">
        <div class="p-col-2"></div>
        <div class="p-col-4">

            <div [style]="{width: '100%', height: '100%' ,  background:'#ff725e', color: '#263238!important'}"
                 class="p-grid">
                <div style="text-align: center; color: #263238!important " class="p-col-12">
                    <h2 style="color: #263238!important ">{{'Continue to purchase' | translate}}</h2></div>


                <div style="text-align: start" class="p-col-1">
                    <img style="width: 30px" src="/assets/icons/icon-gift.png">
                </div>
                <div style="text-align: start" class="p-col-11">
                    {{"You get a bonus up to 3 lessons when you pay now" | translate}}
                </div>


                <div style="text-align: start" class="p-col-1">
                    <img style="width: 30px" src="/assets/icons/icon-prof.png">
                </div>
                <div style="text-align: start" class="p-col-11">
                    {{"We will immediately coordinate the schedule of classes with the teacher" | translate}}
                </div>


                <div style="text-align: start" class="p-col-1">
                    <img style="width: 30px" src="/assets/icons/icons8-clock-48.png">
                </div>
                <div style="text-align: start" class="p-col-11">
                    {{"Pay immediately and save time and money" | translate}}
                </div>

                <div class="p-col-2"></div>
                <div class="p-col-8">
                    <button pButton pRipple (click)="navigatetopurchase()"
                            [label]="'Pay now' | translate" icon="pi pi-check"
                            class="joinButton"></button>
                </div>
                <div class="p-col-2"></div>

            </div>

        </div>
        <div class="p-col-4">
            <div [style]="{width: '100%', height: '100%', background:'#263238', color: '#ff725e'}" class="p-grid">
                <div style="text-align: center" class="p-col-12">
                    <h2 style="color: #ff725e!important ">{{'Free trial lesson' | translate}}</h2>
                </div>


                <div style="text-align: start" class="p-col-1">
                    <img style="width: 30px" src="/assets/icons/icon-historical.png">
                </div>
                <div style="text-align: start" class="p-col-11">
                    {{"We'll pick you up in 15 minutes" | translate}}

                </div>


                <div style="text-align: start" class="p-col-1">
                    <img style="width: 30px" src="/assets/icons/icon-running.png">
                </div>
                <div style="text-align: start" class="p-col-11">
                    {{"Appoint a trial lesson with a methodologies" | translate}}
                </div>


                <div style="text-align: start" class="p-col-1">
                    <img style="width: 30px" src="/assets/icons/home-work-icon.png">
                </div>
                <div style="text-align: start" class="p-col-11">
                    {{"Show the platform and determine your level" | translate}}
                </div>

                <div class="p-col-2"></div>
                <div class="p-col-8">
                    <button pButton pRipple (click)="router.navigate(['public/etudiantTrialLesson'])"
                            [label]="'Start now' | translate" icon="pi pi-check"
                            class="Startnow"></button>
                </div>
                <div class="p-col-2"></div>

            </div>
        </div>
        <div class="p-col-2"></div>

    </div>
</div>
