<section class="course__area  pb-120">
  <div class="container">
     <div class="course__tab-inner grey-bg-2 mb-10">
        <div class="row align-items-center">
           <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6">
              <div class="course__tab-wrapper d-flex align-items-center">
                    <ul class="nav nav-tabs" id="courseTab" role="tablist">
                       <li class="nav-item" role="presentation">
                         <button
                                 [style.background]="(selectedOption === false)? 'blue': 'transparent'"
                                 [style.color]="(selectedOption === false)? 'white': 'blue'"
                                 (click)="getCourses(false)"
                                 class="btn nav-link " id="grid-tab" data-bs-toggle="tab" data-bs-target="#grid" type="button" role="tab" aria-controls="grid" aria-selected="true">
                            <i class="fa fa-solid fa-user"></i> {{'Individual' | translate}}
                         </button>
                       </li>
                       <li class="nav-item" role="presentation">
                         <button
                                 [style.background]="(selectedOption === true)? 'blue': 'transparent'"
                                 [style.color]="(selectedOption === true)? 'white': 'blue'"
                                 (click)="getCourses(true)"
                                 class="btn nav-link " id="list-tab" data-bs-toggle="tab" data-bs-target="#list" type="button" role="tab" aria-controls="list" aria-selected="false">
                             <i class="fa fa-solid fa-users"></i> {{'Group' | translate}}
                         </button>
                       </li>
                    </ul>
              </div>
           </div>
           <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6">
              <div class="course__sort d-flex justify-content-sm-end">
                 <div class="course__sort-inner">
                    <select [(ngModel)]="selectedLevel" (ngModelChange)="searchByLevel()">
                       <option  [ngValue]="undefined">Default</option>
                       <option [ngValue]="'elementary'">Elementary</option>
                       <option [ngValue]="'pre intermediate'">Pre Intermediate</option>
                       <option [ngValue]="'intermediate'">Intermediate</option>
                       <option [ngValue]="'upper intermediate'">Upper Intermediate</option>
                       <option [ngValue]="'advanced'">Advanced</option>
                    </select>
                 </div>
              </div>
           </div>
        </div>
     </div>
     <div class="row">
        <div class="col-xxl-12">
           <div class="course__tab-conent">
              <div class="tab-content" id="courseTabContent">
                 <div class="tab-pane fade show active" id="grid" role="tabpanel" aria-labelledby="grid-tab">
                  <!-- course-grid start  -->
                  <app-course-grid></app-course-grid>
                  <!-- course-grid start  -->
                 </div>

                 <div class="tab-pane fade" id="list" role="tabpanel" aria-labelledby="list-tab">
                  <!-- course-list start  -->
                  <app-course-list></app-course-list>
                  <!-- course-list end  -->
                 </div>
               </div>
           </div>
        </div>
     </div>

     <!-- pagination start -->
<!--     <app-pagination></app-pagination>-->
     <!-- pagination end -->

  </div>
</section>
