<div class="container">


    <div class="row mb-40">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div style="width: 100%;" class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" [checked]="!selectedOption"
                       (click)="optionChange(false)"
                       name="btnradio" id="btnradio1" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio1">{{'Individual' | translate}}</label>

                <input type="radio" class="btn-check" [checked]="selectedOption"
                       (click)="optionChange(true)"
                       name="btnradio" id="btnradio3" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio3">{{'Group' | translate}}</label>
            </div>
        </div>
        <div class="col-md-3"></div>

    </div>
    <div *ngIf="activeIndex == 0" class="row">

        <div *ngFor="let price of prices"
             (click)="chooseType(price)"
             class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
            <div class="course__item white-bg mb-30 fix">
                <div class="course__thumb w-img p-relative fix">
                    <a>
                        <img *ngIf="price?.lib?.toUpperCase()?.includes('SILVER')" src="/assets/images/Silver.png"
                             alt="">
                        <img *ngIf="price?.lib?.toUpperCase()?.includes('PREMIUM')" src="/assets/images/Premium.gif"
                             alt="">
                        <img *ngIf="price?.lib?.toUpperCase()?.includes('GOLD')" src="/assets/images/GoldA.png" alt="">
                        <img *ngIf="price?.lib?.toUpperCase()?.includes('PLATINUM')" src="/assets/images/Platinum.gif"
                             alt="">
                    </a>
                    <div class="course__tag">
                        <a [class.silver]="price?.lib?.toUpperCase()?.includes('SILVER')"
                           [class.gold]="price?.lib?.toUpperCase()?.includes('GOLD')"
                           [class.platinum]="price?.lib?.toUpperCase()?.includes('PLATINUM')"
                           [class.Premium]="price?.lib?.toUpperCase()?.includes('PREMIUM')"
                           class="course-type">{{price?.price}} DH</a>
                    </div>

                    <div class="course__tag__lessons">
                        <a [style.direction]="translate.currentLang === 'ar' ? 'rtl': 'ltr'"
                           [class.silver]="price?.lib?.toUpperCase()?.includes('SILVER')"
                           [class.gold]="price?.lib?.toUpperCase()?.includes('GOLD')"
                           [class.platinum]="price?.lib?.toUpperCase()?.includes('PLATINUM')"
                           [class.Premium]="price?.lib?.toUpperCase()?.includes('PREMIUM')"

                           class="course-type">{{price?.nreCourse}} {{'LESSONS' | translate}}</a>
                    </div>

                    <div class="course__tag__hours">
                        <a [style.direction]="translate.currentLang === 'ar' ? 'rtl': 'ltr'"
                           [class.silver]="price?.lib?.toUpperCase()?.includes('SILVER')"
                           [class.gold]="price?.lib?.toUpperCase()?.includes('GOLD')"
                           [class.platinum]="price?.lib?.toUpperCase()?.includes('PLATINUM')"
                           [class.Premium]="price?.lib?.toUpperCase()?.includes('PREMIUM')"
                           class="course-type">{{price?.nreMonth}} {{'MONTH' | translate}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div *ngIf="activeIndex == 1" class="row">
        <div *ngFor="let level of levels" (click)="getCourse(level)"
             class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-4">
            <div class="course__item white-bg mb-30 fix">
                <div class="course__thumb w-img p-relative fix">
                    <a>
                        <img *ngIf="level?.id ===1" src="/assets/images/A1.png" alt="">
                        <img *ngIf="level?.id ===5095" src="/assets/images/A2.png" alt="">
                        <img *ngIf="level?.id ===13000" src="/assets/images/B1.png" alt="">
                        <img *ngIf="level?.id ===25000" src="/assets/images/B2.png" alt="">
                        <img *ngIf="level?.id ===31050" src="/assets/images/C1.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<p-sidebar [(visible)]="showSchedule" position="bottom" [baseZIndex]="10000">
    <app-student-prefer-schedule></app-student-prefer-schedule>
</p-sidebar>
