.layout-wrapper.layout-slim .layout-main {
  margin-left: 16%;
}

.dictButton {
  right: 20px;
  border: none;
  position: fixed;
  bottom: 25px !important;
  padding-bottom: 10px;
  z-index: 9001;
  height: 85px !important;
  cursor: pointer;
}
.layout-wrapper.layout-slim .layout-main {
  margin-left: 209px;
}



.p-dialog-header1 {
  background: linear-gradient(135deg, #ff725e 0%, #c7493a 100%);
  height: 130px;
}

.helpText {
  color: white;
  font-size: 19px;
  font-family: -webkit-body;
  letter-spacing: 1px;
}

.sentIcons {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: #595963cf;
  margin: 0 10px;

}

.sentMessage:focus {
  border: none !important;
  box-shadow: none;
}

.sentMessage:focus-visible {
  border: none !important;
  outline: none !important;
  box-shadow: none;
}
.speech-divider {
  padding: 5px 5px;
}

.speech-wrapper {
  padding: 1px 6px;
  width: 100%;

  .bubble {
    height: auto;
    display: block;
    background: #bee3db;
    border-radius: 4px;
    box-shadow: 1px 1px 0 #dee2e6;
    position: relative;
    margin: 0 0 20px;

    &.alt {
      //margin: 0 0 0 55px;
    }

    .txt {
      padding: 8px 55px 8px 14px;

      .name {
        font-weight: 600;
        font-size: 12px;
        margin: 0 0 4px;
        color: #3498db;

        span {
          font-weight: normal;
          color: #b3b3b3;
        }

        &.alt {
          color: #0a5c2d;
        }

        &.altTeacher {
          color: #cc952e;
        }
      }

      .message {
        font-size: 12px;
        margin: 0;
        color: #2b2b2b;
      }

      .timestamp {
        font-size: 11px;
        position: absolute;
        bottom: 8px;
        right: 10px;
        text-transform: uppercase;
        color: #999;
      }
    }

    .bubble-arrow {
      position: absolute;
      width: 0;
      bottom: 42px;
      left: -16px;
      height: 0;

      &.alt {
        bottom: 34px;
        left: 7px;
      }
    }

    .bubble-arrow:after {
      content: '';
      position: absolute;
      border: 0 solid transparent;
      border-top: 9px solid #bee3db;
      border-radius: 0 20px 0;
      width: 15px;
      height: 30px;
      transform: rotate(145deg);
    }

    .bubble-arrow.alt:after {
      transform: rotate(45deg) scaleY(-1);
    }
  }


  .bubbleTeacher {
    width: 70%;
    height: auto;
    display: block;
    background: #f9c74f;
    border-radius: 4px;
    box-shadow: 1px 1px 0 #8b8b90;
    position: relative;
    margin: 0 0 20px;

    &.alt {
      margin: 0 0 0 55px;
    }

    .txt {
      padding: 8px 55px 8px 14px;

      .name {
        font-weight: 600;
        font-size: 12px;
        margin: 0 0 4px;
        color: #3498db;

        span {
          font-weight: normal;
          color: #b3b3b3;
        }

        &.alt {
          color: #0a5c2d;
        }

        &.altTeacher {
          color: #8a6008;
        }
      }

      .message {
        font-size: 12px;
        margin: 0;
        color: #2b2b2b;
      }

      .timestamp {
        font-size: 11px;
        position: absolute;
        bottom: 8px;
        right: 10px;
        text-transform: uppercase;
        color: #999;
      }
    }

    .bubble-arrow-teacher {
      position: absolute;
      width: 0;
      bottom: 42px;
      left: -10px;
      height: 0;

      &.alt {
        right: -2px;
        bottom: 50px;
      }
    }

    .bubble-arrow-teacher:after {
      content: '';
      position: absolute;
      border: 0 solid transparent;
      border-top: 9px solid #f9c74f;
      border-radius: 0 20px 0;
      width: 15px;
      height: 30px;
      transform: rotate(145deg);
    }

    .bubble-arrow-teacher.alt:after {
      transform: rotate(190deg) scaleY(-1);
    }
  }
}


