.instruction-button {
  float: right;
  margin: 0 1% 1% 0;
}


.p-field {
  width: 100%;
}

.e-quick-popup-wrapper .e-popup-header {
  height: 30px;
}

.e-quick-popup-wrapper .e-header-icon-wrapper {
  height: inherit;
}

.e-quick-popup-wrapper .e-header-icon-wrapper .subject {
  left: 0;
  position: absolute;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  padding: 2px 5px;
}

.e-quick-popup-wrapper .e-cell-footer,
.e-quick-popup-wrapper .e-event-footer {
  display: flex;
}

.e-quick-popup-wrapper .e-cell-footer .right-button,
.e-quick-popup-wrapper .e-event-footer .right-button {
  position: absolute;
  right: 0;
}

.e-quick-popup-wrapper .e-cell-footer button,
.e-quick-popup-wrapper .e-event-footer button {
  margin: 10px;
  padding: 4px;
}

.e-quick-popup-wrapper .e-event-content .start-time,
.e-quick-popup-wrapper .e-event-content .end-time,
.e-quick-popup-wrapper .e-event-content .location {
  padding: 8px;
}

.e-event-create{
  float: right;
}

.delete-btn{
  color: floralwhite !important;
}

label{
  margin: 0 2% 0 0;
  font-weight: bold;
}

.editorTemplate{
  width: 650px!important;
  height: 500px!important;
}

#_dialog_wrapper{
  width: 650px!important;
  height: 500px!important;
}


.searchValue{
  margin-right: 7px;
}


.meeting-type-wrap{
  color: #3445a3;
  font-size: large;
  font-weight: 500;
  padding: 2% 0 2% 1%;
  font-family: "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif", "-apple-system", "BlinkMacSystemFont";
}



.e-resource-details{
  margin-bottom: -7px;
  padding: 2% 27px 2% 25px;
}
.quick-info-content{
  background-color: #ffffff !important;
}

.e-schedule .e-vertical-view .e-work-cells {
  background-color: #f1d878 !important;
}

.p-button-text{
  color: white;
  font-weight: bold;
}


#teacher{
  display: inline-block;
  height: 29px;
  border: 1px solid #cdcdcd;
  padding: 5px;
  width: 213px;
  border-radius: 2px;
  font-weight: 500;
  color: #686767;
}
