<div class="p-col">

    <p-dialog [(visible)]="displayBasic" [baseZIndex]="10000" [style]="{width: '30vw'}">
        <p>This is the schedule of your part of teaching , the students how are in color green are the students that
            they are just start the courses, the others how are in color orange are the students active in your
            courses.</p>
        <ng-template pTemplate="footer">
            <p-button (click)="displayBasic=false" icon="pi pi-check" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-dialog>
</div>
<div class="control-section" style="margin-right: 1%;">
    <div class="p-grid" style="background-color: #ff8800; margin-right: 0 !important; border-radius: 5px;">
        <div class="p-col-8">
            <input class="searchValue" [(ngModel)]="schedule.groupeEtudiant.libelle" type="text" pInputText
                   placeholder="Search by group.."/>
            <input class="searchValue" [(ngModel)]="schedule.prof.nom" type="text" pInputText
                   placeholder="Search by teacher firstName.."/>
            <input class="searchValue" [(ngModel)]="schedule.prof.prenom" type="text" pInputText
                   placeholder="Search by teacher lastName.."/>
            <input class="searchValue" [(ngModel)]="schedule.prof.username" type="text" pInputText
                   placeholder="Search by teacher username.."/>
            <button pButton pRipple type="button" (click)="findAllByGroupOrTeahcer()"
                    icon="pi pi-search" class="p-button-rounded p-button-text"></button>
        </div>


        <div class="p-col-3">
            <table style="float: right" class="property-table">
                <tbody>
                <tr>
                    <td style="width: 80%;">
                        <div>
                            <ejs-dropdownlist width='250px' id='scheduletimezone' #timezoneDropdown
                                              [dataSource]='timezoneData'
                                              (change)='onTimezoneDropDownChange($event)' [value]='dropDownValue'
                                              [allowFiltering]="true"
                                              [fields]='fields'
                                              popupWidth='250'></ejs-dropdownlist>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


        <div style="text-align: end" class="p-col-1">
            <button class="instruction-button p-button-text" (click)="showBasicDialog()" icon="pi pi-question"
                    label="Instruction"
                    iconPos="right"
                    pButton
                    pRipple></button>
        </div>


        <ejs-schedule #scheduleObj width='100%' [selectedDate]="selectedDate" [readonly]="false"
                      [showQuickInfo]="true"
                      (actionComplete)="onActionComplete($event)"
                      [eventSettings]="eventSettings"
                      startHour="06:00 AM"
                      [timeScale]="timeScale"
                      (popupOpen)="onPopupOpen($event)">
            <e-resources>


                <e-resource field="id" title="profName" name="ScheduleProf"
                            [dataSource]="scheduleProfs" [allowMultiple]="true"
                            textField="profName" idField="id" >
                </e-resource>

                <e-resource field="id" title="grpName" name="ScheduleProf"
                            [dataSource]="scheduleProfs" [allowMultiple]="true"
                            textField="grpName" idField="id" >
                </e-resource>


            </e-resources>
            <ng-template #resourceHeaderTemplate let-data>
                <div class="template-wrap">
                    <div class="employee-category">
                        <div>
                            <img [src]="data.resourceData.image" class="employee-image"/>
                            {{data.nom}}
                        </div>
                        <div class="employee-name">{{data.resourceData.nom }} {{ data.resourceData.prenom}}</div>
                    </div>
                </div>
            </ng-template>
            <!--                <ng-template #eventSettingsTemplate let-data>-->
            <!--                    <div class='template-wrap'>-->
            <!--                        <div class="subject">{{data.Subject}}</div>-->
            <!--                    </div>-->
            <!--                </ng-template>-->
            <e-views>
                <e-view option="Day"></e-view>
                <e-view option="Week"></e-view>
                <e-view option="Month"></e-view>
                <e-view option="WorkWeek"></e-view>
            </e-views>
            <!--     Header template -->


            <ng-template #quickInfoTemplatesFooter let-data>
                <div *ngIf="data.elementType == 'cell'" class="e-cell-footer">
                    <div class="left-button">
                        <button class="e-event-details" title="Extra Details" (click)="onDetailsClick(editorTemplate)">
                            More
                            Details
                        </button>
                    </div>
                </div>
            </ng-template>

            <ng-template #editorTemplate>
                <table class="custom-event-editor" width="100%" cellpadding="5">
                    <tbody>
                    <tr>
                        <td class="e-textlabel">Start time</td>
                        <td colspan="4">
                            <p-calendar [style]="{width: '100%',marginBottom: '4%'}" id="start"
                                        [(ngModel)]="scheduleProf.startTime" [showTime]="true" name="StartTime"
                                        class="e-field"
                                        data-name="startTime"
                                        [showIcon]="true"
                                        inputId="start"></p-calendar>
                        </td>
                    </tr>

                    <tr>
                        <td class="e-textlabel">End time</td>
                        <td colspan="4">
                            <p-calendar [style]="{width: '100%',marginBottom: '4%'}" id="end"
                                        [(ngModel)]="scheduleProf.endTime" [showTime]="true" name="StartTime"
                                        class="e-field"
                                        data-name="endTime"
                                        [showIcon]="true"
                                        inputId="end"></p-calendar>
                        </td>
                    </tr>

                    <tr>
                        <td class="e-textlabel">Group</td>
                        <td colspan="4">
                            <p-dropdown [style]="{width: '100%',marginBottom: '4%'}"
                                        [(ngModel)]="scheduleProf.groupeEtudiant" [options]="groupeStudent"
                                        optionLabel="libelle"
                                        class="e-field"
                                        data-name="groupeEtudiant" (ngModelChange)="getCourses(scheduleProf.groupeEtudiant)"
                                        placeholder="Name of group"></p-dropdown>
                        </td>
                    </tr>


                    <tr>
                        <td class="e-textlabel">Teacher</td>
                        <td colspan="4">
                            <p-dropdown [style]="{width: '100%',marginBottom: '4%'}" [(ngModel)]="scheduleProf.prof"
                                        [options]="professors"
                                        optionLabel="nom"
                                        class="e-field"
                                        data-name="prof"
                                        placeholder="Name of Teacher"></p-dropdown>
                        </td>
                    </tr>

                    <tr>
                        <td class="e-textlabel">Subject</td>
                        <td colspan="4">
                            <p-dropdown [style]="{width: '100%',marginBottom: '4%'}" [(ngModel)]="scheduleProf.cours"
                                        [options]="courses" optionLabel="libelle"
                                        class="e-field"
                                        data-name="cours"
                                        placeholder="subject"></p-dropdown>
                        </td>
                    </tr>

                    <tr>
                        <td class="e-textlabel">Reference</td>
                        <td colspan="4">
                            <input [style]="{width: '100%',marginBottom: '4%'}" [(ngModel)]="scheduleProf.ref" autofocus
                                   id="ref" pInputText required type="text"
                                   class="e-field"
                                   data-name="ref"/>
                        </td>
                    </tr>

                    <tr>
                        <td class="e-textlabel">Repeat</td>
                        <td colspan="4">
                            <p-dropdown [style]="{width: '100%',marginBottom: '4%'}" [(ngModel)]="optionSelected"
                                        [options]="repeats" optionLabel="option" class="e-field"
                                        data-name="optionSelected"
                                        placeholder="Repeat"></p-dropdown>
                        </td>
                    </tr>


                    <tr>
                        <div class="p-grid " style="width: 150%">


                            <div *ngIf="optionSelected.option === 'Daily' " class="p-col-7">
                                <label for="minmax">Repeat every</label>
                                <p-inputNumber [(ngModel)]="repeatNumber" [showButtons]="true" id="minmax" inputId="minmax"
                                               mode="decimal" [min]="1" [max]="100">
                                </p-inputNumber>
                                Days
                            </div>


                            <div *ngIf="optionSelected.option === 'Daily'" class="p-col-5">
                                <label for="icon">Until</label>
                                <p-calendar [(ngModel)]="endDate" [showIcon]="true" id="icon" inputId="icon"></p-calendar>
                            </div>


                            <div *ngIf=" optionSelected.option === 'Weekly'" class="p-col-12">
                                <label for="selectButton">Repeat every</label>
                                <p-selectButton id='selectButton' [options]="daysOptions" [(ngModel)]="selectedDays"
                                                multiple="multiple"
                                                optionLabel="name" optionValue="value"></p-selectButton>
                            </div>


                            <div *ngIf="optionSelected.option === 'Weekly'" class="p-col-12">
                                <label for="iconDay">Until</label>
                                <p-calendar [(ngModel)]="endDate" [showIcon]="true" id="iconDay"
                                            inputId="icon"></p-calendar>
                            </div>


<!--                            <div class="p-col-12" style="text-align: center;">-->
<!--                                <button-->
<!--                                        class="e-event-create e-text-ellipsis e-control e-btn e-lib e-flat e-primary"-->
<!--                                        title="Save"-->
<!--                                        (click)="onCloseClick() ; save()">-->
<!--                                    Save-->
<!--                                </button>-->
<!--                            </div>-->


                        </div>
                    </tr>


                    </tbody>
                </table>
            </ng-template>

        </ejs-schedule>
    </div>
</div>




