<div class="p-grid">
    <div class="p-col-12" [hidden]="!scheduleDialog">

        <p-toast></p-toast>

        <div class="card" style="background-color: gainsboro">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <button (click)="openCreate()" class="p-button-success p-mr-2 p-mb-2" icon="pi pi-plus" label="New" pButton
                            pRipple style="width: 90px"></button>
                    <button (click)="deleteMultiple()" [disabled]="!selectes || !selectes.length" class="p-button-danger p-mb-2" icon="pi pi-trash" label="Delete"
                            pButton pRipple></button>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload [maxFileSize]="1000000" accept="image/*" chooseLabel="Import" class="p-mr-2 p-mb-2 p-d-inline-block"
                                  label="Import" mode="basic"></p-fileUpload>
                    <button (click)="dt.exportCSV()" class="p-button-info p-mb-2" icon="pi pi-upload" label="Export" pButton
                            pRipple></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [(selection)]="selectes" [columns]="cols" [globalFilterFields]="['reference','total','totalPaye','firstName','lastName','phoneNumber','email']" [paginator]="true"
                     [rowHover]="true"
                     [rows]="10" [showCurrentPageReport]="true" [value]="items"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                     dataKey="id"
                     styleClass="p-datatable-customers">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <div class="p-col"><h5 class="p-m-0">Manage Professors</h5><br>
                            <span>
                        <input [(ngModel)]="prof.nom  " pInputText placeholder="Search by LastName" style="margin-right: 10px;width: 200px"
                               type="text"/>
                        <input [(ngModel)]="prof.prenom  " pInputText placeholder="Search by FirstName" style="margin-right: 10px;width: 200px"
                               type="text"/>
                        <input [(ngModel)]="prof.username  " pInputText placeholder="Search by UserName" style="margin-right: 10px;width: 200px"
                               type="text"/>

              <button pButton pRipple type="button" icon="pi pi-search" (click)="findByCriteria()"
                      style="margin-left: 25px"
                      class="p-button-rounded p-button-success"></button>

                        </span></div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="firstName"> Name
                            <p-sortIcon field="firstName"></p-sortIcon>
                        </th>
                        <th pSortableColumn="phoneNumber">Phone Number
                            <p-sortIcon field="phoneNumber"></p-sortIcon>
                        </th>
                        <th pSortableColumn="email">Email
                            <p-sortIcon field="email"></p-sortIcon>
                        </th>
                        <th pSortableColumn="City">City
                            <p-sortIcon field="City"></p-sortIcon>
                        </th>

                        <th></th>
                    </tr>
                </ng-template>
                <ng-template let-professor pTemplate="body">
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="professor"></p-tableCheckbox>
                        </td>
                        <td>{{professor?.prenom}} {{ professor?.nom}}</td>
                        <td>{{professor?.numero}}</td>
                        <td>{{professor?.username}}</td>
                        <td>{{professor?.ville}}</td>

                        <td>
                            <button (click)="edit(professor)" class="p-button-rounded p-button-success p-mr-2" icon="pi pi-pencil" pButton
                                    pRipple></button>
                            <button (click)="view(professor)" class="p-button-rounded p-button-info p-mr-2" icon="pi pi-list" pButton
                                    pRipple></button>
                            <button (click)="delete(professor)" class="p-button-rounded p-button-danger p-mr-2" icon="pi pi-trash" pButton
                                    pRipple></button>
                            <button (click)="viewSession(professor)" class="p-button-rounded p-button-sm p-mr-2" icon="pi pi-book" pButton
                                    pRipple></button>
                            <button pButton pRipple type="button" icon="pi pi-calendar"
                                    (click)="showScheduleDialog(professor)"
                                    class="p-button-rounded p-button-secondary"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        In total there are {{items ? items.length : 0 }} items.
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-professeur-create></app-professeur-create>
        <app-professeur-edit></app-professeur-edit>
        <app-professeur-view></app-professeur-view>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>

<!------------------------ Schedule dialog -------------------------------------------------->


<div [hidden]="scheduleDialog" class="p-col-md-12">
    <button pButton (click)="hideDialog()" pRipple style="float:right!important; margin: 1%  2px"
            type="button" icon="pi pi-times"
            class="p-button-rounded p-button-secondary "></button>


    <ejs-schedule width='100%' height='600px' #scheduleObj  [selectedDate]="selectedDate" [readonly]="true"
                  [eventSettings]="eventSettings ">
        <e-views>
            <e-view option="Week" startHour="07:00"></e-view>
            <e-view option="WorkWeek" startHour="07:00"></e-view>
            <e-view option="Month" [showWeekend]="showWeekend"></e-view>
        </e-views>
    </ejs-schedule>
</div>
