<div class="p-field">
    <div class="p-grid">
        <div style=" background-color: #ffffff;  text-align: center;" class="p-col-12">
            <div style="float:left; display: inline-block; text-align: center">
                {{reponse?.question?.typeDeQuestion?.lib}}
            </div>


            <div style="float:right;display: inline-block;text-align: center">{{reponse?.question?.numero }}
                /{{reponseList?.length}}</div>
        </div>
    </div>

    <div style="background-color: #dee2e6" class="p-grid">
        <div style="  background-color: transparent!important;" class="p-col-12">
            <p-progressBar [style]="{height: '6px'}" [showValue]="false"
                           [value]="valueOfProgressBar"></p-progressBar>
        </div>
    </div>

    <!--------------------------------- UNIQUE CHOICE-------------------------------------------------------->

    <div *ngIf="reponse?.question?.typeDeQuestion?.ref === 't1'" class="p-grid">
        <div class="p-col-12 question">
            <button pButton pRipple type="button" (click)="sound(reponse?.question)"
                    icon="pi pi-volume-up" class="p-button-rounded sonButton "></button>
            <h5 class="h5"> {{  questionSideLeft}}  </h5>
            <span class="p-float-label">

            <input *ngIf="reponse.answer === reponse?.reponse?.lib" disabled
                   id="inputCorrectAnswer" inputId="inputDashedBorder" type="text"
                   [(ngModel)]="reponse.answer"
                   class="p-inputtext-sm " pInputText/>

            <input *ngIf="reponse?.answer !== reponse?.reponse?.lib" disabled
                   id="inputFalseAnswer" inputId="inputDashedBorder" type="text"
                   [(ngModel)]="reponse.answer"
                   class="p-inputtext-sm " pInputText/>

            <label *ngIf="reponse?.answer !== reponse?.reponse?.lib"
                   class="correctAnswer">{{reponse?.reponse?.lib}}</label>
            <label *ngIf="reponse?.answer !== reponse?.reponse?.lib"
                   id="triangle-down">
            </label>

        </span>
            <h5 class="h5"> {{  questionSideRight}}  </h5>
        </div>
        <div class="p-col-12 answers">
            <div *ngFor="let rep of reponse?.question?.reponses" class="p-field-checkbox textQuestion">
                <p-radioButton disabled [inputId]="rep.lib" name="category" [(ngModel)]="reponse.reponse"
                               [value]="rep"></p-radioButton>
                <label>{{rep?.lib}}</label>
            </div>
        </div>
    </div>


    <!--------------------------------- TRANSLATE THE PHRASE -------------------------------------------------------->


    <div *ngIf="reponse?.question?.typeDeQuestion?.ref === 't3'" class="p-grid">
        <div class="p-col-12 question">
            <h5 class="translateQuestion"> {{  reponse?.question?.libelle}}  </h5>

            <span class="p-float-label">
            <button *ngIf="reponse?.answer === reponse?.reponse?.lib" pButton pRipple type="button"
                    (click)="sound(reponse.question)"
                    icon="pi pi-volume-up" class="p-button-rounded sonButton ">
            </button>

            <input disabled *ngIf="reponse?.answer === reponse?.reponse?.lib"
                   id="input-answer-correct" type="text"
                   [(ngModel)]="reponse.answer" pInputText>

            <input disabled *ngIf="reponse?.answer !== reponse?.reponse?.lib"
                   id="input-answer-incorrect" type="text"
                   [(ngModel)]="reponse.answer" pInputText>
        </span>

        </div>

        <div class="p-col-12 answers">
            <button *ngIf="reponse?.answer !== reponse?.reponse?.lib"
                    pButton pRipple type="button" (click)="sound(reponse.question)"
                    icon="pi pi-volume-up" class="p-button-rounded sonButton ">
            </button>

            <h4 *ngIf="reponse?.answer !== reponse?.reponse?.lib">
                {{ reponse?.reponse?.lib}}
            </h4>

        </div>
    </div>


    <!------------------------------- CORRECT THE MISTAKE ------------------------------------------------------>

    <div *ngIf="reponse?.question?.typeDeQuestion?.ref === 't4'" class="p-grid">
        <div class="p-col-12 question">
            <button pButton pRipple type="button" (click)="sound(reponse?.question)"
                    icon="pi pi-volume-up" class="p-button-rounded sonButton "></button>
            <h5 class="h5"> {{  questionSideLeft}}  </h5>
            <span class="p-float-label">

            <input *ngIf="reponse?.answer === reponse?.reponse?.lib" disabled
                   id="inputCorrectAnswer" inputId="inputDashedBorder" type="text"
                   [(ngModel)]="reponse.answer"
                   class="p-inputtext-sm " pInputText/>

            <input *ngIf="reponse?.answer !== reponse?.reponse?.lib" disabled
                   id="inputFalseAnswer" inputId="inputDashedBorder" type="text"
                   [(ngModel)]="reponse.answer"
                   class="p-inputtext-sm " pInputText/>

            <label *ngIf="reponse?.answer !== reponse?.reponse?.lib"
                   class="correctAnswer">{{reponse.reponse.lib}}</label>
            <label *ngIf="reponse?.answer !== reponse?.reponse?.lib"
                   id="triangle-down">
            </label>

        </span>
            <h5 class="h5"> {{  questionSideRight}}  </h5>
        </div>
    </div>


    <!--------------------------------- WRITE  THE CORRECT FORM -------------------------------------------------------->

    <div *ngIf="reponse?.question?.typeDeQuestion?.ref === 't6'" class="p-grid">
        <div class="p-col-12 question">
            <button pButton pRipple type="button" (click)="sound(reponse?.question)"
                    icon="pi pi-volume-up" class="p-button-rounded sonButton "></button>
            <h5 class="h5"> {{  questionSideLeft}}  </h5>
            <span class="p-float-label">

            <input *ngIf="reponse?.answer === reponse?.reponse?.lib" disabled
                   id="inputCorrectAnswer" inputId="inputDashedBorder" type="text"
                   [(ngModel)]="reponse.answer"
                   class="p-inputtext-sm " pInputText/>

            <input *ngIf="reponse?.answer !== reponse?.reponse?.lib" disabled
                   id="inputFalseAnswer" inputId="inputDashedBorder" type="text"
                   [(ngModel)]="reponse.answer"
                   class="p-inputtext-sm " pInputText/>

            <label *ngIf="reponse?.answer !== reponse?.reponse?.lib"
                   class="correctAnswer">{{reponse?.reponse?.lib}}</label>
            <label *ngIf="reponse?.answer !== reponse?.reponse?.lib"
                   id="triangle-down">
            </label>

        </span>
            <h5 class="h5"> {{  questionSideRight}}  </h5>
        </div>
    </div>


    <!--------------------------------- TRUE OR FALSE -------------------------------------------------------->

    <div *ngIf="reponse?.question?.typeDeQuestion?.ref === 't5'" class="p-grid">
        <div class="p-col-12 question ">
            <div *ngIf="reponse?.answer === reponse?.reponse?.lib" id="trueFalse" class="p-grid trueQst">
                <div class="p-col-9">
                    {{  reponse.question?.libelle}}
                </div>
                <div style="padding-top: 2%;" class="p-col-3">
                    <p-toggleButton [(ngModel)]="trueOrfalse" onLabel="True"
                                    [disabled]="true"
                                    offLabel="False" onIcon="pi pi-check"
                                    offIcon="pi pi-times"
                                    [style]="{width: '7em',
                                     height: '23px'
                                     }">
                    </p-toggleButton>
                </div>
            </div>

            <div *ngIf="reponse?.answer !== reponse?.reponse?.lib" id="trueFalse" class="p-grid falseQst">
                <div class="p-col-9">
                    {{  reponse?.question?.libelle}}
                </div>
                <div style="padding-top: 2%;" class="p-col-3">
                    <p-toggleButton [(ngModel)]="trueOrfalse" onLabel="True"
                                    [disabled]="true"
                                    offLabel="False" onIcon="pi pi-check"
                                    offIcon="pi pi-times"
                                    [style]="{width: '7em',
                                     height: '23px'
                                     }">
                    </p-toggleButton>
                </div>
            </div>

        </div>
    </div>

    <div *ngIf="reponse?.question?.typeDeQuestion?.ref !== 't5' &&
                  reponse?.question?.typeDeQuestion?.ref !== 't6' &&
                  reponse?.question?.typeDeQuestion?.ref !== 't4' &&
                  reponse?.question?.typeDeQuestion?.ref !== 't3' &&
                  reponse?.question?.typeDeQuestion?.ref !== 't1'"
         class="p-grid">
        <div class="p-col-12">
            <h3 style="text-align: center">Exercise already done.</h3>
        </div>
    </div>


    <div *ngIf="reponse?.question?.typeDeQuestion?.ref === 't5' ||
                  reponse?.question?.typeDeQuestion?.ref === 't6' ||
                  reponse?.question?.typeDeQuestion?.ref === 't4' ||
                  reponse?.question?.typeDeQuestion?.ref === 't3' ||
                  reponse?.question?.typeDeQuestion?.ref === 't1'"
         class="p-grid sideBar">
        <div class="p-col-3">
            <button *ngIf="reponse?.id !== reponseList[0]?.id "
                    style="float:left"
                    pButton pRipple
                    type="button" icon="pi pi-arrow-left" iconPos="left"
                    [label]="'Previous'" (click)="previousQuestionFct()"
                    class="p-button-rounded p-button-secondary"></button>
        </div>

        <div *ngIf="showFinishButton" class="p-col-6" style="text-align: center">
            <h4 style="display:inline-block; margin-right: 7px">{{'Note final:'}} </h4>
            <h5 style="display:inline-block">{{ quizStudent?.resultat}}</h5>

        </div>
        <div *ngIf="showNextButton" class="p-col-6"></div>

        <div class="p-col-3">
            <button *ngIf="showNextButton"
                    style="float:right"
                    pButton pRipple
                    type="button" icon="pi pi-arrow-right" iconPos="right"
                    [label]="'Next'" (click)="nextQuestionFct()"
                    class="p-button-rounded p-button-secondary">
            </button>
            <!--            <button *ngIf="showFinishButton" style="float:right" pButton-->
            <!--                    pRipple-->
            <!--                    type="button" icon="pi pi-save" iconPos="right"-->
            <!--                    label="Finish"-->
            <!--                    class="p-button-rounded p-button-success"></button>-->
        </div>
    </div>
</div>
