<div class="p-grid">
    <div [hidden]="!scheduleDialog" class="p-col-12">

        <p-toast></p-toast>

        <div class="card" style="background-color: gainsboro;">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <button (click)="openCreateStudent()" class="p-button-success p-mr-2 p-mb-2" icon="pi pi-plus"
                            label="New" pButton
                            pRipple style="width: 90px"></button>
                    <button (click)="deleteMultiple()" [disabled]="!selectes || !selectes.length"
                            class="p-button-danger p-mb-2" icon="pi pi-trash" label="Delete"
                            pButton pRipple></button>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload [maxFileSize]="1000000" accept="image/*" chooseLabel="Import"
                                  class="p-mr-2 p-mb-2 p-d-inline-block"
                                  label="Import" mode="basic"></p-fileUpload>
                    <button class="p-button-info p-mb-2" icon="pi pi-upload" label="Export" pButton
                            pRipple></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [(selection)]="selectes" [columns]="cols"
                     [globalFilterFields]="['id','libelle','nombreEtudiant']"
                     [paginator]="true"
                     [rowHover]="true"
                     [rows]="8" [showCurrentPageReport]="true" [value]="groupeEtudiants"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                     dataKey="id"
                     styleClass="p-datatable-customers">

                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <div class="p-col"><h5 class="p-m-0">Manage Group students</h5><br>
                            <span>
                        <input [(ngModel)]="groupStudent.libelle  " pInputText placeholder="Search by group name"
                               style="margin-right: 10px;width: 200px"
                               type="text"/>
                        <input [(ngModel)]="groupStudent.parcours.libelle  " pInputText placeholder="Search by level"
                               style="margin-right: 10px;width: 200px"
                               type="text"/>
                        <input [(ngModel)]="groupStudentDetail.etudiant.nom  " pInputText
                               placeholder="Search by student FullName" style="margin-right: 10px;width: 200px"
                               type="text"/>




                           <button pButton pRipple type="button" icon="pi pi-search" (click)="findByCriteria()"
                                   style="margin-left: 25px"
                                   class="p-button-rounded p-button-success"></button>

                        </span>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>

                        <th pSortableColumn="id">ID
                            <p-sortIcon field="id"></p-sortIcon>
                        </th>

                        <th pSortableColumn="libelle"> Group Label
                            <p-sortIcon field="liebelle"></p-sortIcon>
                        </th>

                        <th pSortableColumn="dateDebut">Start date
                            <p-sortIcon field="dateDebut"></p-sortIcon>
                        </th>
                        <th pSortableColumn="dateFin">End date
                            <p-sortIcon field="dateFin"></p-sortIcon>
                        </th>

                        <th pSortableColumn="nombrePlace">Empty places
                            <p-sortIcon field="nombrePlace"></p-sortIcon>
                        </th>
                        <th pSortableColumn="nombrePlaceVide">Occupied places
                            <p-sortIcon field="nombrePlaceVide"></p-sortIcon>
                        </th>
                        <th pSortableColumn="nombrePlaceVide">Parcours
                            <p-sortIcon field="nombrePlaceVide"></p-sortIcon>
                        </th>
                        <th pSortableColumn="nombrePlaceVide">Actions
                            <p-sortIcon field="nombrePlaceVide"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template let-groupeEtudiant pTemplate="body">
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="groupeEtudiant"></p-tableCheckbox>
                        </td>
                        <td>{{groupeEtudiant.id}}</td>
                        <td>{{groupeEtudiant.libelle}}</td>
                        <td>{{groupeEtudiant.dateDebut}}</td>
                        <td>{{groupeEtudiant.dateFin}}</td>
                        <td>{{groupeEtudiant.nombrePlacevide}}</td>
                        <td>{{groupeEtudiant.nombrePlaceNonVide}}</td>
                        <td>{{groupeEtudiant.parcours.code}}</td>
                        <td>
                            <button (click)="delete(groupeEtudiant)" class="p-button-rounded p-button-danger"
                                    icon="pi pi-trash" pButton
                                    pRipple></button>&nbsp;
                            <button (click)="edit(groupeEtudiant)"
                                    class="p-button-rounded p-button-success p-mr-2" icon="pi pi-pencil" pButton
                                    pRipple></button>
                            <button (click)=" findAllGroupeEtudiantDetail(groupeEtudiant); openGroupeEtudiantDetail()"
                                    class="p-button-rounded p-button-info p-mr-2" icon="pi pi-list" pButton
                                    pRipple></button>
                            <button pButton pRipple type="button" icon="pi pi-calendar"
                                    (click)="showScheduleDialog(groupeEtudiant)"
                                    class="p-button-rounded p-button-secondary"></button>
                        </td>

                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        In total there are items.
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-groupe-etudiant-create *ngIf="createDialog"></app-groupe-etudiant-create>
        <app-groupe-etudiant-detail-list></app-groupe-etudiant-detail-list>
        <app-groupe-etudiant-edit></app-groupe-etudiant-edit>

    </div>
</div>


<!------------------------ Schedule dialog -------------------------------------------------->


<div [hidden]="scheduleDialog" class="p-col-md-12">
    <button pButton (click)="hideDialog()" pRipple style="float:right!important; margin: 1%  2px"
            type="button" icon="pi pi-times"
            class="p-button-rounded p-button-text "></button>
    <table style="padding: 0 22px 10px 0;float: left;" class="property-table">
        <tbody>
        <tr>
            <td style="width: 80%;">
                <div>
                    <ejs-dropdownlist width='250px' id='scheduletimezone' #timezoneDropdown
                                      [dataSource]='timezoneData'
                                      (change)='onTimezoneDropDownChange($event)' [value]='dropDownValue'
                                      [allowFiltering]="true"
                                      [fields]='fields'
                                      popupWidth='250'></ejs-dropdownlist>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <ejs-schedule width='100%' #scheduleObj [selectedDate]="selectedDate"
                  [timeScale]='timeScale'
                  (actionComplete)="onActionComplete()"
                  [readonly]="true"
                  [eventSettings]="eventSettings ">
        <e-views>
            <e-view option="Week"></e-view>
            <e-view option="WorkWeek"></e-view>
            <e-view option="Month"></e-view>
        </e-views>
    </ejs-schedule>
</div>

