<section class="cta__area pb-150">
    <div class="container">
        <div style="background: #ff725e!important;"
             class="cta__inner-3 p-relative shadow p-3 mb-5 bg-body rounded  pt-75 pb-75 fix">
            <div class="cta__shape-3">
                <img class="cta-2" src="assets/img/cta/cta-shape-1.webp" alt="">
                <img class="cta-3" src="assets/img/cta/cta-shape-2.webp" alt="">
            </div>
            <div class="row">
                <div class="col-xxl-12">
                    <div class="cta__content text-center p-relative">
                        <P class="fst-italic"
                           style="color: black; font-weight: bold;font-family: system-ui;">{{'Take a free trial lesson' | translate}}</P>
                        <h3 class="cta__title-2">{{'determinate' | translate}}</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="cta__form-inner">
                        <form action="#">
                            <input [style]="{ width: '100%'}" name="nom" [(ngModel)]="selected.nom" type="text"
                                   placeholder="{{'Your name * ' | translate}}">
                        </form>
                    </div>
                </div>


                <div class="col-md-4 col-sm-12">
                    <div class="cta__form grey-bg-2">
                        <div class="cta__form-inner">
                            <form action="#">
                                <input [style]="{ width: '100%'}" name="username" [(ngModel)]="selected.username"
                                       type="email"
                                       placeholder="{{'Email *' | translate}}">
                            </form>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 col-sm-12">
                    <div class="cta__form grey-bg-2">
                        <div class="cta__form-inner">
                            <form action="#">
                                <input [style]="{ width: '100%'}" name="numero" [(ngModel)]="selected.numero" type="tel"
                                       placeholder="{{'Phone *' | translate}}">
                            </form>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 col-sm-12"></div>
                <div class="col-md-4 col-sm-12">
                    <button [disabled]="isDisabled()" style="height: 50px!important;" pButton pRipple
                            (click)="createEtudiant()"
                            type="button" label="{{'START LEARNING' | translate}}"
                            class="ngFlexyBlackButton">
                        <i class="fa fa-solid fa-arrow-right-to-arc"></i>
                    </button>
                </div>

                <div class="col-md-4 col-sm-12"></div>
            </div>
        </div>
    </div>
</section>
