<section   [style.direction]="translate.currentLang === 'ar' ? 'rtl': 'ltr'" class="teacher__area pt-115 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-xxl-6 offset-xxl-3">
                <div class="section__title-wrapper text-center mb-60">
                    <h2 class="section__title">
                        <span class="yellow-bg"> {{'Advantages of studying in EngFlexy' | translate}} <img src="assets/img/shape/yellow-bg-2.png" alt="">  </span> <br>
                    </h2>
                    <p>{{'base2' | translate}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-4 col-sm-12">
            <div class="row">
                <div class="col-md-12 icon">
                    <i class="fa fa-solid fa-rocket-launch"></i>
                </div>
                <div class="col-md-12 title">طور مستواك في اللغة الإنجليزية</div>
                <div class="col-md-12 description">
                    <h4  class="font-italic mb-4">هل ترغب أن تطور مستواك في اللغة الإنجليزية بطريقة فعالة وإحترافية؟</h4>
                    <p  class="font-italic text-muted mb-2">
                        إذن أكاديمية EngFlexy هي الحل فيهي تتيح لك الفرصة في التعلم مع أستاذ معترف به مباشرة و بشكل تفاعلي حيث يمكنك التحدث، تعلم القواعد، الإستماع، القراءة و كذلك الكتابة بالإضافة إلى التمارين حتى تتمرس بشكل مكثف مع أستاذك.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-12">
            <div class="row">
                <div class="col-md-12 icon">
                    <i class="fa fa-solid fa-grin-stars"></i>
                </div>
                <div class="col-md-12 title">كم هو أفضل أن تدرس وأنت مرتاح!</div>
                <div class="col-md-12 description">
                    <p class="font-italic text-muted mb-2">
                        الأكاديمية تمنحك الفرصة بأن تتعلم الإنجليزية من أي مكان. ما يلزمك فقط جهاز و أنترنيت. العامل النفسي يمكن أن يكون أكثر أهمية في رحلة التعلم. فبدلا من ضياع الوقت التي تقضيه ذهابا وإيابا من منزلك إلى مكان التعلم،يمكنك أن تستفيد من هذا الوقت لإنجاز التمارين أو مع أستاذك بشكل مباشر.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-12">
            <div class="row">
                <div class="col-md-12 icon">
                    <i class="fa fa-solid fa-gift"></i>
                </div>
                <div class="col-md-12 title">تدفع مرة و تتعلم مرتين!</div>
                <div class="col-md-12 description">
                    <p class="font-italic text-muted mb-2">
                        تدفع فقط لساعة واحدة ثم لديك ساعة أخرى مجانية حيث تختبر مهاراتك في مكان للواجبات. ستجد التمارين المصاحبة للدرس حيث يمكنك حلها وإعادة الحل عدد المرات التي ترغب فيها حتى تتمكن تماما من الدرس. ستجد قسما للكتابة حيث بعد إنتهاءك يمكنك إرساله لأستاذك للتصحيح و مناقشة مكان القصور والأخطاء. كلها هذا مجانا
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-12">
            <div class="row">
                <div class="col-md-12 icon">
                    <i class="fa fa-solid fa-level-up-alt"></i>
                </div>
                <div class="col-md-12 title">اكتشف مستواك </div>
                <div class="col-md-12 description">
                    <h4 class="font-italic mb-4">هل ترغب في معرفة مستواك بالإنجليزية؟</h4>
                    <p class="font-italic text-muted mb-2">
                        أكاديمية EngFlexy تفتح لك المنصة لتختبر مدى تمكنك من الإنجليزية عبر إختبار مكون من مجموعة من الأسئلة. بعد الإجابة، ستحصل مباشرة على النتيجة و كذلك مستواك (مبتدئ، متوسط، متقدم...).
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-12">
            <div class="row">
                <div class="col-md-12 icon">
                    <i class="fa fa-solid fa-hands-usd"></i>
                </div>
                <div class="col-md-12 title">خاصية إسترجاع الرسوم</div>
                <div class="col-md-12 description">
                    <p class="font-italic text-muted mb-2">
                        هدفنا الأساسي هو تمكنك من اللغة الإنجليزية بإحتراف. لذلك خاصية إسترجاع المبلغ كاملا في حال عدم إستفادتك. جميع الجلسات المستقبلية في غضون 48 ساعة من طلب إسترداد الأموال قابلة للإسترداد
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-12">
            <div class="row">
                <div class="col-md-12 icon">
                    <i class="fa fa-solid fa-file-certificate"></i>
                </div>
                <div class="col-md-12 title">شهادة إتمام اللغة الإنجليزية</div>
                <div class="col-md-12 description">
                    <p class="font-italic text-muted mb-2">
                        في نهاية إتمامك أي مستوى من المستويات وإجتياز الإمتحان ستحصل على شهادة نجاح مقدمة من الأكاديمية.
                    </p>
                </div>
            </div>
        </div>


    </div>
</section>
