<section [style.direction]="translate.currentLang === 'ar' ? 'rtl': 'ltr'" class="teacher__area pt-115">
    <div class="container">
        <div class="row">
            <div class="col-xxl-12 offset-xxl-3">
                <div class="section__title-wrapper text-center mb-20">
                    <h2 class="section__title">
                        <span class="yellow-bg"> {{'Advantages of studying in EngFlexy' | translate}} <img
                                src="assets/img/shape/yellow-bg-2.png" alt="">  </span> <br>
                    </h2>
                    <p>{{'base2' | translate}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-12 p-2">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <p class="icon">
                                <i class="fa fa-solid fa-rocket-launch"></i>
                            </p>
                            <p class="sub__title">{{"Develop your level of English" | translate}}</p>
                        </div>
                        <div class="flip-card-back">
                            <p class="title">{{"Do you want to improve your level of English in an effective and professional way?" | translate}}</p>
                            <p class="description">
                                {{"So EngFlexy Academy is the solution in which it gives you the opportunity to learn with a recognized professor directly and interactively where you can speak, learn grammar, listen, read and write in addition to exercises until you practice intensively with your teacher" | translate}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 p-2">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <p class="icon">
                                <i class="fa fa-solid fa-grin-stars"></i>
                            </p>
                            <p class="sub__title">{{"How better it is to study comfortably!" | translate}}</p>
                        </div>
                        <div class="flip-card-back">
                            <p class="description">
                                {{"The Academy gives you the opportunity to learn English from anywhere. All you need is a device and the Internet. The psychological factor can be more important in the learning journey. Instead of wasting time going back and forth from your home to the place of learning, you can take advantage of this time to complete the exercises with your teacher directly." | translate}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4 col-sm-12 p-2">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <p class="icon">
                                <i class="fa fa-solid fa-gift"></i>
                            </p>
                            <p class="sub__title">{{"Pay once and learn twice!" | translate}}</p>
                        </div>
                        <div class="flip-card-back">
                            <p class="description">
                                {{"You only pay for one hour and then you have another hour free as you put your skills to the test in a place of assignments. You will find exercises accompanying the lesson where you can solve and re-solve as many times as you wish until you are fully able to complete the lesson. You will find a section for writing, where after you finish, you can send it to your professor for correction and discussion of all the shortcomings and mistakes." | translate}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4 col-sm-12 p-2">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <p class="icon">
                                <i class="fa fa-solid fa-level-up-alt"></i>
                            </p>
                            <p class="sub__title">{{"Find out your level" | translate}}</p>
                        </div>
                        <div class="flip-card-back">
                            <p class="title">{{"Do you want to know your level in English?" | translate}}</p>
                            <p class="description">
                                {{"EngFlexy Academy opens the platform for you to test your English proficiency through a test consisting of a set of questions. After answering, you will immediately get the result as well as your level (beginner, intermediate, advanced...)" | translate}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4 col-sm-12 p-2">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <p class="icon">
                                <i class="fa fa-solid fa-hands-usd"></i>
                            </p>
                            <p class="sub__title">{{"Fee refund feature" | translate}}</p>
                        </div>
                        <div class="flip-card-back">
                            <p class="description">
                                {{"Our primary goal is to enable you to master the English language professionally. Therefore, the feature of refunding the full amount in the event that you do not benefit. All future sessions within 48 hours of requesting a refund are refundable" | translate}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4 col-sm-12 p-2">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <p class="icon">
                                <i class="fa fa-solid fa-file-certificate"></i>
                            </p>
                            <p class="sub__title">{{"English Language Completion Certificate" | translate}}</p>
                        </div>
                        <div class="flip-card-back">
                            <p class="description">
                                {{"At the end of completing any of the levels and passing the exam, you will receive a certificate of success presented by the academy" | translate}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>


        </div>


    </div>

</section>
