<div class="card">
    <h5 >Reset password</h5>
    <div class="p-formgroup-inline">
        <div class="p-field">
            <label for="email" class="p-sr-only">Your email </label>
            <input #email id="email" type="text" pInputText placeholder="Email" [(ngModel)]="username">
        </div>

        <button [disabled]="!email.value.includes('@')" pButton pRipple type="button" (click)="resetPassword()"
                label="Reset password" class="p-button-rounded"></button>
    </div>
</div>
