<main>
    <app-header-two headerShadow="header__area header__padding-2 header__shadow">
    </app-header-two>
    <section [style.direction]="translate.currentLang === 'ar' ? 'rtl': 'ltr'" class="blog__area pt-50 pb-130">
        <!--Div for Background-->
        <div class="container bg text-center">

            <!--Div for Centered Text & Input-->
            <div class="centered">

                <p class="firstLine"> {{'Reset Password' | translate}} </p>

                <p class="secondLine">{{'Lost your password? Please enter your Email address. You will receive your new password via Email' | translate}}</p>

                <p><input [(ngModel)]="username" name="username" class="InputStyle"
                          [placeholder]="'emailyour' | translate"
                          style="font-family:Arial, FontAwesome" type="text"></p>

            </div>

            <!--Div for bottom Icons-->
            <div class="social-btn">
                <button [disabled]="emailValidator()" (click)="resetPassword()"  type="button" class="btn resetPassword btn-light">{{'RESET PASSWORD' | translate}}</button>
            </div>
        </div>
    </section>
    <app-home-footer footerPadd="footer__top pt-90 pb-40"></app-home-footer>

</main>
