<section class="blog__area pt-50 pb-120">
  <div class="container">
     <div class="row">
        <div class="col-xxl-8 col-xl-8 col-lg-8">
           <div class="blog__wrapper">
              <div class="blog__text mb-40">
                 <p>Learning a language is a long-term commitment and sometimes it feels like we hit a
                    wall and our motivation starts to drop or something unexpected pops up that stops us from
                    studying as frequently as we would like to.

                    Taking a break is totally okay and necessary at times but many students do not
                    have a plan to get back on track which can lead to major language loss that will take
                    months to get back and staying motivated to learn English becomes more difficult.
                    In this Blog,Engflexy shares some advice and strategies to help you identify different types
                    of breaks and how to get motivated and back on track as soon as possible!</p>
              </div>
              <div class="blog__quote grey-bg mb-45 p-relative fix">
                 <img class="quote" src="assets/img/blog/quote-1.png" alt="">
                 <blockquote>
                    <p>Learn how to improve your speaking and fluency with this lesson:</p>
                    <div class="header__btn header__btn-2 ml-30 d-none d-sm-block">
                       <a [routerLink]="['/free-trial']" class="e-btn">Free Trial Lesson</a>
                    </div>
                 </blockquote>
              </div>
              <div class="blog__text mb-30">
                <p>Does it feel like your English is improving very slowly?</p>
                <p> Or do you feel that you are not making much progress at all?</p>

              </div>
              <div class="blog__link mb-35">
                 <p>Navigating this stage of English is complicated! With so many resources, lessons, and advice, it can feel overwhelming to know what to focus on and where to start.
                    At Engflexy, we specialize in helping students just like you to focus on the right things, identify which activities will help you to quickly develop your skills,
                    and give you direct access to a teacher who can help you to practice, answer your questions, and give you the corrections you need, using our online interactive platform.
                    <a [routerLink]="'/courses'">engflexy.com/courses</a> </p>
              </div>
              <div class="blog__img w-img mb-45" >
                 <img src="assets/img/blog/big/blog-big-1.jpg" alt="">
              </div>
              <div class="blog__text mb-40">
                 <app-home-three-cta></app-home-three-cta>
              </div>
              <div class="blog__line"></div>
              <div class="blog__meta-3 d-sm-flex justify-content-between align-items-center mb-80">
                 <div class="blog__tag-2">
                    <a href="#">Learning & English</a>
                    <a href="#">Education</a>
                    <a href="#">App</a>
                 </div>
                 <div class="blog__social d-flex align-items-center">
                    <h4>Share:</h4>
                    <ul>
                       <li><a href="https://web.facebook.com/" class="fb" ><i class="social_facebook"></i></a></li>
                       <li><a href="https://twitter.com" class="tw" ><i class="social_twitter"></i></a></li>
                       <li><a href="https://www.pinterest.com/" class="pin" ><i class="social_pinterest"></i></a></li>
                    </ul>
                 </div>
              </div>

              <div class="latest-comments mb-95">
                 <h3>3 Comments</h3>
                 <ul>
                    <li>
                       <div class="comments-box grey-bg">
                          <div class="comments-info d-flex">
                                <div class="comments-avatar mr-20">
                                      <img src="assets/img/blog/comments/comment-2.jpg" alt="">
                                </div>
                                <div class="avatar-name">
                                   <h5>Nadia Amanghour</h5>
                                   <span class="post-meta"> July 14, 2022</span>
                                </div>
                          </div>
                          <div class="comments-text ml-65">
                             <p>I got the same problem here.Idk,the last three months I started to forget simple words.</p>
                             <div class="comments-replay">
                                <a >Reply</a>
                             </div>
                          </div>
                       </div>
                    </li>
                    <li class="children">
                       <div class="comments-box grey-bg">
                          <div class="comments-info d-flex">
                                <div class="comments-avatar mr-20">
                                      <img src="assets/img/blog/comments/comment-1.jpg" alt="">
                                </div>
                                <div class="avatar-name">
                                   <h5>Ahmed Dahir</h5>
                                   <span class="post-meta">April 16, 2022 </span>
                                </div>
                          </div>
                          <div class="comments-text ml-65">
                             <p  style="direction: rtl">مازال حنا المغاربة لينا الدواء.خدامين معايا شي ناس من بولاند منين كيدويو بالإنجليزية كايحساب ليا بحالا باغيين يتخاصمو معايا😂😂</p>
                             <div class="comments-replay">
                                <a >Reply</a>
                             </div>
                          </div>
                       </div>
                       <ul>
                          <li class="children-2">
                             <div class="comments-box grey-bg">
                                <div class="comments-info d-flex">
                                      <div class="comments-avatar mr-20">
                                            <img src="assets/img/blog/comments/comment-3.jpg" alt="">
                                      </div>
                                      <div class="avatar-name">
                                         <h5>Kamal zouani</h5>
                                         <span class="post-meta">April 18, 2022 </span>
                                      </div>
                                </div>
                                <div class="comments-text ml-65">
                                   <p style="direction: rtl">هذا هو المشكل ديال المغاربة 🇲🇦 كاملنا عندنا CV واحد،كانبدلو غير التصويرة</p>
                                   <div class="comments-replay">
                                      <a >Reply</a>
                                   </div>
                                </div>
                             </div>
                          </li>
                       </ul>
                    </li>
                 </ul>
              </div>
              <div class="blog__comment">
                 <h3>Write a Review</h3>
                 <form action="#">
                    <div class="row">
                       <div class="col-xxl-6 col-xl-6 col-lg-6">
                          <div class="blog__comment-input">
                             <input type="text" placeholder="Your Name">
                          </div>
                       </div>
                       <div class="col-xxl-6 col-xl-6 col-lg-6">
                          <div class="blog__comment-input">
                             <input type="email" placeholder="Your Email">
                          </div>
                       </div>
                       <div class="col-xxl-12">
                          <div class="blog__comment-input">
                             <input type="text" placeholder="Website">
                          </div>
                       </div>
                       <div class="col-xxl-12">
                          <div class="blog__comment-input">
                             <textarea placeholder="Enter your comment ..."></textarea>
                          </div>
                       </div>
                       <div class="col-xxl-12">
                          <div class="blog__comment-agree d-flex align-items-center mb-20">
                             <input class="e-check-input" type="checkbox" id="e-agree">
                             <label class="e-check-label" for="e-agree">Save my name, email, and website in this browser for the next time I comment.</label>
                          </div>
                       </div>
                       <div class="col-xxl-12">
                          <div class="blog__comment-btn">
                             <button type="submit" class="e-btn">Post Comment</button>
                          </div>
                       </div>
                    </div>
                 </form>
              </div>
           </div>
        </div>

        <div class="col-xxl-4 col-xl-4 col-lg-4">
           <app-blog-sidebar></app-blog-sidebar>
        </div>

     </div>
  </div>
</section>
