.layout-wrapper.layout-slim .layout-main {
  margin-left: 16%;
  //padding-top: 100px!important;

}

.dictButton {
  right: 20px;
  border: none;
  position: fixed;
  bottom: 25px !important;
  padding-bottom: 10px;
  z-index: 9001;
  height: 85px !important;
  cursor: pointer;
}


.floatButton {
  right: 30px;
  border: none;
  position: fixed;
  bottom: 25px !important;
  padding-bottom: 10px;
  z-index: 100;
  cursor: pointer;
}

.layout-wrapper.layout-slim .layout-main {
  margin-left: 209px;
}


.p-dialog-header1 {
  background: linear-gradient(135deg, #ff725e 0%, #c7493a 100%);
  height: 130px;
}

.helpText {
  color: white;
  font-size: 19px;
  font-family: -webkit-body;
  letter-spacing: 1px;
}

.sentIcons {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: #595963cf;
  margin: 0 10px;

}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1000000000000; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 15%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  //display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.sentMessage:focus {
  border: none !important;
  box-shadow: none;
}

.sentMessage:focus-visible {
  border: none !important;
  outline: none !important;
  box-shadow: none;
}

.speech-divider {
  padding: 5px 5px;
}

.speech-wrapper {
  padding: 1px 6px;
  width: 100%;

  .bubble {
    height: auto;
    display: block;
    background: #bee3db;
    border-radius: 4px;
    box-shadow: 1px 1px 0 #dee2e6;
    position: relative;
    margin: 0 0 20px;

    &.alt {
      //margin: 0 0 0 55px;
    }

    .txt {
      padding: 8px 55px 8px 14px;

      .name {
        font-weight: 600;
        font-size: 12px;
        margin: 0 0 4px;
        color: #3498db;

        span {
          font-weight: normal;
          color: #b3b3b3;
        }

        &.alt {
          color: #0a5c2d;
        }

        &.altTeacher {
          color: #cc952e;
        }
      }

      .message {
        font-size: 12px;
        margin: 5px 0 25px 0;
        color: #2b2b2b;
      }

      .timestamp {
        font-size: 11px;
        position: absolute;
        bottom: 8px;
        right: 10px;
        text-transform: uppercase;
        color: #999;
      }
    }

    .bubble-arrow {
      position: absolute;
      width: 0;
      bottom: 42px;
      left: -16px;
      height: 0;

      &.alt {
        bottom: 34px;
        left: 7px;
      }
    }

    .bubble-arrow:after {
      content: '';
      position: absolute;
      border: 0 solid transparent;
      border-top: 9px solid #bee3db;
      border-radius: 0 20px 0;
      width: 15px;
      height: 30px;
      transform: rotate(145deg);
    }

    .bubble-arrow.alt:after {
      transform: rotate(45deg) scaleY(-1);
    }
  }


  .bubbleTeacher {
    width: 100%;
    height: auto;
    display: block;
    background: #f9c74f;
    border-radius: 4px;
    box-shadow: 1px 1px 0 #8b8b90;
    position: relative;
    margin: 0 0 20px;

    &.alt {
      //margin: 0 0 0 55px;
    }

    .txt {
      padding: 8px 55px 8px 14px;

      .name {
        font-weight: 600;
        font-size: 12px;
        margin: 0 0 4px;
        color: #3498db;

        span {
          font-weight: normal;
          color: #b3b3b3;
        }

        &.alt {
          color: #0a5c2d;
        }

        &.altTeacher {
          color: #8a6008;
        }
      }

      .message {
        font-size: 12px;
        margin: 5px 0 25px 0;
        color: #2b2b2b;

      }

      .timestamp {
        font-size: 11px;
        position: absolute;
        bottom: 8px;
        right: 10px;
        text-transform: uppercase;
        color: #999;
      }
    }

    .bubble-arrow-teacher {
      position: absolute;
      width: 0;
      bottom: 42px;
      left: -10px;
      height: 0;

      &.alt {
        right: -2px;
        bottom: 50px;
      }
    }

    .bubble-arrow-teacher:after {
      content: '';
      position: absolute;
      border: 0 solid transparent;
      border-top: 9px solid #f9c74f;
      border-radius: 0 20px 0;
      width: 15px;
      height: 30px;
      transform: rotate(145deg);
    }

    .bubble-arrow-teacher.alt:after {
      transform: rotate(190deg) scaleY(-1);
    }
  }
}
.p-speeddial-list{
  animation-name: delayedShow;
  animation-duration: 0.8s;
}
.p-speeddial-action-icon {
  font-size: 16px;
}

.p-speeddial-item {
  margin: 15px 0;

}

.p-element {
  margin: 15px 0 !important;
  background: #263238;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  padding: 11px 0 5px 0;
  color: white;

}
@keyframes delayedShow {
  0% {
    height: 0;
  }
  10% {
    height: 10%;
  }
  20% {
    height: 20%;
  }
  30% {
    height: 30%;
  }
  40% {
    height: 40%;
  }
  50% {
    height: 50%;
  }
  60% {
    height: 60%;
  }
  70% {
    height: 70%;
  }
  80% {
    height: 80%;
  }
  90% {
    height: 90%;
  }
  100% {
    height: 100%;
  }
}
