<div class="p-grid topBar">
    <div class="p-col-3 ">
        <h5>Levels</h5>
        <p-dropdown [options]="parcours" [(ngModel)]="selectedparcours"
                    (ngModelChange)="getCours()"
                    [style]="{width: '100%'}"
                    optionLabel="libelle" [filter]="true" filterBy="libelle" [showClear]="true"
                    placeholder="Select a Level">
        </p-dropdown>

    </div>

    <div class="p-col-3 ">
        <h5>Courses</h5>
        <p-dropdown [options]="cours" [(ngModel)]="selectedcours"
                    [style]="{width: '100%'}"
                    optionLabel="libelle" [filter]="true" filterBy="libelle" [showClear]="true"
                    placeholder="Select a Course">
        </p-dropdown>
    </div>
    <div style="padding-top: 43px;" class="p-col-1">
        <button pButton pRipple type="button" (click)="getHomeWorks()"
                icon="pi pi-search" class="p-button-rounded p-button-outlined p-button-info searchHomeWork "></button>
    </div>
</div>

<div class="p-grid contentBar">
    <div class="p-col-12">
        <p-table #dt [value]="homeWorks" responsiveLayout="scroll" [paginator]="true" [rows]="rows"
                 [showCurrentPageReport]="true"
                 [globalFilterFields]="['libelle']"
                 [(first)]="first"
                 currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                 [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="caption">

                <div class="p-grid">
                    <div class="p-col-3">
                        <input class="searchValue" type="text" pInputText
                               (input)="dt.filterGlobal($event.target.value, 'contains')"
                               placeholder="Search by Title..."/>
                    </div>
                    <div class="p-col-3"></div>
                    <div class="p-col-3"></div>
                    <div class="p-col-3">
                        <button pButton pRipple type="button" (click)="addHomeWork(selectedcours)"
                                icon="pi pi-plus" label="Add homework" class="ngFlexyBlackButton"></button>
                    </div>
                </div>

            </ng-template>


            <ng-template pTemplate="header">
                <tr>
                    <th>ID</th>
                    <th>title</th>
                    <th>Image</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-homework>
                <tr>
                    <td>{{homework?.id}}</td>
                    <td>{{homework?.libelle}}</td>

                    <td (click)="showImage(getUrlVideo(homework?.urlVideo), 'video')">
                        <img *ngIf="homework?.urlVideo === null" [src]="homework?.urlImage" width="75%"
                             class="shadow-4" alt="Image not found !"/>


                        <iframe *ngIf="homework?.urlVideo !== null" [src]='getUrlVideo(homework?.urlVideo) | safe'
                                allow="fullscreen"
                                loading="lazy"
                                style="width: 75%; height: 70px;border: none;border-radius: 5px;"></iframe>
                    </td>


                    <td *ngIf="isValidated(homework)"><span class="badge">VALIDATED</span></td>
                    <td *ngIf="!isValidated(homework)"><span class="badge-pending">PENDING</span></td>

                    <td>
                        <button (click)="view(homework)"
                                class="p-button-rounded p-button-info p-mr-2" icon="pi pi-list" pButton
                                pRipple></button>
                        <button (click)="edit(homework)"
                                class="p-button-rounded p-button-success p-mr-2" icon="pi pi-pencil" pButton
                                pRipple></button>

                        <button (click)="delete(homework)" class="p-button-rounded p-button-danger"
                                icon="pi pi-trash" pButton
                                pRipple></button>


                    </td>

                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">
                    In total there are {{ homeWorks?.length }} HomeWork.
                </div>
            </ng-template>
        </p-table>

    </div>
</div>

<p-sidebar [(visible)]="visibleSidebar" [fullScreen]="true" [baseZIndex]="10000">
    <img *ngIf="showSrcImg" [src]="urlMedia" width="100%" height="100%" class="shadow-5"/>
    <iframe *ngIf="!showSrcImg" [src]='urlMedia | safe'
            allow="fullscreen"
            loading="lazy" style="width: 75%; height: 100%;border: none;border-radius: 5px;"></iframe>
</p-sidebar>


<!-----------------------------------------------------Questions  Dialog ------------------------------------>

<p-dialog header="Questions" [(visible)]="showEditDialog" [style]="{width: '70vw'}">
    <div class="p-grid">
        <p-table [value]="qstList" responsiveLayout="scroll" [paginator]="true" [rows]="rows"
                 [showCurrentPageReport]="true"
                 [(first)]="first"
                 currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                 [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="caption">

                <div class="p-grid">
                    <div class="p-col-3">
                        <input class="searchValue" [(ngModel)]="homeWork.libelle" type="text" pInputText
                               placeholder="Search by Title.."/>
                    </div>
                    <div class="p-col-3">
                        <button pButton pRipple type="button" (click)="findHomeWork()"
                                icon="pi pi-search" class="p-button-rounded searchButton p-button-text"></button>


                    </div>
                </div>

            </ng-template>


            <ng-template pTemplate="header">
                <tr>
                    <th>Number</th>
                    <th>Question</th>
                    <th>Type of question</th>
                    <th>Correct answer</th>
                    <th>Incorrect answer</th>
                    <th>Answers</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-qst>
                <tr>
                    <td>{{qst?.numero}}</td>
                    <td>{{qst?.libelle}}</td>
                    <td>{{qst?.typeDeQuestion?.lib}}</td>
                    <td>{{qst?.pointReponseJuste}}</td>
                    <td>{{qst?.pointReponsefausse}}</td>
                    <td>
                        <button (click)="showAnswers(qst)"
                                class="p-button-rounded p-button-info p-mr-2" icon="pi pi-list" pButton
                                pTooltip="Answers" tooltipPosition="top"
                                pRipple></button>
                        <button (click)="deleteQst(qst)" class="p-button-rounded p-button-danger"
                                icon="pi pi-trash" pButton
                                pRipple></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">
                    In total there are {{ qstList?.length }} Questions.
                </div>
            </ng-template>
        </p-table>

    </div>

</p-dialog>


<!-----------------------------------------------------Answers of question  Dialog ------------------------------------>

<p-dialog header="Answers" [(visible)]="showAnswersDialog" [style]="{width: '50vw'}">
    <div class="p-grid">
        <p-table [value]="answers" responsiveLayout="scroll" [paginator]="true" [rows]="rows"
                 [showCurrentPageReport]="true"
                 [(first)]="first"
                 currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                 [rowsPerPageOptions]="[10,25,50]">

            <ng-template pTemplate="header">
                <tr>
                    <th>Number</th>
                    <th>Answer</th>
                    <th>State</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-reponse>
                <tr>
                    <td>{{reponse?.numero}}</td>
                    <td>{{reponse?.lib}}</td>
                    <td>{{reponse?.etatReponse}}</td>


                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">
                    In total there are {{ qstList?.length }} Answers.
                </div>
            </ng-template>
        </p-table>
    </div>
</p-dialog>


<!-----------------------------------------------------Edit write It Up  Dialog ------------------------------------>

<p-dialog header="Questions" [(visible)]="showEditWriteItUpDialog" [style]="{width: '60vw'}">
    <div class="p-grid">

        <div class="p-col-4 ">
            <h6>Type of Homework</h6>
            <input disabled type="text" pInputText [(ngModel)]="selectedHomeWork.libelle">
        </div>

        <div class="p-col-4 ">
            <h6>Url Image</h6>
            <input type="text" pInputText [(ngModel)]="selectedHomeWork.urlImage">
        </div>

        <div class="p-col-4 ">
            <h6>Url Video</h6>
            <input type="text" pInputText [(ngModel)]="selectedHomeWork.urlVideo">
        </div>


        <div class="p-col-4 ">
            <h6>Number of question</h6>
            <input type="text" pInputText [(ngModel)]="qstWriteItUp.numero">
        </div>


        <div class="p-col-4 ">
            <h6>Correct answer</h6>
            <input type="number" pInputText [(ngModel)]="qstWriteItUp.pointReponseJuste">
        </div>


        <div class="p-col-4 ">
            <h6>Incorrect answer</h6>
            <input type="number" pInputText [(ngModel)]="qstWriteItUp.pointReponsefausse">
        </div>


        <div *ngIf="selectedHomeWork.libelle === 'READING'" class="p-col-4 ">
            <h6>Title</h6>
            <input type="text" pInputText [(ngModel)]="qstWriteItUp.ref">
        </div>

        <div class="p-col-12">
            <h6 *ngIf="selectedHomeWork.libelle !== 'READING'">Question</h6>
            <h6 *ngIf="selectedHomeWork.libelle === 'READING'">Content</h6>
            <textarea [style]="{width:'100%', padding: '10px'}" rows="5" [(ngModel)]="qstWriteItUp.libelle"
                      pInputTextarea
                      autoResize="autoResize"></textarea>
        </div>


    </div>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="updateHomeWork()" label="save changes"
                  styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>
