<main>
    <app-header-one header__white="header__white"></app-header-one>
    <app-breadcrumb title="{{'User Agreement' | translate}}"
                    subtitle="{{'User Agreement' | translate}}"></app-breadcrumb>

    <section class="blog__area pt-50 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-md-12"><h1 style="text-align: center">{{'User Agreement' | translate}}</h1></div>
                <div class="col-md-12"><strong>{{'User Agreement-text1' | translate}}</strong></div>
                <div class="col-md-12"><h4>{{'ARBITRATION AND CLASS ACTION WAIVER SECTION BELOW' | translate}}</h4>
                </div>
                <div class="col-md-12"><strong>{{'User Agreement-text4' | translate}}</strong></div>


                <div class="col-md-12"><h3>{{'Eligibility' | translate}}</h3></div>
                <div class="col-md-12"><p>{{'Eligibility-text' | translate}}</p></div>

                <div class="col-md-12"><h3>{{'Additional Terms and Guidelines' | translate}}</h3></div>
                <div class="col-md-12"><p>{{'Additional Terms and Guidelines-text' | translate}}</p></div>


                <div class="col-md-12"><h3>{{' Data Privacy' | translate}}</h3></div>
                <div class="col-md-12"><p>{{' Data Privacy-text' | translate}}</p></div>


                <div class="col-md-12"><h3>{{'Modifications' | translate}}</h3></div>
                <div class="col-md-12"><p>{{'Modifications-text' | translate}}</p></div>


                <div class="col-md-12"><h3>{{'Account Registration and Use' | translate}}</h3></div>
                <div class="col-md-12"><p>{{'Account Registration and Use-text' | translate}}</p></div>


                <div class="col-md-12"><h3>{{'EngFlexy is a Marketplace Provider' | translate}}</h3></div>
                <div class="col-md-12"><p>{{'EngFlexy is a Marketplace Provider-text' | translate}}</p></div>


                <div class="col-md-12"><h3>{{'Rules and Prohibitions' | translate}}</h3></div>
                <div class="col-md-12"><p>{{'Rules and Prohibitions-text' | translate}}</p></div>


                <div class="col-md-12"><h3>{{'User Content' | translate}}</h3></div>
                <div class="col-md-12"><p>{{'User Content-text' | translate}}</p></div>


                <div class="col-md-12"><h3>{{'License to Use the Platform' | translate}}</h3></div>
                <div class="col-md-12"><p>{{'License to Use the Platform-text' | translate}}</p></div>


                <div class="col-md-12"><h3>{{'Ownership and Proprietary Rights' | translate}}</h3></div>
                <div class="col-md-12"><p>{{'Ownership and Proprietary Rights-text' | translate}}</p></div>


                <div class="col-md-12"><h3>{{'Sessions' | translate}}</h3></div>
                <div class="col-md-12"><p>{{'Sessions-text' | translate}}</p></div>


                <div class="col-md-12"><h3>{{'12. Tutor Availability and Tutor Quality' | translate}}</h3></div>
                <div class="col-md-12"><p>{{'12. Tutor Availability and Tutor Quality-text' | translate}}</p></div>


                <div class="col-md-12"><h3>{{'13. Payments on the Platform' | translate}}</h3></div>
                <div class="col-md-12"><p>{{'13. Payments on the Platform-text' | translate}}</p></div>


                <div class="col-md-12"><h3>{{'14- Tutor Eligibility and Rules' | translate}}</h3></div>
                <div class="col-md-12"><p>{{'14- Tutor Eligibility and Rules-text' | translate}}</p></div>


                <div class="col-md-12">
                    <h3>{{'Modifications and Termination of Accounts or the Platform' | translate}}</h3></div>
                <div class="col-md-12">
                    <p>{{'Modifications and Termination of Accounts or the Platform-text' | translate}}</p></div>


                <div class="col-md-12"><h3>{{'16. Third-Party Links and Resources' | translate}}</h3></div>
                <div class="col-md-12"><p>{{'16. Third-Party Links and Resources-text' | translate}}</p></div>


                <div class="col-md-12"><h3>{{'Disclaimers; No Warranties' | translate}}</h3></div>
                <div class="col-md-12"><p>{{'Disclaimers; No Warranties-text' | translate}}</p></div>


                <div class="col-md-12"><h3>{{'Limitation of Liability' | translate}}</h3></div>
                <div class="col-md-12"><p>{{'Limitation of Liability-text' | translate}}</p></div>


                <div class="col-md-12"><h3>{{'Indemnification' | translate}}</h3></div>
                <div class="col-md-12"><p>{{'Indemnification-text' | translate}}</p></div>


                <div class="col-md-12"><h3>{{'Arbitration and Class Action Waiver' | translate}}</h3></div>
                <div class="col-md-12"><p>{{'Arbitration and Class Action Waiver-text' | translate}}</p></div>


                <div class="col-md-12"><h3>{{'General' | translate}}</h3></div>
                <div class="col-md-12"><p>{{'General-text' | translate}}</p></div>


                <div class="col-md-12"><h3>{{'Apple iOS' | translate}}</h3></div>
                <div class="col-md-12"><p>{{'Apple iOS-text' | translate}}</p></div>


                <div class="col-md-12"><h3>{{'Google App' | translate}}</h3></div>
                <div class="col-md-12"><p>{{'Google App-text' | translate}}</p></div>


                <div class="col-md-12"><h3>{{'Miscellaneous' | translate}}</h3></div>
                <div class="col-md-12"><p>{{'Miscellaneous-text' | translate}}</p></div>


                <div class="col-md-12"><h3>{{'Entire agreement' | translate}}</h3></div>
                <div class="col-md-12"><p>{{'Entire agreement-text' | translate}}</p></div>

            </div>
        </div>
    </section>

    <app-home-footer footerPadd='footer__top pt-90 pb-40'></app-home-footer>
</main>
