div.mycard {
  height: 100%;
}

.Myclasses {
  height: 800px;
  max-height: 1000px;
  overflow: auto;
}

.title {
  margin-bottom: 26px;
  font-family: 'Ramaraja', fantasy;
  font-weight: bolder;
  letter-spacing: 2px;
}

.Nextlesson, .Statements, .Myclasses {
  margin-top: 12px;
  border-radius: 8px;
  text-align: start;
  margin-left: 2%;
}

.p-col-6 {
  background: white;
  border-bottom: 1px solid #e0d6fe;
  border-radius: 5px;
}

.p-button-success {
  width: 100%;
  height: 45px;
  font-size: small !important;
  font-weight: bold;
  background: #ea5167;
  border: none;
}

.p-button-success:hover {
  width: 100%;
  height: 45px;
  font-size: small !important;
  font-weight: bold;
  background: #ea5167 !important;
  border: none !important;
}

.imgLesson {
  width: 75px;
  margin-top: -15px;
}

.lessonContainer {
  background: #a6e1fa;
  border-radius: 8px;
  height: 70px;
  margin-bottom: 20px;
}

.lessonName {
  font-family: 'Ramaraja', serif;
  font-size: x-large;
  font-weight: bolder;
  letter-spacing: 2px;
  margin-bottom: -5px;
  color: #1a5f6e;
}

.lessonDate {
  color: #5f7888;
  font-size: smaller;
}

.statementsGrid {
  background: white;
  border-radius: 5px;
  text-align: start;
  margin-bottom: 25px;
}

.p-progressbar .p-progressbar-value {
  border: 0 none;
  margin: 0;
  background: #ea5167 !important;
}

.goals {
  font-size: medium;
  font-weight: bold;
  color: #ea5167;
}

.imgCourse {
  display: inline-block !important;
}

.NumberOfCourses {
  color: #ea5167;
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 0px;
}

.lessonActuel {
  background: #ea5167;
  border-radius: 5px;
  color: #a6e1fa;
  font-weight: bold;
  margin-bottom: 30px;
}

.p-button-help {
  background: #a6e1fa;
  border: none;
  color: #ea5167;
  font-weight: bold;
  height: 45px;
  width: 100%;
}

.p-button-help:hover {
  background: #a6e1fa !important;
  border: none;
  color: #ea5167 !important;
  font-weight: bold;
  height: 45px;
  width: 100%;
}

.nextLessonTitle {
  font-size: 25px;
  text-align: center;
  margin: -15px 0;
  font-family: "Ramaraja", serif;
  font-weight: bolder;
  letter-spacing: 2px;
  color: #a6e1fa;
}

.profGroup {
  background: white;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 30px;
}

.profImg {
  width: 70px !important;
  background: #e1d6ff;
  border-radius: 10px;
  padding: 2px;
}

.profName {
  margin-top: -13px;
  font-size: larger;
  font-weight: bolder;
}

.skypeIcon {
  display: inline-block;
  float: left;
}

.profSkype {
  padding: 13px 2px !important;

  div.p-col-2, div.p-col-10 {
    padding: 0 !important;
  }
}

.studentSGroupImg {
  width: 25px;
}

@keyframes joinNow {
  0% {
    background-color: #ea5167;
  }
  50% {
    background-color: #a6e1fa;
    color: #ea5167;
  }
  100% {
    background-color: #ea5167;
  }
}

.joinButton {
  animation-name: joinNow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}


