<p-tabView styleClass="tabview-custom">
    <p-tabPanel>
        <ng-template pTemplate="header">
            <i class="fas fa-books m-2"></i>
            <span>Packs</span>
        </ng-template>

        <div class="p-field">
            <div class="p-grid">
                <div class="p-col-6">
                    <div class="p-card">
                        <div class="p-card-title ">
                            <h3 style="text-align: center;">Individual Pack</h3>
                        </div>
                        <div class="p-card-body">
                            <div class="p-grid">
                                <div class="p-col-4">
                                    <button class="p-button-primary p-mr-2 p-mb-2 " icon="pi pi-plus" label="New"
                                            pButton
                                            (click)="showindividual()"
                                            pRipple style="width: 90px"></button>
                                </div>
                            </div>
                            <div class="p-grid">
                                <div class="p-col-5">
                                    <input #individual
                                           [style]="{width: '100%'}"
                                           placeholder="search by price, name, level..."
                                           type="text" pInputText>
                                </div>


                                <div class="p-col-2">
                                    <p-button [style]="{width: '100%'}" icon="pi pi-search"
                                              label="search"
                                              (click)="findBycreteria(false, individual.value)"></p-button>
                                </div>
                            </div>
                            <div class="p-grid">
                                <p-table responsiveLayout="scroll" [value]="packstudentIndividialList">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>ID</th>
                                            <th>Level</th>
                                            <th>Name</th>
                                            <th>Price</th>
                                            <th>Total Students</th>
                                            <th>Action</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-c>
                                        <tr>
                                            <td>{{c.id}}</td>
                                            <td>{{c.level?.libelle}}</td>
                                            <td>{{c.libelle}}</td>
                                            <td>{{c.price?.price}}</td>
                                            <td>{{c.totalStudents}}</td>
                                            <td>
                                                <button class="p-button-rounded p-button-success p-mr-2"
                                                        icon="pi pi-pencil"
                                                        pButton
                                                        (click)="showindividualforupdate(c)"
                                                        pRipple></button>
                                                <button class="p-button-rounded p-button-danger p-mr-2"
                                                        icon="pi pi-trash"
                                                        pButton
                                                        (click)="deletebycode(c)"
                                                        pRipple></button>
                                            </td>

                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </div>
                        <div></div>
                    </div>
                </div>
                <div class="p-col-6">
                    <div class="p-card">
                        <div class="p-card-title ">
                            <h3 style="text-align: center;">Group Pack</h3>
                        </div>
                        <div class="p-card-body">
                            <div class="p-grid">
                                <div class="p-col-4">
                                    <button class="p-button-primary p-mr-2 p-mb-2 " icon="pi pi-plus" label="New"
                                            pButton
                                            (click)="showgroupe()"
                                            pRipple style="width: 90px"></button>
                                </div>
                            </div>
                            <div class="p-grid">
                                <div class="p-col-5">
                                    <input #group
                                           [style]="{width: '100%'}"
                                           placeholder="search by price, name, level..."
                                           type="text" pInputText>
                                </div>

                                <div class="p-col-2">
                                    <p-button [style]="{width: '100%'}" icon="pi pi-search"
                                              label="search"
                                              (click)="findBycreteria(true, group.value)"></p-button>
                                </div>
                            </div>
                            <div class="p-grid">
                                <p-table responsiveLayout="scroll" [value]="packstudentgroupeList">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>ID</th>
                                            <th>Level</th>
                                            <th>Name</th>
                                            <th>Price</th>
                                            <th>Total Students</th>
                                            <th>Action</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-c>
                                        <tr>
                                            <td>{{c.id}}</td>
                                            <td>{{c.level?.libelle}}</td>
                                            <td>{{c.libelle}}</td>
                                            <td>{{c.price?.price}}</td>
                                            <td>{{c.totalStudents}}</td>
                                            <td>
                                                <button class="p-button-rounded p-button-success p-mr-2"
                                                        icon="pi pi-pencil"
                                                        pButton
                                                        (click)="showgroupeforUpdate(c)"
                                                        pRipple></button>
                                                <button class="p-button-rounded p-button-danger p-mr-2"
                                                        icon="pi pi-trash"
                                                        pButton
                                                        (click)="deletebycode(c)"
                                                        pRipple></button>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>

    </p-tabPanel>

    <p-tabPanel header="Header II">
        <ng-template pTemplate="header">
            <i class="far fa-money-check-edit-alt m-2"></i>
            <span>Prices</span>
        </ng-template>
        <app-create-price></app-create-price>

    </p-tabPanel>


</p-tabView>


<p-dialog header="Add pack for one student" [style]="{width: '70vw'}" [(visible)]="displayPackIndividual">
    <div class="p-grid" style="padding: 10px">
        <div class="p-col-4">
            <label><strong>code</strong></label>
            <input [style]="{width: '100%'}" class="p-mb-2 p-mr-2" type="text" pInputText
                   [(ngModel)]="this.packStudentServie.packstudentIndividial.code" required autofocus>
        </div>


        <div class="p-col-4">
            <label><strong>libelle</strong></label>
            <input [style]="{width: '100%'}" class="p-mb-2 p-mr-2" type="text" pInputText
                   [(ngModel)]="this.packStudentServie.packstudentIndividial.libelle" required autofocus>
        </div>

        <div class="p-col-4">
            <label><strong>Levels</strong></label>
            <p-dropdown [options]="parcours" [(ngModel)]="packstudentIndividial.level"
                        [style]="{'width': '100%'}"
                        optionLabel="libelle" [filter]="true" filterBy="libelle" [showClear]="true"
                        placeholder="Select a Level">
            </p-dropdown>
        </div>

        <div class="p-col-4">
            <label><strong>Price</strong></label>

            <p-dropdown [options]="priceList" [(ngModel)]="this.packStudentServie.packstudentIndividial.price"
                        [style]="{'width': '100%'}"
                        optionLabel="lib" [filter]="true" filterBy="lib" [showClear]="true"
                        placeholder="Select a price">
            </p-dropdown>

        </div>

        <div class="p-col-4">
            <label><strong>Url image</strong></label>

            <p-dropdown [options]="images" [(ngModel)]="this.packStudentServie.packstudentIndividial.imgUrl"
                        [style]="{'width': '100%'}"
                        optionLabel="name" [filter]="false" optionValue="url" filterBy="name" [showClear]="false"
                        placeholder="Select a image">
            </p-dropdown>
        </div>


        <div class="p-col-4">
            <label><strong>Description</strong></label>
            <textarea [style]="{width: '100%'}" rows="2" cols="30" name="description"
                      [(ngModel)]="packstudentIndividial.description"
                      pInputTextarea [autoResize]="false"></textarea>
        </div>


        <div class="p-col-4">
            <label><strong>Rating</strong></label>
            <input [style]="{width: '100%'}" class="p-mb-2 p-mr-2" type="number" pInputText
                   [(ngModel)]="this.packStudentServie.packstudentIndividial.rating" required autofocus>
        </div>

        <div class="p-col-4">
            <label><strong>Why take this course?</strong></label>
            <textarea [style]="{width: '100%'}" rows="2" cols="30" name="description"
                      [(ngModel)]="packstudentIndividial.whyTakeThisCourse"
                      pInputTextarea [autoResize]="false"></textarea>
        </div>

        <div class="p-col-4">
            <label><strong>What will you be able to do ?</strong></label>
            <textarea [style]="{width: '100%'}" rows="2" cols="30" name="description"
                      [(ngModel)]="packstudentIndividial.expectations"
                      pInputTextarea [autoResize]="false"></textarea>
        </div>

        <div class="p-col-4">
            <label><strong>Pre-requisites</strong></label>
            <textarea [style]="{width: '100%'}" rows="2" cols="30" name="description"
                      [(ngModel)]="packstudentIndividial.preRequisites"
                      pInputTextarea [autoResize]="false"></textarea>
        </div>

        <div class="p-col-4">
            <button class="p-button-primary p-mr-2 p-mb-2 " icon="pi pi-plus" label="Add"
                    pButton
                    (click)="saveIndividualPack()"
                    pRipple style="width: 90px"></button>
        </div>
    </div>
</p-dialog>


<p-dialog header="Update pack for one student" [style]="{width: '70vw'}" [(visible)]="displayPackIndividualforUpdate">
    <div class="p-grid" style="padding: 10px">


        <div class="p-col-4">
            <label><strong>libelle</strong></label>
            <input [style]="{width: '100%'}" class="p-mb-2 p-mr-2" type="text" pInputText
                   [(ngModel)]="this.packStudentServie.packstudentIndividial.libelle" required autofocus>
        </div>

        <div class="p-col-4">
            <label><strong>Levels</strong></label>
            <p-dropdown [options]="parcours" [(ngModel)]="packstudentIndividial.level"
                        [style]="{'width': '100%'}"
                        optionLabel="libelle" [filter]="true" filterBy="libelle" [showClear]="true"
                        placeholder="Select a Level">
            </p-dropdown>
        </div>


        <div class="p-col-4">
            <label><strong>Price</strong></label>
            <p-dropdown [options]="priceList" [(ngModel)]="this.packStudentServie.packstudentIndividial.price"
                        [style]="{'width': '100%'}"
                        optionLabel="lib" [filter]="true" filterBy="lib" [showClear]="false"
                        placeholder="Select a price">
            </p-dropdown>

        </div>


        <div class="p-col-4">
            <label><strong>Url image</strong></label>
            <p-dropdown [options]="images" [(ngModel)]="packstudentIndividial.imgUrl"
                        [style]="{'width': '100%'}"
                        optionLabel="name" [filter]="true" optionValue="url" filterBy="name" [showClear]="false"
                        placeholder="Select a image">
            </p-dropdown>
        </div>


        <div class="p-col-4">
            <label><strong>Description</strong></label>
            <textarea [style]="{width: '100%'}" rows="2" cols="30" name="description"
                      [(ngModel)]="packstudentIndividial.description"
                      pInputTextarea [autoResize]="false"></textarea>
        </div>


        <div class="p-col-4">
            <label><strong>Rating</strong></label>
            <input [style]="{width: '100%'}" class="p-mb-2 p-mr-2" type="number" pInputText
                   [(ngModel)]="this.packStudentServie.packstudentIndividial.rating" required autofocus>
        </div>


        <div class="p-col-4">
            <label><strong>Why take this course?</strong></label>
            <textarea [style]="{width: '100%'}" rows="2" cols="30" name="description"
                      [(ngModel)]="packstudentIndividial.whyTakeThisCourse"
                      pInputTextarea [autoResize]="false"></textarea>
        </div>

        <div class="p-col-4">
            <label><strong>What will you be able to do ?</strong></label>
            <textarea [style]="{width: '100%'}" rows="2" cols="30" name="description"
                      [(ngModel)]="packstudentIndividial.expectations"
                      pInputTextarea [autoResize]="false"></textarea>
        </div>

        <div class="p-col-4">
            <label><strong>Pre-requisites</strong></label>
            <textarea [style]="{width: '100%'}" rows="2" cols="30" name="description"
                      [(ngModel)]="packstudentIndividial.preRequisites"
                      pInputTextarea [autoResize]="false"></textarea>
        </div>
        <div class="p-col-4">
            <button class="p-button-primary p-mr-2 p-mb-2 " icon="pi pi-plus" label="Update"
                    pButton
                    (click)="updatepack()"
                    pRipple style="width: 90px"></button>
        </div>
    </div>
</p-dialog>


<p-dialog header="Add pack for group of student" [style]="{width: '70vw'}" [(visible)]="displayPackgroupe">
    <div class="p-grid" style="padding: 10px">
        <div class="p-col-4">
            <label><strong>code</strong></label>
            <input [style]="{width: '100%'}" class="p-mb-2 p-mr-2" type="text" pInputText id="0"
                   [(ngModel)]="this.packStudentServie.packstudentIndividial.code" required autofocus>
        </div>
        <div class="p-col-4">
            <label><strong>libelle</strong></label>
            <input [style]="{width: '100%'}" class="p-mb-2 p-mr-2" type="text" pInputText
                   [(ngModel)]="this.packStudentServie.packstudentIndividial.libelle" required autofocus>
        </div>


        <div class="p-col-4">
            <label><strong>Levels</strong></label>
            <p-dropdown [options]="parcours" [(ngModel)]="packstudentIndividial.level"
                        [style]="{'width': '100%'}"
                        optionLabel="libelle" [filter]="true" filterBy="libelle" [showClear]="true"
                        placeholder="Select a Level">
            </p-dropdown>
        </div>

        <div class="p-col-4">
            <label><strong>Price</strong></label>

            <p-dropdown [options]="priceList" [(ngModel)]="this.packStudentServie.packstudentIndividial.price"
                        [style]="{'width': '100%'}"
                        optionLabel="lib" [filter]="true" filterBy="lib" [showClear]="true"
                        placeholder="Select a price">
            </p-dropdown>
        </div>

        <div class="p-col-4">
            <label><strong>Url image</strong></label>
            <p-dropdown [options]="images" [(ngModel)]="packstudentIndividial.imgUrl"
                        [style]="{'width': '100%'}"
                        optionLabel="name" [filter]="true" optionValue="url" filterBy="name" [showClear]="false"
                        placeholder="Select a image">
            </p-dropdown>
        </div>


        <div class="p-col-4">
            <label><strong>Description</strong></label>
            <textarea [style]="{width: '100%'}" rows="2" cols="30" name="description"
                      [(ngModel)]="packstudentIndividial.description"
                      pInputTextarea [autoResize]="false"></textarea>
        </div>


        <div class="p-col-4">
            <label><strong>Rating</strong></label>
            <input [style]="{width: '100%'}" class="p-mb-2 p-mr-2" type="number" pInputText
                   [(ngModel)]="this.packStudentServie.packstudentIndividial.rating" required autofocus>
        </div>


        <div class="p-col-4">
            <label><strong>Why take this course?</strong></label>
            <textarea [style]="{width: '100%'}" rows="2" cols="30" name="description"
                      [(ngModel)]="packstudentIndividial.whyTakeThisCourse"
                      pInputTextarea [autoResize]="false"></textarea>
        </div>

        <div class="p-col-4">
            <label><strong>What will you be able to do ?</strong></label>
            <textarea [style]="{width: '100%'}" rows="2" cols="30" name="description"
                      [(ngModel)]="packstudentIndividial.expectations"
                      pInputTextarea [autoResize]="false"></textarea>
        </div>

        <div class="p-col-4">
            <label><strong>Pre-requisites</strong></label>
            <textarea [style]="{width: '100%'}" rows="2" cols="30" name="description"
                      [(ngModel)]="packstudentIndividial.preRequisites"
                      pInputTextarea [autoResize]="false"></textarea>
        </div>


        <div class="p-col-4">
            <button class="p-button-primary p-mr-2 p-mb-2 " icon="pi pi-plus" label="Add"
                    pButton
                    (click)="savegroupePack()"
                    pRipple style="width: 90px"></button>
        </div>
    </div>
</p-dialog>


<p-dialog header="Update pack for group of student" [style]="{width: '70vw'}" [(visible)]="displayPackgroupeforUpdate">
    <div class="p-grid">
        <div class="p-col-4">
            <label><strong>libelle</strong></label>
            <input [style]="{width: '100%'}" class="p-mb-2 p-mr-2" type="text" pInputText
                   [(ngModel)]="this.packStudentServie.packstudentIndividial.libelle" required autofocus>
        </div>

        <div class="p-col-4">
            <label><strong>Url image</strong></label>
            <p-dropdown [options]="images" [(ngModel)]="this.packStudentServie.packstudentIndividial.imgUrl"
                        [style]="{'width': '100%'}"
                        optionLabel="name" [filter]="false" optionValue="url" filterBy="name" [showClear]="false"
                        placeholder="Select a image">
            </p-dropdown>
        </div>

        <div class="p-col-4">
            <label><strong>Levels</strong></label>
            <p-dropdown [options]="parcours" [(ngModel)]="packstudentIndividial.level"
                        [style]="{'width': '100%'}"
                        optionLabel="libelle" [filter]="true" filterBy="libelle" [showClear]="true"
                        placeholder="Select a Level">
            </p-dropdown>
        </div>

        <div class="p-col-4">
            <label><strong>Price</strong></label>
            <p-dropdown [options]="priceList" [(ngModel)]="packstudentIndividial.price"
                        [style]="{'width': '100%'}"
                        optionLabel="lib" [filter]="true" filterBy="lib" [showClear]="true"
                        placeholder="Select a price">
            </p-dropdown>
        </div>


        <div class="p-col-4">
            <label><strong>Description</strong></label>
            <textarea [style]="{width: '100%'}" rows="2" cols="30" name="description"
                      [(ngModel)]="packstudentIndividial.description"
                      pInputTextarea [autoResize]="false"></textarea>
        </div>


        <div class="p-col-4">
            <label><strong>Rating</strong></label>
            <input [style]="{width: '100%'}" class="p-mb-2 p-mr-2" type="number" pInputText
                   [(ngModel)]="this.packStudentServie.packstudentIndividial.rating" required autofocus>
        </div>


        <div class="p-col-4">
            <label><strong>Why take this course?</strong></label>
            <textarea [style]="{width: '100%'}" rows="2" cols="30" name="description"
                      [(ngModel)]="packstudentIndividial.whyTakeThisCourse"
                      pInputTextarea [autoResize]="false"></textarea>
        </div>

        <div class="p-col-4">
            <label><strong>What will you be able to do ?</strong></label>
            <textarea [style]="{width: '100%'}" rows="2" cols="30" name="description"
                      [(ngModel)]="packstudentIndividial.expectations"
                      pInputTextarea [autoResize]="false"></textarea>
        </div>

        <div class="p-col-4">
            <label><strong>Pre-requisites</strong></label>
            <textarea [style]="{width: '100%'}" rows="2" cols="30" name="description"
                      [(ngModel)]="packstudentIndividial.preRequisites"
                      pInputTextarea [autoResize]="false"></textarea>
        </div>


        <div class="p-col-4">
            <button class="p-button-primary p-mr-2 p-mb-2 " icon="pi pi-plus" label="Update"
                    pButton
                    (click)="updatepack()"
                    pRipple style="width: 90px"></button>
        </div>
    </div>
</p-dialog>
