<div class="control-section">
    <button class="instruction-button" (click)="onDataBound($event)" icon="pi pi-refresh" pButton pRipple></button>

    <ejs-schedule #scheduleObj cssClass='schedule-group-custom-work-days' width='100%'
                  [currentView]="currentView" [group]="group" [selectedDate]="selectedDate"

                  (dataBound)="onDataBound($event)"
                  (actionComplete)="onActionComplete($event)"
                  (popupOpen)="onPopupOpen($event)"
                  [eventSettings]="eventSettings"
                  [allowDragAndDrop]="allowDragDrop">
        <ng-template #resourceHeaderTemplate let-data>
            <div class='template-wrap'>
                <!--                <div class="resource-image {{getDoctorImage(data)}}"></div>-->
                <div class="resource-details">
                    <!--                    <div class="resource-name">{{getDoctorName(data)}}</div>-->
                    <!--                    <div class="resource-designation">{{getDoctorLevel(data)}}</div>-->
                </div>
            </div>
        </ng-template>
        <e-views>
            <e-view option="Week" [timeScale]='timeScale'></e-view>
            <e-view option="WorkWeek" [timeScale]='timeScale'></e-view>
            <e-view option="Month" [timeScale]='timeScale'></e-view>
        </e-views>
        <e-resources>
            <e-resource field='DoctorId' title='nom' name='Profs' [dataSource]='resourceDataSource'
                        textField='subject'>
            </e-resource>
        </e-resources>

<!--                <e-resources>-->
<!--                    <e-resource field='subject' title='profName' name='Profs' [dataSource]='scheduleProfs' textField='grpName'-->
<!--                                idField='id' colorField='#ffa500'>-->
<!--                    </e-resource>-->
<!--                </e-resources>-->


    </ejs-schedule>
</div>
