<div id="con" class="container">
    <div class="row">
                <app-paiment></app-paiment>
        <h1>Test INFO : numero de carte banquaire: 4000000000000010 date: 12/23 CVV:000</h1>
        <form name="formpaiement" Id="formpaiement" action="https://testpayment.cmi.co.ma/fim/est3Dgate" method="post">

            <input type="submit" value="valider" onclick="submitformpaiement();">
            <table>
                <tbody>
                <tr>
                    <td>oid (code commande doit etre unique):</td>
                    <td></td>
                </tr>
                <tr>
                    <td>clientid :</td>
                    <td></td>
                </tr>
                <tr>
                    <td>storeKey :</td>
                    <td></td>
                </tr>
                <tr>
                    <td>amount :</td>
                    <td></td>
                </tr>
                <tr>
                    <td>okUrl :</td>
                    <td></td>
                </tr>
                <tr>
                    <td>failUrl :</td>
                    <td></td>
                </tr>
                <tr>
                    <td>shopUrl :</td>
                    <td></td>
                </tr>
                <tr>
                    <td>TranType :</td>
                    <td></td>
                </tr>
                <tr>
                    <td>callbackUrl :</td>
                    <td></td>
                </tr>
                <tr>
                    <td>currency :</td>
                    <td></td>
                </tr>
                <tr>
                    <td>storetype :</td>
                    <td></td>
                </tr>
                <tr>
                    <td>hashAlgorithm :</td>
                    <td><input type="text" name="hashAlgorithm" value="ver3"></td>
                </tr>
                <tr>
                    <td>lang :</td>
                    <td><input type="text" name="lang" value="fr"></td>
                </tr>
                <!--<tr><td>BillToName : </td><td><input type="text" name="BillToName" value="name"></td></tr> -->
                <tr>
                    <td>BillToCompany :</td>
                    <td><input type="text" name="BillToCompany" value="billToCompany"></td>
                </tr>
                <tr>
                    <td>BillToStreet1 :</td>
                    <td></td>
                </tr>
                <tr>
                    <td>BillToCity :</td>
                    <td></td>
                </tr>
                <tr>
                    <td>BillToStateProv :</td>
                    <td></td>
                </tr>
                <tr>
                    <td>BillToPostalCode :</td>
                    <td></td>
                </tr>
                <tr>
                    <td>BillToCountry :</td>
                    <td><input type="text" name="BillToCountry" value="504"></td>
                </tr>
                <!--<tr><td>email : </td><td><input type="text" name="email" value="email@domaine.com"></td></tr> -->
                <!--<tr><td>tel : </td><td><input type="text" name="tel" value="0021201020304"></td></tr> -->
                <tr>
                    <td>encoding :</td>
                    <td></td>
                </tr>
                <tr>
                    <td>price :</td>
                    <td></td>
                </tr>
                <tr>
                    <td>qty :</td>
                    <td></td>
                </tr>

                <tr>
                    <td>total :</td>
                    <td></td>
                </tr>

                <tr>
                    <td>desc1 :</td>
                    <td></td>
                </tr>

                <tr>
                    <td>id1 :</td>
                    <td></td>
                </tr>

                <tr>
                    <td>itemNumber1 :</td>
                    <td></td>
                </tr>

                <tr>
                    <td>productCode1 :</td>
                    <td></td>
                </tr>

                </tbody>
            </table>
        </form>
    </div>
</div>
