<section class="course__area grey-bg pt-115 pb-120">
  <div class="container">
     <div class="row align-items-end">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-8">
           <div class="section__title-wrapper mb-60">
              <h2 class="section__title">{{'online2' | translate}}<span class="yellow-bg"> {{'courses' | translate}} <img src="assets/img/shape/yellow-bg-2.png" alt="">  </span> {{'foranyone' | translate}}<br>
              </h2>
              <p> {{'base2' | translate}}</p>
           </div>
        </div>
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-4">
           <div class="category__more mb-60 float-md-end fix">
              <a [routerLink]="['/courses']" class="link-btn">
                 {{'view' | translate}}
                 <i class="far fa-arrow-right"></i>
                 <i class="far fa-arrow-right"></i>
              </a>
           </div>
        </div>
     </div>
     <div class="row">



        <div *ngFor="let pack of packs.slice(0,2)" class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
           <div class="course__item course__item-2 white-bg mb-30 transition-3">
              <div class="course__thumb fix w-img">
                 <a [routerLink]="['/course-details']">
                    <img [src]="pack?.imgUrl" alt="">
                 </a>
              </div>
              <div class="course__content-2">
                 <h3 class="course__title-2"><a [routerLink]="['/course-details']">{{pack?.libelle}}</a></h3>
                 <p>{{pack?.description}}</p>
                 <div class="course__bottom d-sm-flex justify-content-between align-items-center">
                    <div class="course__teacher-2 d-flex align-items-center">
                       <div class="course__teacher-thumb-2 mr-20">
                          <img [src]="pack?.imgUrl" alt="">
                          <div class="course__teacher-rating">
                             <i class="icon_star"></i>
                          </div>
                       </div>
                       <div class="course__teacher-info">
                          <h6><a [routerLink]="['/instructor-details']">{{pack?.level?.libelle}}</a></h6>
                          <span>{{pack?.nombreCours }} Lesson</span>
                       </div>
                    </div>
                    <div class="course__meta">
                       <div class="course__lesson">
                          <span><i class="far fa-book-alt"></i></span>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>




     </div>
  </div>
</section>
