<div class="p-grid" style="padding: 10px">
    <div *ngIf="inscription?.packStudent === null" (click)="backTollPacks()" class="p-col-12 allPacks">
        <a class="allPacks"><i class="pi pi-angle-left allPacks"></i> {{'All packs' | translate}}</a>
    </div>
    <div class="p-col-5">
        <p-card [header]="selectedPack?.libelle" [subheader]="isForGroupOrindev(selectedPack.forGroupe)"
                [style]="{width: '100%', borderRadius: '10px', cursor: 'pointer',   background: '#263238' , color: 'white'}"
                styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img *ngIf="selectedPack?.imgUrl !== null" alt="Card" [src]="selectedPack?.imgUrl">
            </ng-template>
            <p>{{selectedPack?.description}}</p>
            <ng-template  pTemplate="footer">
                <ng-container *ngIf="inscription?.packStudent === null">
                    <h2><i style="font-weight: bold;" class="pi pi-angle-right"></i> {{selectedPack?.price?.price}} $</h2>
                    <button pButton pRipple type="button" icon="pi pi-arrow-right" label="Buy now" iconPos="right"
                            (click)="startPack()"
                            class="Startnow"></button>
                </ng-container>

            </ng-template>
        </p-card>
    </div>

    <div class="p-col-1"></div>
    <div class="p-col-6">
        <h4 style="color: #ff725e;">{{'Overview' | translate}}</h4>
        <strong> {{'Why take this course?' | translate}}</strong>
        <p>{{selectedPack?.whyTakeThisCourse}}</p>
        <strong> {{'Experience Level' | translate}}</strong>
        <p>{{selectedPack?.level?.libelle}}</p>
        <strong> {{'Course Length' | translate}}</strong>
        <p>{{selectedPack?.nombreCours}}</p>
        <strong> {{'Pre-requisites' | translate}}</strong>
        <p>{{selectedPack?.preRequisites}}</p>

        <h4 style="color: #ff725e;"> {{'Syllabus' | translate}}</h4>
        <p *ngFor="let course of courses.slice(0, nombreCours)">{{course?.libelle}}</p>
        <p *ngIf="nombreCours !== selectedPack?.nombreCours" class="more-details" (click)="nombreCours = selectedPack.nombreCours">... see more</p>
    </div>
</div>
