<header>
    <div id="header-sticky" [ngClass]="headerSticky ? 'header__area header__transparent header__padding-2 sticky' :
     headerShadow ? headerShadow : 'header__area header__transparent header__padding-2' "
     >
       <div class="container">
          <div class="row align-items-center">
             <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-2 col-sm-4 col-6">
                <div class="header__left d-flex">
                   <div class="logo">
                      <a [routerLink]="['/']" >
                         <img src="assets/img/logo/logo.png" alt="logo">
                      </a>
                   </div>
                </div>
             </div>
             <div class="col-xxl-9 col-xl-9 col-lg-8 col-md-10 col-sm-8 col-6">
                <div class="header__right d-flex justify-content-end align-items-center">
                   <div class="main-menu main-menu-2">
                      <nav id="mobile-menu">
                         <ul>
                             <li >
                                 <a [routerLink]="['/courses']">Courses</a>
                             </li>
                             <li >
                                 <a [routerLink]="['/']">Prices</a>
                             </li>

                             <li >
                                 <a [routerLink]="['/blog']">Blog</a>
                             </li>

                             <li><a [routerLink]="['/contact']">Contact</a></li>


                             <li class="has-dropdown">
                                 <a style="cursor:pointer;" >English</a>
                                 <ul class="submenu">
                                     <li style="cursor:pointer;" value="en">English</li>
                                     <li style="cursor:pointer;" value="ar">Arabic</li>
                                 </ul>
                             </li>
                         </ul>
                      </nav>
                   </div>
                   <div class="header__btn header__btn-2 ml-50 d-none d-sm-block">
                      <a [routerLink]="['/sign-up']" class="e-btn">Sign up</a>
                   </div>
                    <div class="header__btn header__btn-2 ml-30 d-none d-sm-block">
                        <a [routerLink]="['/free-trial']" class="e-btn">Free Trial Lesson</a>
                    </div>
                   <div class="sidebar__menu d-xl-none">
                      <div (click)="handleSidebar()" class="sidebar-toggle-btn ml-30" id="sidebar-toggle">
                          <span class="line"></span>
                          <span class="line"></span>
                          <span class="line"></span>
                      </div>
                  </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </header>




<div (click)="handleSidebarClose()" class="body-overlay"
[class.opened]="showSidebar"></div>
<!-- sidebar area end -->
