<header>
    <div id="header-sticky" [ngClass]="headerSticky ? 'header__area header__transparent header__padding-2 sticky' :
     headerShadow ? headerShadow : 'header__area header__transparent header__padding-2' ">
        <div class="coupon">

        </div>

        <div class="container">
            <div class="row align-items-center">
                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2  col-6">
                    <div class="header__left d-flex">
                        <div class="logo">
                            <a [routerLink]="['/']">
                                <img src="assets/img/logo/eng-black.webp" style="width: 100px" alt="logo">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-10  col-6  ">
                    <div class="header__right d-flex justify-content-end  align-items-center">
                        <div class="main-menu main-menu-2 d-none d-xl-block">
                            <nav id="mobile-menu">
                                <ul>

                                    <li class="has-dropdown">
                                        <a [routerLink]="['/contact']"> {{'contact' | translate}}</a>

                                        <ul class="submenu">
                                            <li><a [routerLink]="['/contact']"> {{'contact' | translate}}</a></li>
                                            <li><a [routerLink]="['/blog']"> {{'blog' | translate}}</a></li>
                                            <li><a [routerLink]="'/about-us'">{{'aboutus' | translate}}</a></li>
                                            <li><a [routerLink]="['/faqs']">{{'FAQs' | translate}}</a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a [routerLink]="['/online-english-level-test']"> {{'discover your level' | translate}}</a>
                                    </li>


                                    <li class="has-dropdown">
                                        <a *ngIf="this.translate.currentLang === 'en'"
                                        >English</a>
                                        <a *ngIf="this.translate.currentLang === 'ar'"
                                        >العربية</a>
                                        <a *ngIf="this.translate.currentLang === 'fr'"
                                        >Français</a>

                                        <ul class="submenu">
                                            <li (click)="selectedLangage('en')" value="en"><a>English</a>
                                            </li>
                                            <li (click)="selectedLangage('ar')" value="ar"><a>العربية</a>
                                            </li>
                                            <li (click)="selectedLangage('fr')" value="fr"><a>Français</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                        <div class="header__btn header__btn-2 d-xl-block ml-30 d-none">
                            <a [routerLink]="['/courses']"
                               class="e-btn">{{'courses' | translate}}</a>
                        </div>

                        <div class="header__btn header__btn-2 d-xl-block ml-30 d-none">
                            <a [routerLink]="['/free-trial']" class="e-btn">{{'treetrialLesson' | translate}}</a>
                        </div>

                        <div class="header__btn ml-20 d-none d-xl-block">
                            <a [routerLink]="['/public/login']" class="e-btn"> {{'signin' | translate}}</a>
                        </div>


                        <div class="sidebar__menu d-xl-none">
                            <div (click)="handleSidebar()" class="sidebar-toggle-btn ml-30" id="sidebar-toggle">
                                <span class="line"></span>
                                <span class="line"></span>
                                <span class="line"></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>


<!-- sidebar area start -->
<div class="sidebar__area" [class.sidebar-opened]="showSidebar">
    <div class="sidebar__wrapper">
        <div (click)="handleSidebarClose()" class="sidebar__close">
            <button class="sidebar__close-btn" id="sidebar__close-btn">
                <span><i class="fal fa-times"></i></span>
                <span>{{'close' | translate}}</span>
            </button>
        </div>
        <div class="sidebar__content">
            <div class="logo mb-40">
                <a [routerLink]="['/']">

                    <ng-template>
                        <img src="assets/img/logo/eng-black.webp" class="logo-black" alt="logo">
                    </ng-template>
                </a>
            </div>

            <div class="side-info-content sidebar-menu mm-menu">

                <ul>
                    <li><a [routerLink]="['/courses']"> {{'courses' | translate}}</a></li>
                    <li><a [routerLink]="['/blog']"> {{'blog' | translate}}</a></li>
                    <li><a [routerLink]="['/contact']"> {{'Contact' | translate}}</a></li>
                    <li class="has-dropdown">
                        <a *ngIf="this.translate.currentLang === 'en'">English</a>
                        <a *ngIf="this.translate.currentLang === 'ar'">العربية</a>
                        <a *ngIf="this.translate.currentLang === 'fr'">Français</a>

                        <ul class="submenu">
                            <li (click)="selectedLangage('en')" value="en"><a>English</a></li>
                            <li (click)="selectedLangage('ar')" value="ar"><a>العربية</a></li>
                            <li (click)="selectedLangage('fr')" value="fr"><a>Français</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="header__btn header__btn-2 mt-10 ">
                <a style="width: 100%;" [routerLink]="['/public/login']" class="e-btn"> {{'signin' | translate}}</a>
            </div>

            <div class="header__btn header__btn-2 mt-10 ">
                <a style="width: 100%;" [routerLink]="['/free-trial']"
                   class="e-btn"> {{'treetrialLesson' | translate}}</a>
            </div>

            <div class="header__btn header__btn-2 mt-10 ">
                <a style="width: 100%;" [routerLink]="['/online-english-level-test']"
                   class="e-btn">{{'discover your level' | translate}}</a>
            </div>

        </div>
    </div>
</div>

<div (click)="handleSidebarClose()" class="body-overlay"
     [class.opened]="showSidebar"></div>
