
.p-grid {
  background: #f8f9fa;
  box-shadow: 0 0 10px #b7c0ce33;
  -webkit-box-shadow: 0 0 10px 0 rgba(183,192,206,.2);
  -moz-box-shadow: 0 0 10px 0 rgba(183,192,206,.2);
  -ms-box-shadow: 0 0 10px 0 rgba(183,192,206,.2);
  border-radius: 5px;
}

.p-col-3 {
  border-right: 1px solid lightgrey;
}
