<div class="p-grid">
    <div class="p-col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <h5 (click)="view()"> MyLevel: <span
                            style="cursor: pointer;color: #0c799f">{{this.serviceUser.getConnectedProf().categorieProf.level}} </span>
                    </h5>
                </ng-template>
                <ng-template pTemplate="right">
                    <p-dropdown [options]="itemsMOIS" [(ngModel)]="salarySearch.mois" placeholder="Select Month"
                                [itemSize]="31"
                                [showClear]="true"
                                [filter]="false" style="margin-right: 5px"></p-dropdown>
                    <p-dropdown [options]="itemsannee" [(ngModel)]="salarySearch.annee" placeholder="Select Year"
                                [showClear]="true"
                                [itemSize]="31"
                                [filter]="false"></p-dropdown>
                    <button pButton pRipple label="Search" icon="pi pi-search" class="p-button-primary p-ml-2 "
                            (click)="findAllByCriteria(this.serviceUser.getConnectedProf().nom)"
                    ></button>
                </ng-template>
            </p-toolbar>
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <h5>Number of Sessions Completed: <span
                            style="cursor: pointer;color: #0c799f">{{sessioncourslistProf.length}} </span></h5>

                </ng-template>
                <ng-template pTemplate="right">

                    <h5>Total Salaries: <span style="cursor: pointer;color: #0c799f">{{this.monatantGlobale}} $</span>
                    </h5>

                </ng-template>
            </p-toolbar>
            <p-table #dt [rows]="4" [paginator]="true" [value]="salaryList"
                     [globalFilterFields]="['reference','total','totalPaye']"
                     [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                     [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">List of Salary</h5>

                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="code">Code</th>
                        <th pSortableColumn="annee">Year</th>
                        <th pSortableColumn="mois">Month</th>
                        <th pSortableColumn="nbrSessionMensuel">Number of Monthly Sessions</th>
                        <th pSortableColumn="montantMensuel">Monthly Amount</th>
                        <th>Details</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-salary>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="salary"></p-tableCheckbox>
                        </td>
                        <td>{{salary.code}}</td>
                        <td>{{salary.annee}}</td>
                        <td>{{salary.mois}}</td>
                        <td>{{salary.nbrSessionMensuel}}</td>
                        <td>{{salary.montantMensuel}}</td>
                        <td>
                            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info p-mr-2"
                                    (click)="showDetails(salary.mois,salary.annee,this.serviceUser.getConnectedProf().id)"

                            ></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">

                </ng-template>
            </p-table>
        </div>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
    <app-categorie-prof-view></app-categorie-prof-view>
</div>

<p-dialog header="Details Salary" [(visible)]="displayDetails" [style]="{width: '50vw'}" [baseZIndex]="10000">
    <p-tabView>
        <p-tabPanel header="Payment">
            <p-table #dat [rows]="4" [value]="salarypaymentList"
                     [globalFilterFields]="['reference','total','totalPaye']"
                     dataKey="id" styleClass="p-datatable-customers">

                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">List of Payment</h5>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="Amount">Amount</th>
                        <th pSortableColumn="Studentgroup">Student group</th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-payment>
                    <tr>
                        <td>{{payment.montant}}</td>
                        <td>{{payment.groupeEtudiant.libelle}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                    <h5 style="margin-top: 15px">Total Payment: <span
                            style="color: #0d67ce">{{this.monatantPaiementProf}}</span></h5>
                </ng-template>
            </p-table>


        </p-tabPanel>
        <p-tabPanel header="Bonus">
            <p-tabView>
                <p-tabPanel header="ClassAverage Bonus">
                    <p-table #dat [rows]="4" [value]="salaryclassAverageBonusProf"
                             [globalFilterFields]="['reference','total','totalPaye']"
                             dataKey="id" styleClass="p-datatable-customers">

                        <ng-template pTemplate="caption">
                            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                                <h5 class="p-m-0">List of ClassAverage Bonus</h5>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="Amount">Amount</th>
                                <th pSortableColumn="ClassAverage Bonus">ClassAverage Bonus</th>

                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-classAverageBonusProf>
                            <tr>
                                <td>{{classAverageBonusProf.classAverageBonus.prix}}</td>
                                <td>{{classAverageBonusProf.code}}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer">
                            <h5 style="margin-top: 15px">Total ClassAverage Bonus: <span
                                    style="color: #0d67ce">{{this.monatantClassAverageBonus}}</span></h5>
                        </ng-template>
                    </p-table>

                </p-tabPanel>
                <p-tabPanel header="Workload Bonus">
                    <p-table #dat [rows]="4" [value]="salaryworkloadBonusProf"
                             [globalFilterFields]="['reference','total','totalPaye']"
                             dataKey="id" styleClass="p-datatable-customers">

                        <ng-template pTemplate="caption">
                            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                                <h5 class="p-m-0">List of ClassAverage Bonus</h5>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="Amount">Amount</th>
                                <th pSortableColumn="ClassAverage Bonus">ClassAverage Bonus</th>

                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-workloadBonusProf>
                            <tr>
                                <td>{{workloadBonusProf.workloadBonus.prix}}</td>
                                <td>{{workloadBonusProf.workloadBonus.code}}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer">
                            <h5 style="margin-top: 15px">Total WorkloadBonus Bonus: <span
                                    style="color: #0d67ce">{{this.monatantworkloadBonusProf}}</span></h5>
                        </ng-template>
                    </p-table>
                </p-tabPanel>


            </p-tabView>
        </p-tabPanel>

    </p-tabView>
    <ng-template pTemplate="footer">

    </ng-template>
</p-dialog>
