<div class="p-grid">
    <div class="p-col-12">
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <h5 (click)="view()"> MyLevel: <span
                            style="cursor: pointer;color: #0c799f">{{this.serviceUser.getConnectedProf().categorieProf.level}} </span>
                    </h5>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="row">
                        <p-dropdown class="p-col-12 p-md-3 p-2" [options]="itemsMOIS" [(ngModel)]="salarySearch.mois"
                                    placeholder="Select Month"
                                    [itemSize]="31"
                                    [showClear]="true"
                                    [filter]="false"></p-dropdown>
                        <div class="p-col-12 p-md-3 p-2">
                            <p-dropdown [options]="itemsannee"
                                        [(ngModel)]="salarySearch.annee"
                                        placeholder="Select Year"
                                        [showClear]="true"
                                        [itemSize]="31"
                                        [filter]="false"></p-dropdown>
                        </div>
                        <div class="p-col-12 p-md-3 p-2">
                            <p-dropdown [options]="etatPay" placeholder="Payment Status"
                                        [itemSize]="2"
                                        [(ngModel)]="salarySearch.payer"
                                        [showClear]="true"
                                        [filter]="false"></p-dropdown>
                        </div>
                        <div class="p-col-12 p-md-3 pl-5">
                            <button pButton pRipple class="mx-2"
                                    (click)="findAllByCriteria(this.serviceUser.getConnectedProf().nom)">Search
                            </button>
                        </div>
                    </div>
                </ng-template>
            </p-toolbar>
            <p-tabView>
                <p-tabPanel header="Salary">
                    <div class="p-grid">
                        <div class="p-col-5">
                            <p class="currentPay">Current pay</p>
                            <div class="payement">
                                <span class="pay">{{salaryMonth.totalPayment + salaryMonth.totalBonusClassAverage + salaryMonth.totalBonusWorkload}}</span>
                                <span class="currency">DH</span>
                            </div>
                            <p class="recommendedPayText"><i style="    font-size: 19px;font-weight: bold;"
                                                             class="pi pi-info-circle"></i> Recommended Pay</p>
                            <div class="recommendedPay">
                                <span class="recommendedPayPay">{{getTotalOfAll()}}</span>
                                <span class="recommendedPayCurrency">DH</span>
                            </div>
                        </div>
                        <div class="p-col-2"></div>
                        <div class="p-col-5">
                            <p-chart type="doughnut" [data]="data"></p-chart>
                        </div>
                    </div>

                    <div class="p-grid detailsSalary">
                        <div class="p-col-12 p-md-4 payDetails">
                            <div style="margin: -10px 0 20px;" class="payement">
                                <span style="color: #ff725e" class="pay">{{salaryMonth?.totalPayment}}</span>
                                <span style="color: #ff725e" class="currency">DH</span>
                            </div>

                            <div class="sectionSalaryName">
                                Lessons Profit
                            </div>
                        </div>

                        <div class="p-col-12 p-md-4 payDetails">
                            <div style="margin: -10px 0 20px;" class="payement">
                                <span style="color: #ff725e" class="pay">{{salaryMonth?.totalBonusClassAverage}}</span>
                                <span style="color: #ff725e" class="currency">DH</span>
                            </div>

                            <div class="sectionSalaryName">
                                Class Average Bonus
                            </div>
                        </div>


                        <div class="p-col-12 p-md-4 payDetails">
                            <div style="margin: -10px 0 20px" class="payement">
                                <span style="color: #ff725e" class="pay">{{salaryMonth?.totalBonusWorkload}}</span>
                                <span style="color: #ff725e" class="currency">DH</span>
                            </div>

                            <div class="sectionSalaryName">
                                Workload Bonus
                            </div>
                        </div>
                    </div>
                </p-tabPanel>


                <p-tabPanel header="Details">
                    <p-table #dt [rows]="4" [paginator]="true" [value]="salaryList"
                             [globalFilterFields]="['reference','total','totalPaye']"
                             [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                             [showCurrentPageReport]="true">
                        <ng-template pTemplate="caption">
                            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                                <h5 class="p-m-0">List of Salary</h5>

                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>

                                <th pSortableColumn="code">Code</th>
                                <th pSortableColumn="annee">Date</th>
                                <th pSortableColumn="nbrSessionMensuel">Number of Monthly Sessions</th>
                                <th pSortableColumn="Total Payment">Total Sessions</th>
                                <th pSortableColumn="Total Bonus">Total Bonus</th>
                                <th pSortableColumn="Number Of Sessions">Monthly Amount</th>
                                <th pSortableColumn="Number Of Sessions">Payment Status</th>
                                <th>Details</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-salary>
                            <tr>

                                <td>{{salary.code}}</td>
                                <td>{{salary.mois}}/{{salary.annee}}</td>
                                <td>{{salary.nbrSessionMensuel}}</td>
                                <td>
                                    <strong style="color: #2D1E81"> {{salary.totalPayment}} $</strong>

                                </td>
                                <td>
                                    <strong style="color: #2D1E81"> {{salary.totalBonusClassAverage + salary.totalBonusWorkload}}
                                        $</strong>

                                </td>
                                <td>
                                    <strong style="color: red"
                                            *ngIf="!salary.payer">{{salary.totalPayment + salary.totalBonusClassAverage + salary.totalBonusWorkload}}
                                        $</strong>
                                    <strong style="color: green"
                                            *ngIf="salary.payer">{{salary.totalPayment + salary.totalBonusClassAverage + salary.totalBonusWorkload}}
                                        $</strong>

                                </td>
                                <td>
                                    <strong style="color: red" *ngIf="!salary.payer">
                                        <i class="pi pi-times-circle"></i>  {{salary.payer}}
                                    </strong>
                                    <strong style="color: green" *ngIf="salary.payer">
                                        <i
                                                class="pi pi-check-circle"></i> {{salary.payer}}
                                    </strong>

                                </td>
                                <td>
                                    <button pButton pRipple icon="pi pi-list"
                                            class="p-button-rounded p-button-info p-mr-2"
                                            (click)="showDetails(this.serviceUser.getConnectedProf().id,salary.id)"

                                    ></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">

                        </ng-template>
                    </p-table>
                </p-tabPanel>

            </p-tabView>


        </div>
    </div>
    <app-categorie-prof-view></app-categorie-prof-view>
</div>

<p-dialog header="Details Salary" [(visible)]="displayDetails" [style]="{width: '50vw'}" [baseZIndex]="10000">
    <p-tabView>
        <p-tabPanel header="Payment">
            <p-table #dat [rows]="4" [value]="sessions"
                     [globalFilterFields]="['reference','total','totalPaye']"
                     dataKey="id" styleClass="p-datatable-customers">


                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="Amount">Amount</th>
                        <th pSortableColumn="Studentgroup">Student group</th>
                        <th pSortableColumn="Studentgroup">Date</th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-sessions>
                    <tr>
                        <td>{{sessions.prof.categorieProf.lessonRate}}</td>
                        <td>{{sessions.groupeEtudiant.libelle}}</td>
                        <td>{{sessions.dateFin | date: 'MMM d, y'}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                    <h5 style="margin-top: 15px">Total Payment: <span
                            style="color: #0d67ce">{{this.monatantPaiementProf}}</span></h5>
                </ng-template>
            </p-table>


        </p-tabPanel>

        <p-tabPanel header="ClassAverage Bonus">

            <strong style="font-size: 20px;color: #0d0d0d">Amount: </strong><strong
                style="font-size: 20px;color: #0c799f">{{this.profClassAverageBonusProf.classAverageBonus.prix}}</strong>
            <br>
            <strong style="font-size: 20px;color: #0d0d0d">Class Average Bonus Code: </strong><strong
                style="font-size: 20px;color: #0c799f">{{this.profClassAverageBonusProf.classAverageBonus.code}}</strong>

        </p-tabPanel>
        <p-tabPanel header="Workload Bonus">
            <strong style="font-size: 20px;color: #0d0d0d">Amount: </strong><strong
                style="font-size: 20px;color: #0c799f">{{this.profWorkloadBonusProf.workloadBonus.prix}}</strong>
            <br>
            <strong style="font-size: 20px;color: #0d0d0d">Workload Bonus Code: </strong><strong
                style="font-size: 20px;color: #0c799f">{{this.profWorkloadBonusProf.workloadBonus.code}}</strong>

        </p-tabPanel>
    </p-tabView>

</p-dialog>
