.p-col-12 {
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  padding: 0 !important;
  display: flex;
  justify-content: start;
  align-items: center;

  div, strong {
    padding-right: 10px;
  }

  div {
    select {
      border: none;
      background: transparent;
      width: 20px;
    }
  }

  .date {
    width: 100%;
    text-align: end;
  }
}

.subject {
  font-weight: 600;
  line-height: 29px;
  letter-spacing: .5px;
  font-size: 23.94px;
  color: var(--text-color);
  margin-right: 14px;
}
