.layout-menu-container{
    width: 207px !important;
}
.item-text{
    color: #6d6d72;;
    padding: 6px 8px;
    font-weight: 700;
    font-size: 13px;
    min-width: 75px;
    white-space: nowrap;
}

a{
    text-align: left!important;
}
