<main>
    <app-header-two headerShadow="header__area header__padding-2 header__shadow">
    </app-header-two>
    <section [style.direction]="(translate.currentLang === 'ar') ? 'rtl': 'ltr'" class="signup__area po-rel-z1 ">
        <div class="container">
            <div class="row">
                <div class=" col-md-6 col-xl-6 col-sm-12">
                    <img src="/assets/images/Recommendation.png" width="100%" alt="image not found!">
                </div>

                <div class=" col-md-6 col-sm-12 col-xl-6">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 id="discoverText">{{"Discover your current English level" | translate}}</h1>
                        </div>

                        <div class="col-md-2"><img src="/assets/icons/icons8-clock-48.png" alt=""></div>
                        <div class="col-md-10">{{"Take the test online anytime, anywhere" | translate}}</div>


                        <div class="col-md-2"><img src="/assets/icons/icon-historical.png" alt=""></div>
                        <div class="col-md-10">{{"Finish in 10 min and get results right now !" | translate}}</div>


                        <div class="col-md-2"><img src="/assets/icons/icon-book.png" alt=""></div>
                        <div class="col-md-10">
                            {{"The level test is available to all users with a free account on EngFlexy" | translate}}
                        </div>


                        <div class="col-md-3"></div>

                        <div class="col-md-6">
                            <a (click)="startPractice()" style="cursor: pointer; width: 100%" class="e-btn">
                                {{"PRACTICE FREE" | translate}}</a>
                        </div>
                        <div class="col-md-3"></div>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <app-advantages-engflexy></app-advantages-engflexy>

    <section class="signup__area po-rel-z1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 id="discoverText">{{'Contactuswith' | translate}}</h1>
                </div>
            </div>
        </div>
        <app-contact-us></app-contact-us>
    </section>

    <app-home-footer footerPadd='footer__top pt-90 pb-40'></app-home-footer>
</main>
