<div class="p-grid">
    <div *ngIf="!displayCourses" class="p-col-7">
        <div class="cta-block">
            <div class="cta-wrapper">

                <div class="field field--name-field-title field--type-string field--label-hidden field--item">
                    Discover your current English level by taking our free online test
                </div>

                <div class="field field--name-field-content-link field--type-link field--label-hidden field--item">
                    <button id="startLessonButton"
                            pButton pRipple type="button"
                            routerLink="/etudiant/test-level"
                            label="Discover your level"
                            class="takeTest"></button>
                </div>
            </div>
        </div>

        <h2 style="color: #263238">{{'Choose your level to practise your reading'}}</h2>


        <div *ngFor="let level of freeLevelsList" class="views-row">
            <div class="layout layout--onecol">
                <div class="layout__region layout__region--content">

                    <div class="field field--name-field-image field--type-image field--label-hidden field--items">
                        <div class="field--item"><a>

                            <img style="cursor: pointer"
                                 sizes="100vw"
                                 src="https://learnenglish.britishcouncil.org/sites/podcasts/files/styles/430x261_4/public/RS8037_GettyImages-985388610-hig.jpg?itok=6esjPBYy"
                                 alt="" typeof="foaf:Image" class="img-responsive">

                        </a>
                        </div>
                    </div>

                    <div class="content-wrapper">

                        <div class="field field--name-taxonomy-term-title field--type-ds field--label-hidden field--item">
                            <h2>
                                <a style="color: #00aee0;cursor: pointer"
                                   (click)="showCoursesForLevel(level)"
                                >{{level?.libelle}}</a>
                            </h2>
                        </div>

                        <div style="font-size: medium; line-height: 30px;color: #263238;"
                             class="field field--name-field-text-teaser field--type-string-long field--label-hidden field--item">
                            {{level?.description}}
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>

    <div *ngIf="displayCourses" class="p-col-7">
        <div *ngFor="let cours of freeCourseList" class="p-grid lessonContainer">
            <div style="text-align: start" class="p-col-2">
                <img class="imgLesson" src="/assets/icons/icon-livres.png" alt=""></div>
            <div class="p-col-7 courseName">
                <p class="lessonName">{{cours?.libelle}}</p>
            </div>
            <div class="p-col-3">
                <button pButton pRipple type="button"
                        label="Start lesson"
                        (click)="openSession(cours)"
                        class="p-button-secondary"></button>
            </div>
        </div>
    </div>

    <div class="p-col-5 imgContainer">
        <img style="width: 100%" src="/assets/images/flame-1001.png" alt="">
    </div>


</div>
