<div class="p-grid">
    <div class="p-col-12">
        <p-breadcrumb [model]="navigateItems" [home]="home"></p-breadcrumb>
    </div>
    <div class="p-col-12 ">
        <p-toast></p-toast>
        <div class="card toolbar-demo">
            <p-toolbar>
                <div class="p-toolbar-group-left">
                    <button (click)="openPreview()" class="p-button-secondary p-button-rounded p-mr-2 p-mb-2"
                            icon="pi pi-eye" pButton
                            pRipple></button>
                </div>

                <div class="p-toolbar-group-right">
                    <button (click)="save()" icon="pi pi-check" label="Save" pButton pRipple type="button"></button>
                </div>
            </p-toolbar>
        </div>
        <p-card [style]="{width: '100%'}" class="container" id="mainCard" styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <p-card [style]="{backgroundColor: ' gainsboro'}">
                    <div class="card-header">
                        <output id="header">Create Quiz</output>
                    </div>

                    <div class="p-fluid p-formgrid p-grid">

                        <div class="p-field p-col-12 p-md-3">
                            <label class="labelFormat">debut date</label><br/>
                            <p-calendar [(ngModel)]="selected.dateDebut" dateFormat="yy-mm-dd" [showIcon]="true"
                                        inputId="debut"></p-calendar>
                        </div>
                        <div class="p-field p-col-12 p-md-3">
                            <label class="labelFormat">finish date</label><br/>
                            <p-calendar [(ngModel)]="selected.dateFin" class="refQuiz" [showIcon]="true"
                                        dateFormat="yy-mm-dd"
                                        inputId="fin"></p-calendar>
                        </div>
                        <div class="p-field p-col-12 p-md-3">
                            <label class="labelFormat">success threshold</label><br/>
                            <p-inputNumber [(ngModel)]="selected.seuilReussite" class="refQuiz"></p-inputNumber>
                        </div>
                    </div>
                </p-card>
            </ng-template>


            <div class="p-grid">
                <div class=" p-col-4 ">
                    <p-inputNumber [(ngModel)]="question.numero" id="firstname6"
                                   [style]="{'width': '100%'}"
                                   placeholder="Question number"></p-inputNumber>
                </div>
                <div class=" p-col-4 ">
                    <p-dropdown [(ngModel)]="question.typeDeQuestion" [options]="types" inputId="type"
                                optionLabel="lib" placeholder="Type of Question"
                                [style]="{'width': '100%'}"
                                (click)="chooseType()"></p-dropdown>
                </div>
                <div *ngIf="question.typeDeQuestion.ref !== 't12'" class="p-col-8" id="formCard">
                    <div class="card" styleClass="p-card-shadow">
                        <div class="p-fluid p-formgrid p-grid">
                            <div class="p-field p-col-12 ">
                                <label>Question</label>
                                <textarea [(ngModel)]="question.libelle" pInputTextarea
                                          [placeholder]="getPlaceHolder()"
                                          rows="4" type="text"></textarea>

                            </div>
                            <div class="p-col-12 " style="text-align: center; margin: 5px; ">
                                <h1 class="reponseLib" style="width: 100px"><b>Answers</b></h1>
                            </div>
                            <div class="p-formgroup-inline">
                                <div class="p-field p-col-12 p-md-3">
                                    <p-inputNumber [(ngModel)]="reponse.numero" placeholder="Number"></p-inputNumber>
                                </div>
                                <div class="p-field p-col-12 p-md-4">
                                    <p-inputNumber [(ngModel)]="question.pointReponseJuste" [maxFractionDigits]="2"
                                                   [minFractionDigits]="2" placeholder="True point"></p-inputNumber>
                                </div>
                                <div class="p-field p-col-12 p-md-4">
                                    <p-inputNumber [(ngModel)]="question.pointReponsefausse" [maxFractionDigits]="2"
                                                   [minFractionDigits]="2" placeholder="false point"></p-inputNumber>
                                </div>
                            </div>
                            <div class="p-field  p-col-10 ">
                                <label>Answer</label>
                                <input [(ngModel)]="reponse.lib" pInputText type="text"/>
                            </div>
                            <div style="padding-top: 25px" class="p-field  p-col-2">
                                <p-button (click)="addReponse()" icon="pi pi-plus" iconPos="right" label="Add Answer"
                                          styleClass="p-button-sm"></p-button>
                            </div>
                            <div class="p-formgroup-inline p-col-12">
                                <h6>Correct : </h6>
                                <div class="p-field-radiobutton p-md-1">
                                    <p-radioButton [(ngModel)]="reponse.etatReponse" inputId="city1" name="state"
                                                   value="true"></p-radioButton>
                                    <label>true</label>
                                </div>
                                <div class="p-field-radiobutton p-md-1">
                                    <p-radioButton [(ngModel)]="reponse.etatReponse" inputId="city2" name="state"
                                                   value="false"></p-radioButton>
                                    <label>False</label>
                                </div>
                            </div>
                        </div>
                        <div class="p-md-12" style="margin: auto">
                            <p-table [value]="reponses">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Libelle Answer</th>
                                        <th>State of Answer</th>
                                        <th>Correct answer</th>
                                        <th>Wrong answer</th>
                                        <th>Action</th>
                                    </tr>
                                </ng-template>
                                <ng-template let-reponse pTemplate="body">
                                    <tr>
                                        <td>{{reponse.lib}}</td>
                                        <td>{{reponse.etatReponse}}</td>
                                        <td>{{question.pointReponseJuste}} pt</td>
                                        <td>{{question.pointReponsefausse}} pt</td>
                                        <td><span (click)="delete(reponse)"
                                                  class="pi pi-trash p-button-rounded p-button-danger"
                                                  style="cursor: pointer"></span></td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
                <div *ngIf="question.typeDeQuestion.ref === 't12'" class="p-col-8">
                    <div class="p-grid divT12">

                        <div class="p-col-2">
                            <h6>Number</h6>
                            <input [style]="{'width': '100%'}" [(ngModel)]="reponse.numero"
                                   pInputText
                                   type="number"
                                   placeholder="Answer number">
                        </div>

                        <div class="p-col-4">
                            <h6>Word</h6>
                            <input [style]="{'width': '100%'}" type="text" pInputText

                                   [(ngModel)]="libelle">
                        </div>
                        <div class="p-col-6">
                            <h6>Answers</h6>
                            <input [style]="{'width': '100%'}" type="text" pInputText
                                   [(ngModel)]="reponse.lib">
                        </div>


                        <div class="p-col-3">
                            <h6>Correct answer</h6>
                            <input [style]="{'width': '100%'}" [(ngModel)]="question.pointReponseJuste"
                                   pInputText
                                   type="number"
                                   placeholder="True point">
                        </div>
                        <div class="p-col-3">
                            <h6>Incorrect answer</h6>
                            <input [style]="{'width': '100%'}" [(ngModel)]="question.pointReponsefausse"
                                   type="number"
                                   pInputText
                                   placeholder="false point">
                        </div>

                        <div class="p-col-4">
                            <div style="display: inline-block; margin-left: 20px" *ngFor="let bool of booleanTypes"
                                 class="field-checkbox">
                                <p-radioButton name="category" [value]="bool"
                                               [(ngModel)]="reponse.etatReponse"></p-radioButton>
                                <label>{{bool}}</label>
                            </div>
                        </div>
                        <div class="p-col-2" style=" margin-top: 28px;">
                            <button (click)="addAnswers()" class="p-button-raised p-button-info"
                                    icon="pi pi-plus"
                                    iconPos="right"
                                    label="Add"
                                    pButton pRipple type="button"></button>
                        </div>
                        <div class="p-col-12 fullText">{{fullText}}</div>
                        <div class="p-col-12 fullText">
                            <p-accordion>
                                <p-accordionTab *ngFor="let item of mapTranslate | keyvalue" [header]="item.key">
                                    <div class="answerContainer"  *ngFor="let value of item.value">
                                        <input [style]="{'width': '65%'}" [(ngModel)]="value.lib"
                                               type="text"
                                               class="editInput"
                                               pInputText
                                               placeholder="false point">
                                        <p-selectButton [options]="stateOptions" [(ngModel)]="value.etatReponse" optionLabel="value"
                                                        class="editInput1"
                                                        optionValue="value"></p-selectButton>
                                    </div>

                                </p-accordionTab>
                            </p-accordion>
                        </div>
                        <div style="text-align: center!important;" class="p-col-12">
                            <button id="saveWord" (click)="nextWord()" class="p-button-raised p-button-success"
                                    icon="pi pi-arrow-right"
                                    iconPos="right"
                                    label="save word"
                                    pButton pRipple type="button"></button>
                        </div>

                    </div>
                </div>
                <div class="p-col-4 ">
                    <p-tree [value]="nodes">
                        <ng-template let-node pTemplate="default">
                            <output>{{node.label}}</output>
                        </ng-template>
                        <ng-template let-node pTemplate="default">
                            <b>{{node.label}}</b>
                            <button (click)="update(node.key)" class="p-button-rounded p-button-success"
                                    icon="pi pi-undo" pButton
                                    pRipple type="button"></button>
                            <button (click)="deleteQuestion(node.key)" class="p-button-rounded p-button-danger"
                                    icon="pi pi-times" pButton
                                    pRipple
                                    type="button"></button>

                        </ng-template>
                    </p-tree>
                </div>
            </div>
            <button (click)="addFormule()" class="p-button-raised p-button-success" icon="pi pi-plus" iconPos="right"
                    label="Add question"
                    pButton pRipple style="margin-left: 20%" type="button"></button>
            <ng-template pTemplate="footer">
            </ng-template>
        </p-card>
        <app-quiz-config></app-quiz-config>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>

<p-dialog [(visible)]="viewDialogType" [modal]="true" [style]="{width: '800px'}" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="box">
            <h3>Types "Correct the mistakes" and "Input" can only have one answer, it must be correct</h3>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button (click)="hideViewDialog()" class="p-button-text" icon="pi pi-times" label="Fermer" pButton
                pRipple></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="viewOnOffDialog" [modal]="true" [style]="{width: '800px'}" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="box">
            <div class="p-field p-col-12 ">
                <label>Question</label>
                <textarea [(ngModel)]="question.libelle" pInputTextarea rows="4" type="text"></textarea>

            </div>
            <output style="margin-left: 20px; margin-right: 30px; font-size: 30px; font-family: 'Goudy Old Style'">True
                :
            </output>
            <p-inputSwitch [(ngModel)]="onOff_true" (click)="onOffTrue()"></p-inputSwitch>
            <br>
            <output style="margin-left: 20px; margin-right: 30px; font-size: 30px; font-family: 'Goudy Old Style'">False
                :
            </output>
            <p-inputSwitch [(ngModel)]="onOff_false" (click)="onOffFalse()"></p-inputSwitch>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button (click)="submitOnOff()" class="p-button-text" icon="pi pi-check" label="Submit" pButton
                pRipple></button>
        <button (click)="hideOnOffDialog()" class="p-button-text" icon="pi pi-times" label="Fermer" pButton
                pRipple></button>
    </ng-template>
</p-dialog>
