#row {
  padding: 50px 20px !important;
  background: #ff725e !important;
  border-radius: 20px !important;
}

#bank-transfer {
  text-align: center;
  font-size: 35px;
  font-family: cursive;
}

#instructions {
  text-align: center;
}

.insc {
  background: #e1e1e1;
  padding: 50px;
  border-radius: 10px;
  color: black;
  line-height: 45px;
}

.important {
  background: #ef9292;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 25px;
}

#importantText {
  color: black !important;
  text-decoration: underline !important;
  font-size: 20px !important;
}

.details {
  direction: ltr !important;
  text-align: right;
  font-size: 30px;
  color: #ff725e;
  font-weight: 900;
  cursor: pointer;
}

.details-title {
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.payContent {
  background: #263238;
  padding: 10px;
  border-radius: 5px;
}


.col-md-4.col-sm-12 {
  padding: 10px;
}

/*Left Side card*/
.card1 {
  margin: 0;
  padding: 15px;
  padding-top: 25px;
  padding-bottom: 0px;
  background: #263238;
  height: 100%;
}

.bill-head {
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 30px;
}

.line {
  border-right: 1px grey solid;
}

.bill-date {
  color: #BDBDBD;
}

.red-bg {
  margin-top: 25px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #F44336;
  padding-left: 20px !important;
  padding: 25px 10px 25px 15px;
}

#total {
  margin-top: 0px;
  padding-left: 7px;
}

#total-label {
  margin-bottom: 0px;
  color: #ffffff;
  padding-left: 7px;
}

#heading1 {
  color: #ffffff;
  font-size: 20px;
  padding-left: 10px;
}

#heading2 {
  font-size: 27px;
  color: #D50000;
}

/*For font-awesome icons in Placeholder*/
.placeicon {
  font-family: fontawesome !important;
}

.green {
  font-size: 30px;
  letter-spacing: 2px;
  color: #ff725e;
}
