
<div  class="p-grid" style="margin-top: 10px ; margin-left: 0px" >
    <div class="p-col-6">
        <app-statut-social></app-statut-social>
    </div>
    <div class="p-col-6">
        <app-fonction></app-fonction>
    </div>
    <div class="p-col-6">
        <app-niveau-etude></app-niveau-etude>
    </div>
    <div class="p-col-6">
        <app-interet-etudiant></app-interet-etudiant>
    </div>
    <div class="p-col-6">
        <app-skill></app-skill>
    </div>
    <div class="p-col-6">
        <app-more-information></app-more-information>
    </div>

</div>
