<main>
    <app-header-one header__white="header__white"></app-header-one>
    <app-breadcrumb title="{{'Privacy policy' | translate}}"
                    subtitle="{{'Privacy policy' | translate}}"></app-breadcrumb>

    <section class="blog__area pt-50 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-md-12"><h1>Privacy policy</h1></div>
                <div class="col-md-12"><strong>This Privacy Policy is intended to clarify the manner in which your
                    personal information is collected and used. Unless otherwise specified, the following terms and
                    expressions will have the following meanings</strong></div>
                <div class="col-md-12"><h3>1- COOKIES</h3></div>
                <div class="col-md-12"><p>
                    Cookies are tiny files that contain a small piece of data or information stored on the user's
                    computer by the web browser, which may or may not contain anonymous unique identifiers related to
                    cookies. It is a small text file transmitted and stored by a website on your device, with the
                    purpose of tracking your movement within the website and your interaction with various components
                    and functions of the website. These files help to improve and enhance the user’s website experience
                    and record their preferences. Cookies will not attempt to control the devices on which they are
                    stored, nor will they damage them, nor will they extract your personal information from your device.
                    Cookies will stay on your device(s) until they expire or are deleted.
                </p></div>

                <div class="col-md-12"><h3>2- "REGISTERED USER" OR "YOU"</h3></div>


                <div class="col-md-12"><p>Individuals or legal entities who download, install, and register accounts on
                    the EngFlexy App and/or Website in order to benefit from the EngFlexy services.</p></div>


                <div class="col-md-12"><h3>3- SERVICE</h3></div>


                <div class="col-md-12"><p>Registered users use the EngFlexy website and / or app, to open an online
                    account in order to learn, teach on the EngFlexy platform.
                    "EngFlexy" OR "OPERATOR" OR "US" OR "WE"
                    The mobile application owned and developed by EngFlexy along with assistive services and others,
                    which a registered user can download from the Apple App Store or Google Play Store.
                    EngFlexy WEBSITE
                    <a href="https://engflexy.com">www.engflexy.com </a>, which is owned, developed and operated by
                    EngFlexy.</p></div>


                <div class="col-md-12"><h3>4- USAGE DATA</h3></div>


                <div class="col-md-12"><p>The data related to the access and the use of the EngFlexy application and/or
                    EngFlexy website is developed and modeled based on the original data collected by registered users
                    and temporary users through the use of the EngFlexy application and/or EngFlexy and collected as a
                    result of their activities in the website or the App.</p></div>

                <div class="col-md-12"><h3>5- USERS</h3></div>


                <div class="col-md-12"><p>All types of users of the Service including Registered Users and Temporary
                    Users.</p></div>

                <div class="col-md-12"><h3>6- TEMPORARY USER</h3></div>


                <div class="col-md-12"><p>Any person or legal entity who visits any part of the EngFlexy website for any
                    duration shall be deemed as a temporary user, and that person or legal entity shall be deemed to
                    accept all the terms and conditions of this privacy policy and terms of service until they leave
                    EngFlexy and the website or browser is closed. If a temporary user continues to register as an
                    account on the EngFlexy website, he/she will become a registered user.</p></div>

                <div class="col-md-12"><h3>7- TOS: Term Of Services</h3></div>


                <div class="col-md-12"><p>Terms of Service related to the Service, the EngFlexy App and the EngFlexy
                    website published by EngFlexy from time to time, and this Privacy Policy is an integral part of it
                    and is not visible. By using any part of the service, the EngFlexy app and / or the EngFlexy website
                    or any part thereof, for any period, whatever the term of use, the user expressly agrees to be bound
                    by all express and implied terms. The general terms set forth here and the Terms of Service for
                    using the service, the EngFlexy app and the EngFlexy website, and the user express this consent to
                    each use of the service, the EngFlexy app and / or the EngFlexy website.</p></div>

                <div class="col-md-12"><h3>8- WORKING DAY</h3></div>


                <div class="col-md-12"><p>Shall mean any day on which a bank is legally open for business in the kingdom
                    of morocco.
                    This document sets out EngFlexy’s privacy policy in relation to the registered user and/or the
                    temporary user and their data and personal details in respect of the service. This privacy policy
                    forms an integral and indivisible part of EngFlexy’s terms of service and the two documents are not
                    mutually exclusive and should be read in conjunction with each other. the use and/or continued use
                    of the service by the registered user and/or the temporary user constitute his/her consent and
                    agreement to the terms of this privacy policy and the terms of service of EngFlexy in respect of the
                    service, the EngFlexy app and/or the EngFlexy website. If you do not agree to be bound by this
                    privacy policy and the terms of service, you should immediately cease to use the service, the
                    EngFlexy app, and/or the EngFlexy website. and if you have downloaded and installed the EngFlexy app
                    on your device(s) you should uninstall and delete the EngFlexy app software from your device(s)
                    immediately.
                </p></div>

                <div class="col-md-12"><h3>9- BEST EFFORTS BASIS</h3></div>


                <div class="col-md-12"><p>EngFlexy collects certain information about the Registered users and their use
                    of the Service. EngFlexy also collects information about every Temporary user who visits the Website
                    and/or installs the EngFlexy App on their device(s). The information collected is used for the
                    following purposes:
                    - Allow the EngFlexy to analyze the use of Service so that EngFlexy can improve the breath and
                    quality of the services as well as the user experience offered to all users;
                    - Give permission to EngFlexy to analyze whether its marketing efforts are most effective in
                    attracting new users to use the service, and allow EngFlexy to use its resources more effectively;
                    - To enable EngFlexy to understand the preferences of the registered and temporary users so that it
                    can provide them with better targeted services. Except insofar as working with third parties to
                    analyze data and formulate marketing and business strategies, we do not share, lease, sell or
                    otherwise deal in your data and we never disclose your identity, address or credit card details to
                    anyone. All shared information with our third party vendors is anonymous.
                    EngFlexy will do its best to maintain and protect the privacy of the Registered and the Temporary
                    users.
                    Our systems are designed to ensure the best protection possible to prevent unauthorized use of the
                    Service and all content and information and data on it, including content and information of the
                    Registered users and the Temporary users.
                </p></div>

                <div class="col-md-12"><h3>10- DATA COLLECTED, ITS USE AND OTHER RELATED MATTERS</h3></div>


                <div class="col-md-12"><p>In order to help us provide customers with efficient and high-quality services
                    and user experience, and to enable us to better develop our business and provide services, we
                    collect the following types of data:</p></div>

                <div class="col-md-12"><h3>11- PERSONAL DATA</h3></div>


                <div class="col-md-12"><p>While using Our Service, We may ask You to provide Us with certain personally
                    identifiable information that can be used to contact or identify You. Personally identifiable
                    information may include, but is not limited to:
                    - Email address
                    - First name and last name
                    - Age
                    - Gender
                    - Address
                    - Copy of ID card / passport
                </p></div>

                <div class="col-md-12"><h3>12- USAGE DATA</h3></div>


                <div class="col-md-12"><p>Usage Data is collected automatically when using the Service.
                    Usage Data may include information such as Your Device's Internet Protocol address (e.g. IP
                    address), browser type, browser version, the pages of our Service that You visit, the time and date
                    of Your visit, the time spent on those pages, unique device identifiers and other diagnostic data.
                    When You access the Service by or through a mobile device, We may collect certain information
                    automatically, including, but not limited to, the type of mobile device You use, Your mobile device
                    unique ID, the IP address of Your mobile device, Your mobile operating system, the type of mobile
                    Internet browser You use, unique device identifiers and other diagnostic data.
                    We may also collect information that Your browser sends whenever You visit our Service or when You
                    access the Service by or through a mobile device.
                </p></div>

                <div class="col-md-12"><h3>13- DATA TRANSFER</h3></div>


                <div class="col-md-12"><p>EngFlexy’s operational offices are located in Marrakesh, Morocco and the
                    personal and other data of all Users will be located and accessed from these locations. The user may
                    be located in a region other than the jurisdiction indicated above, and the laws and regulations
                    related to personal and other data may be different in the jurisdiction of each user compared to the
                    jurisdiction indicated. By accessing and continuing to use the Service you expressly consent to the
                    transfer of your personal and other data to the indicated jurisdictions and subjected to the laws
                    and regulations of such jurisdictions.
                    EngFlexy has taken necessary measures to ensure that all users’ personal and other data are safely
                    maintained, and will not transmit any data to any jurisdiction that does not maintain and operate
                    the same security protocols equivalent to those maintained and operated by EngFlexy.
                </p></div>

                <div class="col-md-12"><h3>14- DISCLOSURE OF PERSONAL AND OTHER DATA</h3></div>


                <div class="col-md-12"><p>
                    EngFlexy may disclose your personal and other data to a third party in the following circumstances:
                    - In compliance with a valid court order and/or search warrant issued by a competent court or
                    authority;
                    - To protect itself from incurring legal liability in any respect;
                    - To protect and preserve the property, rights, goodwill and reputation of EngFlexy, its
                    shareholder, employees and agents;
                    - To prevent wrongful and/or illegal use of the Service;
                    - To protect the personal safety of Users, employees, agents, third party vendors and the public at
                    large.
                </p>
                </div>

                <div class="col-md-12"><h3>15- WEB FORMS</h3></div>


                <div class="col-md-12"><p>In order for us to efficiently respond to inquiries from users who use the web
                    forms provided on the website, we collect certain information. Unless otherwise stated, the
                    information requested on the web form is completely voluntary and at your discretion, and you will
                    only use the information in a manner consistent with our privacy policy stated here.</p></div>

                <div class="col-md-12"><h3>16- INFORMATION YOU SHARE ON THIRD PARTIES</h3></div>


                <div class="col-md-12"><p>In some cases, the EngFlexy app and platform allow you to send information
                    about you to third parties. For example, if you use the Google Sheet app in a store, you will need
                    to share some personal information about you with it, including but not limited to your email
                    address.
                    If you provide any information about you to any third party, then you are the only one who bears
                    responsibility for protecting this data, and we cannot in any way be responsible for the leakage,
                    penetration or disclosure of any information.
                    Your information provided to us only remains on our server within the scope of your account, and
                    unless otherwise disclosed, this information will never be shared.
                </p></div>

                <div class="col-md-12"><h3>17- INFORMATION RECEIVED FROM THIRD PARTIES</h3></div>


                <div class="col-md-12"><p>In some cases, EngFlexy may receive information about you from third parties
                    either through the EngFlexy app and / or the EngFlexy platform, or independently. For example:
                    Our payment gateways will send information about your transactions to us for the purpose of
                    identifying and processing your transactions, to convert the deductible amount into a balance in
                    your store, and / or keep our records and accounting documents for audits and tax purposes.
                    We may also, in certain cases, independently develop and maintain information about you.
                    For example:
                    If we have reason to believe that you provided false or incorrect information during account
                    registration, we reserve the absolute right to verify this information and determine your identity.
                    All information received from third parties and / or collected from you on our servers will be kept
                    in the same manner and standard as the information you provided or collected directly by us. When
                    sharing this information, we will adopt the same rules and standards as any other information we
                    keep for you.
                </p></div>

                <div class="col-md-12"><h3>18- DATA SECURITY</h3></div>
                <div class="col-md-12"><p>The security of your data is of utmost importance to us, and we will take all
                    reasonable measures that comply with industry standards to ensure that your personal and other data
                    are safe and private. However, we cannot guarantee that your personal data and other data will be
                    100% safe, and we do not make any such guarantees and/or promises, whether expressed or implied.</p>
                </div>

                <div class="col-md-12"><h3>19- THIRD PARTY VENDORS</h3></div>

                <div class="col-md-12"><p>EngFlexy sometimes uses external vendors who provide professional data
                    analysis services to help us improve and develop our services and increase our marketing efficiency.
                    In this process, we need to disclose some of your personal data and other data to our third-party
                    vendors, but this disclosure is done anonymously, and not Credit card details other than the name of
                    the issuer and / or payment gateway are disclosed.
                    All external vendors must maintain and operate at least the same security agreement as the one used
                    on the EngFlexy platform and all third-party suppliers are required to sign a strict non-disclosure
                    agreement and are continuously monitored.
                    EngFlexy uses Google Analytics as requested.
                    This service tracks and reports on website traffic and data collected with other Google services,
                    and Google may use this data to improve and customize ads on its own network.
                    Users can opt out of their activity being monitored by Google Analytics by installing the Google
                    Analytics opt-out extension for their browser. For information about Google's privacy policy, please
                    visit
                    <a href="https://policies.google.com/privacy?hl=en">Google Policy</a></p></div>

                <div class="col-md-12"><h3>20- TERMINATION OF ACCOUNT AND DATA PROTECTION</h3></div>

                <div class="col-md-12"><p>Registered users can close their accounts at any time. Once you choose the
                    option to close your account, this process cannot be undone. Your account will be permanently
                    deactivated and cannot be reactivated. When you close your account, most of the personal information
                    and data associated with it will be permanently deleted.
                    However, some information and data will be kept for accounting, tax and auditing purposes, and will
                    also comply with the requirements of laws and regulations in Morocco and the United Kingdom where
                    our server and our operating office are located.
                </p></div>

                <div class="col-md-12"><h3>21- LINK TO OTHER WEBSITES</h3></div>

                <div class="col-md-12"><p>Our services may be linked to third-party websites that are not operated by
                    us. We have no control and/or influence over such websites and their respective terms of service,
                    privacy policy and other policies. If you choose to access such links, you are at your own risk, and
                    we strongly recommend that you read the terms of service and privacy policies of such websites.</p>
                </div>

                <div class="col-md-12"><h3>22- PRIVACY OF CHILDREN</h3></div>

                <div class="col-md-12"><p>Our Service is restricted to persons over the age of 18. EngFlexy does not
                    knowingly collect data and information relating to persons under the age of 18. Any parent who is
                    aware that their child has provided us with misleading and/or false information in order to access
                    the Service should inform us immediately in writing by email to engflexy.contact@gmail.com. Once we
                    are aware the information on a person under the age of 18 has been collected without parental
                    consent, we will take all actions necessary to remove such information from our records and our
                    servers.</p></div>

                <div class="col-md-12"><h3>23- DATA RETENTION PERIOD</h3></div>

                <div class="col-md-12"><p>EngFlexy will retain your information on our servers for as long as required
                    by the laws and regulations of the relevant jurisdictions.</p></div>

                <div class="col-md-12"><h3>24- CHANGES TO PRIVACY POLICY</h3></div>

                <div class="col-md-12"><p>EngFlexy always reserves the right to change any and all aspects of this
                    Privacy Policy at any time, without prior notice of such changes to Users and without giving reasons
                    for the changes. If EngFlexy does give any explanation for changes in the Privacy Policy it is done
                    so only as a courtesy and not as a requirement. Any changes of the Privacy Policy shall become
                    effective immediately after the new Privacy Policy is posted on the Website and/or the EngFlexy App
                    and a notice of such changes is posted on the Website. All users are advised to check our privacy
                    policy from time to time to keep abreast of the latest changes.</p></div>

                <div class="col-md-12"><h3>25- CONTACT US</h3></div>

                <div class="col-md-12"><p>
                    Any person or legal entity requiring information in respect of our Privacy Policy should contact us
                    via email to: <strong>engflexy.contact@gmail.com</strong> .
                    All rights reserved 2022 EngFlexy
                    Last Update: 16 September 2022

                </p></div>


                <div class="col-md-12"><p>Individuals or legal entities who download, install, and register accounts on
                    the EngFlexy App and/or Website in order to benefit from the EngFlexy services.</p></div>


            </div>
        </div>
    </section>
    <app-home-footer footerPadd='footer__top pt-90 pb-40'></app-home-footer>
</main>
