<main>
    <app-header-one header__white="header__white"></app-header-one>
    <app-breadcrumb title="{{'Privacy policy' | translate}}"
                    subtitle="{{'Privacy policy' | translate}}"></app-breadcrumb>

    <section class="blog__area pt-50 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-md-12"><h1>{{'Privacy policy' | translate}}</h1></div>
                <div class="col-md-12"><strong>{{'privacySubTitle' | translate}}</strong></div>
                <div class="col-md-12"><h3>{{'1 - COOKIES' | translate}}</h3></div>
                <div class="col-md-12"><p>
                    {{'1- COOKIES-text' | translate}}
                </p></div>

                <div class="col-md-12"><h3>{{'2-REGISTERED USER' | translate}}</h3></div>


                <div class="col-md-12"><p>{{'2-REGISTERED USER-text' | translate}}</p></div>


                <div class="col-md-12"><h3>{{'3 - SERVICE' | translate}}</h3></div>

                <div class="col-md-12"><p> {{'3- SERVICE-text' | translate}}
                    <a href="https://engflexy.com">www.engflexy.com </a> {{'3- SERVICE-text-2' | translate}}</p></div>


                <div class="col-md-12"><h3>{{'4 - USAGE DATA' | translate}}</h3></div>


                <div class="col-md-12"><p>{{'4- USAGE DATA-text' | translate}}</p></div>

                <div class="col-md-12"><h3>{{'5 - USERS' | translate}}</h3></div>


                <div class="col-md-12">
                    <p>{{'All types of users of the Service including Registered Users and Temporary Users.' | translate}}</p>
                </div>

                <div class="col-md-12"><h3>{{'6 - TEMPORARY USER' | translate}}</h3></div>


                <div class="col-md-12"><p>{{'6- TEMPORARY USER-text' | translate}}</p></div>

                <div class="col-md-12"><h3>{{'7 - TOS: Term Of Services' | translate}}</h3></div>


                <div class="col-md-12"><p>{{'7- TOS: Term Of Services-text' | translate}}</p></div>

                <div class="col-md-12"><h3>{{'8 - WORKING DAY' | translate}}</h3></div>


                <div class="col-md-12"><p>{{'8- WORKING DAY-text' | translate}}</p></div>

                <div class="col-md-12"><h3>{{'9 - BEST EFFORTS BASIS' | translate}}</h3></div>


                <div class="col-md-12"><p>{{'9- BEST EFFORTS BASIS-text' | translate}}
                </p></div>

                <div class="col-md-12"><h3>{{'10 - DATA COLLECTED, ITS USE AND OTHER RELATED MATTERS' | translate}}</h3>
                </div>


                <div class="col-md-12">
                    <p>{{'10- DATA COLLECTED, ITS USE AND OTHER RELATED MATTERS-text' | translate}}</p></div>

                <div class="col-md-12"><h3>{{'11 - PERSONAL DATA' | translate}}</h3></div>


                <div class="col-md-12"><p>{{'11- PERSONAL DATA-text' | translate}}
                </p></div>

                <div class="col-md-12"><h3>{{'12 - USAGE DATA' | translate}}</h3></div>


                <div class="col-md-12"><p>{{'12- USAGE DATA-text' | translate}}
                </p></div>

                <div class="col-md-12"><h3>{{'13 - DATA TRANSFER' | translate}}</h3></div>


                <div class="col-md-12"><p>{{'13- DATA TRANSFER-text' | translate}}
                </p></div>

                <div class="col-md-12"><h3>{{'14 - DISCLOSURE OF PERSONAL AND OTHER DATA' | translate}}</h3></div>


                <div class="col-md-12"><p>
                    {{'14- DISCLOSURE OF PERSONAL AND OTHER DATA-text' | translate}}
                </p>
                </div>

                <div class="col-md-12"><h3>{{'15 - WEB FORMS' | translate}}</h3></div>


                <div class="col-md-12"><p>{{'15- WEB FORMS-text' | translate}}</p></div>

                <div class="col-md-12"><h3>{{'16 - INFORMATION YOU SHARE ON THIRD PARTIES' | translate}}</h3></div>


                <div class="col-md-12"><p> {{'16- INFORMATION YOU SHARE ON THIRD PARTIES-text' | translate}}
                </p></div>

                <div class="col-md-12"><h3>{{'17 - INFORMATION RECEIVED FROM THIRD PARTIES' | translate}}</h3></div>


                <div class="col-md-12"><p>{{'17- INFORMATION RECEIVED FROM THIRD PARTIES-text' | translate}}
                </p></div>

                <div class="col-md-12"><h3>{{'18 - DATA SECURITY' | translate}}</h3></div>
                <div class="col-md-12"><p></p>{{'18- DATA SECURITY-text' | translate}}
                </div>

                <div class="col-md-12"><h3>{{'19 - THIRD PARTY VENDORS' | translate}}</h3></div>

                <div class="col-md-12"><p> {{'19- THIRD PARTY VENDORS-text' | translate}}
                    <a href="https://policies.google.com/privacy?hl=en">{{'Google Policy' | translate}}</a></p></div>

                <div class="col-md-12"><h3>{{'20 - TERMINATION OF ACCOUNT AND DATA PROTECTION' | translate}}</h3></div>

                <div class="col-md-12"><p>{{'20- TERMINATION OF ACCOUNT AND DATA PROTECTION-text' | translate}}
                </p></div>

                <div class="col-md-12"><h3>{{'21 - LINK TO OTHER WEBSITES' | translate}}</h3></div>

                <div class="col-md-12"><p>{{'21- LINK TO OTHER WEBSITES-text' | translate}}</p>
                </div>

                <div class="col-md-12"><h3>{{'22 - PRIVACY OF CHILDREN' | translate}}</h3></div>

                <div class="col-md-12"><p>
                    {{'22- PRIVACY OF CHILDREN-text' | translate}}
                </p></div>

                <div class="col-md-12"><h3>{{'23 - DATA RETENTION PERIOD' | translate}}</h3></div>

                <div class="col-md-12"><p>{{'23- DATA RETENTION PERIOD-text' | translate}}</p></div>

                <div class="col-md-12"><h3>{{'24 - CHANGES TO PRIVACY POLICY' | translate}}</h3></div>

                <div class="col-md-12"><p>{{'24- CHANGES TO PRIVACY POLICY-text' | translate}}</p></div>

                <div class="col-md-12"><h3>{{'25 - CONTACT US' | translate}}</h3></div>

                <div class="col-md-12"><p> {{'25- CONTACT US-text' | translate}}
                    <strong>engflexy.contact@gmail.com</strong> .
                    {{'All rights reserved 2022 EngFlexy Last Update: 16 September 2022' | translate}}
                </p></div>


            </div>
        </div>
    </section>
    <app-home-footer footerPadd='footer__top pt-90 pb-40'></app-home-footer>
</main>
