.row__slider {
  background: #ff725e;
  border-radius: 5px;
  padding: 10px 0 0 0;
  color: #263238;
  font-weight: 600;
}

.course__item {
  border-radius: 0;
  box-shadow: none;
}

.course__item:hover {
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .15);
}



#individual-text {
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #263238;
  font-weight: bold;
  font-family: 'Roboto', serif;
  letter-spacing: 3px;
}

.w-img {
  cursor: pointer;
  text-align: center;
  color: #263238;
  font-size: 65px;
  padding: 8px;
}

.w-img:hover {
  cursor: pointer;
  text-align: center;
  color: white;
  padding: 8px;
}

.select-course {
  cursor: pointer !important;
}

.course-type {
  width: 130px;
  font-size: 20px;
  font-weight: bold;
}

.course__tag {
  width: 100%;
  text-align: center;
  left: 0 !important;
}

.course__tag__hours {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.course__tag__hours a {
  font-size: 14px;
  padding: 0 10px;
  border-radius: 4px;
}


.course__tag__lessons {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.course__tag__lessons a {
  font-size: 14px;
  padding: 0 10px;
  border-radius: 4px;
}


.silver {
  background: #ffffff;
  color: #2e4052;
}

.gold {
  background: #ffffff;
  color: #eb9a0c;
}

.platinum {
  background: #ffffff;
  color: #102c45;
}

.Premium {
  background: #ffffff;
  color: #2B394C;
}

#individual-text:hover {
  text-decoration: underline;
  color: white;

  .heartbeat {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(90, 92, 106, 1) 0%, rgba(32, 45, 58, 1) 81.3%);
  }
}


/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.breadcrumb a {
  cursor: pointer !important;
}

.hm-gradient {
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

.darken-grey-text {
  color: #2E2E2E;
}

.bc-icons .breadcrumb-item + .breadcrumb-item::before {
  content: none;
}

.bc-icons .breadcrumb-item.active {
  color: #eeeeee;
}

.bc-icons-2 .breadcrumb-item + .breadcrumb-item::before {
  content: none;
}

.bc-icons-2 .breadcrumb-item.active {
  color: white;
}


.light-font .breadcrumb-item + .breadcrumb-item::before {
  color: #fff;
}

.light-font .breadcrumb-item.active {
  color: #cfd8dc;
}

.dark-font .breadcrumb-item + .breadcrumb-item::before {
  color: #000;
}

.dark-font .breadcrumb-item.active {
  color: #455a64;
}


/**
 * ----------------------------------------
 * animation heartbeat
 * auteur : ELMOUDENE
 * ----------------------------------------
 */

.heartbeat {
  font-size: 25px;
  border-radius: 50px;
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  padding: 5px;
  -webkit-animation: heartbeat 5s ease-out infinite both;
  animation: heartbeat 5s ease-out infinite both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.course__teacher h6 {
  font-size: 17px;
  font-weight: 500;
  color: white;
  margin-bottom: 0;
  line-height: 2;
}

.btn__container {
  padding: 10px;
  align-items: center;
  display: grid;

  button {
    font-size: 25px;
    font-weight: bold;
  }
}

.option {
  padding: 12px;
}

.option ul {
  margin: 0;
  padding: 0;
  text-align: start;

  li {
    i {
      border: 1px solid;
      border-radius: 30px;
      padding: 3px;
      font-weight: 400;
    }
  }
}

.option ul li {
  margin: 0 0 10px;
  padding: 0;
  list-style: none;
  color: #fff;
  font-size: 16px;
}
