<div class="row">
    <p-steps (activeIndexChange)="indexChange()" [model]="items" [(activeIndex)]="activeIndex"
             [readonly]="false"></p-steps>
</div>

<div *ngIf="activeIndex == 0" class="row">
    <div class=" col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-"></div>
    <div (click)="chooseOption('INDIVIDUAL')" class=" select-course  col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6">
        <div style="background: #ff725e;" class="course__item mb-30 fix">
            <div style="cursor: pointer; width: 300px" class="course__thumb w-img p-relative fix">
                <a>
                    <img src="/assets/images/Recommendation.png" alt="">
                </a>
            </div>

            <div class="course__content">
                <div id="individual-text" class="course__meta align-items-center justify-content-between">
                    {{'Individual' | translate}}
                </div>
                <div style="    padding: 10px;text-align: center" class="course__teacher d-flex align-items-center">
                    <h5>هو عبارة عن حصص فردية مع مدرسك الخاص، حيث يستفيد التلميذ من مجموعة من الامتيازات كتحديد الجدول
                        الزمني الخاص به</h5>
                </div>
            </div>
        </div>
    </div>

    <div (click)="chooseOption('GROUP')" class="select-course  col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6">
        <div style="background: #ff725e;" class="course__item mb-30 fix">
            <div style="cursor: pointer; width: 300px" class="course__thumb w-img p-relative fix">
                <a>
                    <img src="/assets/images/computer.png" alt="">
                </a>
            </div>

            <div class="course__content">
                <div id="individual-text" class="course__meta align-items-center justify-content-between">
                    {{'Group' | translate}}
                </div>
                <div style="    padding: 10px;text-align: center" class="course__teacher d-flex align-items-center">
                    <h5> الدراسة في مجموعة من شخصان الى خمسة اشخاص على الاكتر من نفس المستوى. تساعدك الدراسة في مجموعة
                        على التعلم بسرعة واكتشاف أفكار جديدة مع زملائك</h5>
                </div>
            </div>
        </div>
    </div>
    <div class=" col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-6"></div>

</div>


<div *ngIf="activeIndex == 1" class="row">

    <div *ngFor="let price of prices"
         (click)="chooseType(price.lib.toUpperCase() +'('+ price.price+' DH)', price.price)"
         class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
        <div class="course__item white-bg mb-30 fix">
            <div class="course__thumb w-img p-relative fix">
                <a>
                    <img *ngIf="price?.lib?.toUpperCase() === 'SILVER'" src="/assets/images/Silver.png" alt="">
                    <img *ngIf="price?.lib?.toUpperCase() === 'GOLD'" src="/assets/images/GoldA.png" alt="">
                    <img *ngIf="price?.lib?.toUpperCase() === 'PLATINUM'" src="/assets/images/Platinum.gif" alt="">
                </a>
                <div class="course__tag">
                    <a class="course-type silver">{{price?.price}} DH</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div *ngIf="activeIndex == 2" class="row">
    <div *ngFor="let level of levels" (click)="getCourse(level?.libelle)"
         class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-4">
        <div class="course__item white-bg mb-30 fix">
            <div class="course__thumb w-img p-relative fix">
                <a>
                    <img *ngIf="level?.id ===1" src="/assets/images/A1.png" alt="">
                    <img *ngIf="level?.id ===5095" src="/assets/images/A2.png" alt="">
                    <img *ngIf="level?.id ===13000" src="/assets/images/B1.png" alt="">
                    <img *ngIf="level?.id ===25000" src="/assets/images/B2.png" alt="">
                    <img *ngIf="level?.id ===31050" src="/assets/images/C1.png" alt="">
                </a>
            </div>
        </div>
    </div>
</div>


