<div class="row row__slider my-3">
    <div class="col-md-12">
        <div class="bc-icons-2">
            <ol class="breadcrumb blue-grey lighten-4">
                <li *ngFor="let map of steps| keyvalue"
                    [class.active]="map.key === activeIndex"
                    class="breadcrumb-item">
                    <a class="black-text" (click)="goTo(map.key)">{{map.value | translate}}</a>
                    <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                </li>
            </ol>

        </div>
    </div>
</div>


<div *ngIf="activeIndex == 0" class="row">
    <div class=" col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-"></div>
    <div (click)="chooseOption('INDIVIDUAL')" class=" select-course  col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6">
        <div style="background: #ff725e;" class="course__item mb-30 fix">
            <div class="course__thumb w-img p-relative fix">
                <a>
                    <i class="fas fa-user"></i>
                </a>
            </div>

            <div class="course__content">
                <div [style.direction]="translate.currentLang === 'ar' ? 'rtl': 'ltr'" id="individual-text"
                     class="course__meta align-items-center justify-content-between">
                    {{'Individual' | translate}} {{"Starting from" | translate}} <br>
                    <div class="heartbeat">{{minPriceForIndividual}} {{'DH' | translate}}</div>
                </div>
                <div style="padding: 10px;text-align: center" class="course__teacher d-flex align-items-center">
                    <h6> حصص فردية مع مدرسك الخاص، حيث تستفيد من مجموعة من
                        الامتيازات كتحديد الجدول
                        الزمني الخاص بك</h6>
                </div>
                <div class="btn__container">
                    <button class="btn btn-outline-light">إشترك</button>
                </div>

                <div class="line"></div>

                <div [style.direction]="translate.currentLang === 'ar' ? 'rtl': 'ltr'" class="option">
                    <h3>{{'Benefits of individual learning' | translate}}</h3>

                    <ul>
                        <li><i class="fa fa-check"
                               aria-hidden="true"></i> {{"Greater flexibility in choosing the time and day." | translate}}
                        </li>
                        <li><i class="fa fa-check"
                               aria-hidden="true"></i> {{'All the time is for you alone with a recognized English teacher.' | translate}}
                        </li>
                        <li><i class="fa fa-check"
                               aria-hidden="true"></i> {{'Availability 24 hours a day, 7 days a week.' | translate}}
                        </li>
                        <li><i class="fa fa-check"
                               aria-hidden="true"></i> {{'Professional pedagogy so that the student speaks 70% and the teacher only 30% of the time.' | translate}}
                        </li>
                        <li><i class="fa fa-check"
                               aria-hidden="true"></i> {{'Development of the four skills: listening, reading, writing and speaking.' | translate}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div (click)="chooseOption('GROUP')" class="select-course  col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6">
        <div style="background: #ff725e;" class="course__item mb-30 fix">
            <div class="course__thumb w-img p-relative fix">
                <a>
                    <i class="fas fa-users-class"></i>
                </a>
            </div>

            <div class="course__content">
                <div [style.direction]="translate.currentLang === 'ar' ? 'rtl': 'ltr'" id="individual-text"
                     class="course__meta align-items-center justify-content-between">
                    {{'Group' | translate}} {{"Starting from" | translate}} <br>
                    <div class="heartbeat"> {{minPriceForGroup}}  {{'DH' | translate}}</div>
                </div>
                <div style="padding: 10px;text-align: center" class="course__teacher d-flex align-items-center">
                    <h6> الدراسة في مجموعة من <strong
                            style="text-decoration: underline">شخصين</strong> أو أكتر من نفس المستوى. تساعدك الدراسة في
                        مجموعة على التعلم بسرعة واكتشاف أفكار جديدة مع زملائك</h6>
                </div>
                <div class="btn__container">
                    <button class="btn btn-outline-light">إشترك</button>
                </div>
                <div class="line"></div>

                <div [style.direction]="translate.currentLang === 'ar' ? 'rtl': 'ltr'" class="option">
                    <h3>{{'Benefits of group learning' | translate}}</h3>
                    <ul>
                        <li><i class="fa fa-check"
                               aria-hidden="true"></i> {{"The number of learners does not exceed 6 people in each group." | translate}}
                        </li>
                        <li><i class="fa fa-check"
                               aria-hidden="true"></i> {{'Exchange group ideas with the teacher.' | translate}}</li>
                        <li><i class="fa fa-check"
                               aria-hidden="true"></i> {{'Bilateral exercises under the guidance of the teacher.' | translate}}
                        </li>
                        <li><i class="fa fa-check"
                               aria-hidden="true"></i> {{'Availability 24 hours a day, 7 days a week.' | translate}}
                        </li>
                        <li><i class="fa fa-check"
                               aria-hidden="true"></i> {{'Development of the four skills: listening, reading, writing and speaking.' | translate}}
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class=" col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-6"></div>

</div>


<div *ngIf="activeIndex == 1" class="row">

    <div *ngFor="let price of prices"
         (click)="chooseType(price.lib.toUpperCase() +'('+ price.price+' DH)', price.price)"
         class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
        <div class="course__item white-bg mb-30 fix">
            <div class="course__thumb w-img p-relative fix">
                <a>
                    <img *ngIf="price?.lib?.toUpperCase()?.includes('SILVER')" src="/assets/images/Silver.webp" alt="">
                    <img *ngIf="price?.lib?.toUpperCase()?.includes('GOLD')" src="/assets/images/GoldA.webp" alt="">
                    <img *ngIf="price?.lib?.toUpperCase()?.includes('PREMIUM')" src="/assets/images/Premium.webp"
                         alt="">
                    <img *ngIf="price?.lib?.toUpperCase()?.includes('PLATINUM')" src="/assets/images/Platinum.webp"
                         alt="">
                </a>
                <div class="course__tag">
                    <a [class.silver]="price?.lib?.toUpperCase()?.includes('SILVER')"
                       [class.gold]="price?.lib?.toUpperCase()?.includes('GOLD')"
                       [class.Premium]="price?.lib?.toUpperCase()?.includes('PREMIUM')"
                       [class.platinum]="price?.lib?.toUpperCase()?.includes('PLATINUM')"
                       class="course-type">{{price?.price}} DH</a>
                </div>

                <div class="course__tag__lessons">
                    <a [style.direction]="translate.currentLang === 'ar' ? 'rtl': 'ltr'"
                       [class.silver]="price?.lib?.toUpperCase()?.includes('SILVER')"
                       [class.gold]="price?.lib?.toUpperCase()?.includes('GOLD')"
                       [class.Premium]="price?.lib?.toUpperCase()?.includes('PREMIUM')"
                       [class.platinum]="price?.lib?.toUpperCase()?.includes('PLATINUM')"
                       class="course-type">{{price?.nreCourse}} {{'LESSONS' | translate}}</a>
                </div>

                <div class="course__tag__hours">
                    <a [style.direction]="translate.currentLang === 'ar' ? 'rtl': 'ltr'"
                       [class.silver]="price?.lib?.toUpperCase()?.includes('SILVER')"
                       [class.gold]="price?.lib?.toUpperCase()?.includes('GOLD')"
                       [class.Premium]="price?.lib?.toUpperCase()?.includes('PREMIUM')"
                       [class.platinum]="price?.lib?.toUpperCase()?.includes('PLATINUM')"
                       class="course-type">{{price?.nreMonth}} {{'MONTH' | translate}}</a>
                </div>
            </div>
        </div>
    </div>
</div>


