#individual-text {
  width: 100%;
  text-align: center;
  font-size: 35px;
  color: #263238;
  font-weight: bold;
  font-family: 'Roboto', serif;
  letter-spacing: 3px;
}

.w-img{
  cursor: pointer;
  text-align: center;
  color: #263238;
  font-size: 65px;
  padding: 8px;
}
.w-img:hover{
  cursor: pointer;
  text-align: center;
  color: white;
  font-size: 68px;
  padding: 8px;
}

.select-course {
  cursor: pointer !important;
}

.course-type {
  width: 130px;
  font-size: 20px;
  font-weight: bold;
}

.course__tag {
  width: 100%;
  text-align: center;
  left: 0!important;
}

.silver {
  background: #ffffff;
  color: #459198;
}

.gold {
  background: #ffffff;
  color: #eb9a0c;
}

.platinum {
  background: #ffffff;
  color: #102c45;
}

#individual-text:hover{
  text-decoration: underline;
  color: white;
  font-size: 37px;
}


/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

/* Rounded tabs */

.nav-item{
  cursor: pointer;
}

@media (min-width: 576px) {
  .rounded-nav {
    border-radius: 50rem !important;
  }
}

@media (min-width: 576px) {
  .rounded-nav .nav-link {
    border-radius: 50rem !important;
  }
}

/* With arrow tabs */

.with-arrow .nav-link.active {
  position: relative;
}

.with-arrow .nav-link.active::after {
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #263238;
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}

/* lined tabs */

.lined .nav-link {
  border: none;
  border-bottom: 3px solid transparent;
}

.lined .nav-link:hover {
  border: none;
  border-bottom: 3px solid transparent;
}

.lined .nav-link.active {
  background: none;
  color: #ff725e;
  border-color: #263238;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #263238;
}

/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/



.nav-pills .nav-link {
  color: #263238;
}
.text-uppercase {
  letter-spacing: 0.1em;
}

