<div class="p-grid topBar p-shadow-4">
    <div class="p-col-3">Total note: 3/10</div>
    <div style="text-align:center" class="p-col-6"><h2>QUIZ</h2></div>
    <div class="p-col-3">Seuil de reussite: 5/10</div>
</div>

<div class="p-grid bottomBar p-shadow-4">
    <div class="p-col-12">

        <!----------------------------------- Unique Choice -------------------------------------->

        <div class="p-col-12" *ngIf="question.typeDeQuestion.ref === 't1'">
            <h5>{{questionList.indexOf(question) + 1}}- {{  question?.libelle}}  </h5>
            <p>(Unique Choice)</p>

            <div *ngFor="let reponse of question?.reponses" class="p-field-checkbox">
                <p-radioButton [inputId]="reponse.lib" name="category" [(ngModel)]="answer"
                               [value]="reponse"></p-radioButton>
                <label [for]="reponse.lib">{{reponse.lib}}</label>
            </div>


            <p-button *ngIf="showCheckButton" [disabled]="answer.id === 0" label="Check answer"
                      (click)="saveAnswers(question)" icon="pi pi-check" iconPos="right">

            </p-button>


            <p-button *ngIf="showHideButton" label="Hide answer"
                      (click)="hideAnswers()" icon="pi pi-chevron-down" iconPos="right">

            </p-button>


            <p-button *ngIf="showShowedButton" label="Show answer"
                      (click)="showAnswers()" icon="pi pi-chevron-up" iconPos="right">

            </p-button>


            <div *ngIf="showAnswerDiv" class="p-col-12">
                <div class="p-col falseAnswer">
                    <h6 style="display:inline-block; text-decoration: underline 2px #289dcc; ">Your answer: </h6>
                    <div *ngFor="let ans of answersList?.get(question.id)">
                        <div *ngIf="answerIsCorrect(ans, question)"><i class="pi pi-check-circle"></i> {{ ans.lib}}</div>
                        <div *ngIf="!answerIsCorrect(ans, question)"><i class="pi pi-times-circle"></i> {{ ans.lib}}</div>
                    </div>
                </div>

                <div class="p-col correctAnswer">
                    <h6 style="display:inline-block;text-decoration: underline 2px #276f9a;">Correct answer: </h6>
                    <div *ngFor="let ans of correctAnswersList?.get(question.id)"><i class="pi pi-check-circle"></i> {{ ans.lib}}</div>
                </div>
            </div>

        </div>


        <!----------------------------------- Multiple Choice -------------------------------------->

        <div class="p-col-12" *ngIf="question.typeDeQuestion.ref === 't2'">
            <h5>{{index}}- {{  question?.libelle}}  </h5>
            <p>(Multiple Choice)</p>

            <div *ngFor="let reponse of question?.reponses" class="p-field-checkbox">
                <p-checkbox [id]="reponse.lib" [value]="reponse" [(ngModel)]="multiChoiceAnswer"></p-checkbox>
                <label [for]="reponse.lib">{{reponse.lib}}</label>
            </div>


            <p-button *ngIf="showCheckButton" [disabled]="multiChoiceAnswer.length === 0" label="Check answer"
                      (click)="saveAnswers(question)" icon="pi pi-check" iconPos="right">

            </p-button>


            <p-button *ngIf="showHideButton" label="Hide answer"
                      (click)="hideAnswers()" icon="pi pi-chevron-down" iconPos="right">

            </p-button>


            <p-button *ngIf="showShowedButton" label="Show answer"
                      (click)="showAnswers()" icon="pi pi-chevron-up" iconPos="right">

            </p-button>



            <div *ngIf="showAnswerDiv" class="p-col-12">
                <div class="p-col falseAnswer">
                    <h6 style="display:inline-block; text-decoration: underline 2px #289dcc; ">Your answer: </h6>
                    <div *ngFor="let ans of answersList?.get(question.id)">
                        <div *ngIf="answerIsCorrect(ans, question)"><i class="pi pi-check-circle"></i> {{ ans.lib}}</div>
                        <div *ngIf="!answerIsCorrect(ans, question)"><i class="pi pi-times-circle"></i> {{ ans.lib}}</div>
                    </div>
                </div>

                <div class="p-col correctAnswer">
                    <h6 style="display:inline-block;text-decoration: underline 2px #276f9a;">Correct answer: </h6>
                    <div *ngFor="let ans of correctAnswersList?.get(question.id)"><i class="pi pi-check-circle"></i> {{ ans.lib}}</div>
                </div>
            </div>
        </div>



        <!----------------------------------- write -------------------------------------->

        <div class="p-col-12" *ngIf="question.typeDeQuestion.ref === 't3'">
            <h5>{{index}}- {{  question?.libelle}}  </h5>
            <p></p>

            <div *ngFor="let reponse of question?.reponses" class="p-field-checkbox">
                <textarea id="float-input" rows="2" [value]="reponse.lib" [(ngModel)]="answer.lib" cols="60" pInputTextarea></textarea>
            </div>


            <p-button *ngIf="showCheckButton" [disabled]="answer.lib === undefined" label="Check answer"
                      (click)="saveAnswers(question)" icon="pi pi-check" iconPos="right">

            </p-button>


            <p-button *ngIf="showHideButton" label="Hide answer"
                      (click)="hideAnswers()" icon="pi pi-chevron-down" iconPos="right">

            </p-button>


            <p-button *ngIf="showShowedButton" label="Show answer"
                      (click)="showAnswers()" icon="pi pi-chevron-up" iconPos="right">

            </p-button>



            <div *ngIf="showAnswerDiv" class="p-col-12">
                <div class="p-col falseAnswer">
                    <h6 style="display:inline-block; text-decoration: underline 2px #289dcc; ">Your answer: </h6>
                    <div *ngFor="let ans of answersList?.get(question.id)">
                        <div *ngIf="answerIsCorrect(ans, question)"><i class="pi pi-check-circle"></i> {{ ans.lib}}</div>
                        <div *ngIf="!answerIsCorrect(ans, question)"><i class="pi pi-times-circle"></i> {{ ans.lib}}</div>
                    </div>
                </div>

                <div class="p-col correctAnswer">
                    <h6 style="display:inline-block;text-decoration: underline 2px #276f9a;">Correct answer: </h6>
                    <div *ngFor="let ans of correctAnswersList?.get(question.id)"><i class="pi pi-check-circle"></i> {{ ans.lib}}</div>
                </div>
            </div>
        </div>



    </div>


</div>

<div class="p-grid topBar p-shadow-4">
    <div class="p-col-3">
        <button *ngIf="question?.id !== questionList[0]?.id && showButton "
                (click)="previousQuestionFct()"
                pButton pRipple type="button" icon="pi pi-arrow-left" iconPos="left" label="Previous"
                class="p-button-rounded p-button-secondary"></button>
    </div>

    <div class="p-col-6"></div>

    <div class="p-col-3">
        <button *ngIf="showButton && question.id !== questionList[questionList.length -1]?.id"
                style="float:right"
                pButton pRipple
                type="button" icon="pi pi-arrow-right" iconPos="right"
                label="Next" (click)="nextQuestionFct()"
                class="p-button-rounded p-button-secondary"></button>


        <button *ngIf="question.id === questionList[questionList.length -1]?.id " style="float:right" pButton
                pRipple
                type="button" icon="pi pi-save" iconPos="right"
                label="Finish"
                class="p-button-rounded p-button-success"></button>
    </div>
</div>
