<p-dialog header="new Student" [(visible)]="createDialogEtud" [position]="'top'" [modal]="true"
          [style]="{width: '70vw'}"
          [draggable]="false" [resizable]="false">
    <div class="container p-10">
        <div class="row">

            <div class="col-xxl-6 col-xl-6 col-md-6">
                <strong class="form-label">Group Name</strong>
                <div class="contact__form-input">
                    <input type="text" [(ngModel)]="selected.libelle" [required]="true" placeholder=" Group Name"
                           name="libelle">
                </div>
            </div>


            <div class="col-xxl-6 col-xl-6 col-md-6">
                <strong class="form-label">Select teacher</strong>
                <div class="contact__form-input">
                    <select class="form-select" [(ngModel)]="selected.prof"
                            [compareWith]="compareObjects"
                            aria-label="Select level">
                        <option [ngValue]="null" selected>Select teacher</option>
                        <option *ngFor="let prof of  profs" [ngValue]="prof">{{prof?.nom}}</option>
                    </select>
                    <div style="color: red" [style.display]="profNotValid ? 'block' :'none'"
                         class="invalid-feedback">
                        {{'this field is required' | translate}}
                    </div>
                </div>
            </div>


            <div class="col-xxl-6 col-xl-6 col-md-6">
                <strong class="form-label">Select group option</strong>
                <div class="contact__form-input">
                    <select class="form-select" [(ngModel)]="selected.groupeEtude"
                            [compareWith]="compareObjects"
                            aria-label="Select study group">
                        <option [ngValue]="null" selected>Select group option</option>
                        <option *ngFor="let group of groupeEtudeList" [ngValue]="group">{{group?.libelle}}</option>
                    </select>
                    <div style="color: red" [style.display]="groupNotValid ? 'block' :'none'"
                         class="invalid-feedback">
                        {{'this field is required' | translate}}
                    </div>
                </div>
            </div>


            <div class="col-xxl-6 col-xl-6 col-md-6">
                <strong class="form-label">Select level</strong>
                <div class="contact__form-input">
                    <select class="form-select" [(ngModel)]="selected.parcours"
                            [compareWith]="compareObjects"
                            (ngModelChange)="filterStudentByLevels()"
                            aria-label="Select level">
                        <option [ngValue]="null" selected>Select level</option>
                        <option *ngFor="let level of  parcoursList" [ngValue]="level">{{level?.libelle}}</option>
                    </select>
                    <div style="color: red" [style.display]="levelNotValid ? 'block' :'none'"
                         class="invalid-feedback">
                        {{'this field is required' | translate}}
                    </div>
                </div>
            </div>


            <div class="col-xxl-6 col-xl-6 col-md-6">
                <strong class="form-label">Start Date</strong>
                <div class="contact__form-input">
                    <input type="date" [(ngModel)]="selected.dateDebut" [required]="true" placeholder="Start date"
                           name="dateDebut">
                </div>
            </div>


            <div class="col-xxl-6 col-xl-6 col-md-6">
                <strong class="form-label">End Date</strong>
                <div class="contact__form-input">
                    <input type="date" [(ngModel)]="selected.dateFin" [required]="true" placeholder="End date"
                           name="dateFin">
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-10">
                <strong class="form-label">Select student</strong>
                <div class="contact__form-input">
                    <select class="form-select" [(ngModel)]="student"
                            [compareWith]="compareObjects"
                            aria-label="Add student">
                        <option [ngValue]="null" selected>Select student</option>
                        <option *ngFor="let student of students" [ngValue]="student">
                            {{student?.nom}} ({{student?.username}})
                        </option>
                    </select>
                </div>
            </div>
            <div style="display: flex; justify-content: center;align-items: center;" class="col-md-2">
                <button [disabled]="student === null" type="button"
                        (click)="addEtudiant()"
                        class="btn btn-outline-success">add student
                </button>
            </div>

            <div class="col-md-1"></div>
            <div class="col-md-10">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr *ngFor="let item of selected?.groupeEtudiantDetails">
                        <th scope="row">{{item?.etudiant?.id}}</th>
                        <td>{{item?.etudiant?.nom}}</td>
                        <td>{{item?.etudiant?.username}}</td>
                        <td>
                            <button type="button" (click)="removeGrouEtudiantDetail(item)" class="btn btn-danger">
                                remove
                            </button>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="save()" label="ADD" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>


