<div class="container">
    <div class="row">
        <div class="card" style="background-color: gainsboro">

            <div class="card">
                <h5>Manage prices</h5>
                <p-table
                         [value]="prices"
                         [paginator]="true"
                         [rowHover]="true"
                         [rows]="6" [showCurrentPageReport]="true"
                         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                         dataKey="id"
                         styleClass="p-datatable-customers">

                    <ng-template pTemplate="caption">
                        <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                            <div class="p-col"><br>
                                <button pButton pRipple type="button" icon="pi pi-plus" iconPos="right" (click)="add()"
                                        label="Add price"
                                        style="float: right"
                                        class="p-button-rounded p-button-success"></button>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>

                            <th  style="width: 3rem"></th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Old price</th>
                            <th>Number of courses</th>
                            <th> Action</th>
                        </tr>
                    </ng-template>
                    <ng-template let-price pTemplate="body">
                        <tr>
                            <td *ngIf="!price?.forGroup"><i class="fas fa-user"></i></td>
                            <td *ngIf="price?.forGroup"><i class="fas fa-users"></i></td>
                            <td>{{price?.lib}}</td>
                            <td>{{price?.price}} DH</td>
                            <td>{{price?.oldPrice}} DH</td>
                            <td>{{price?.nreCourse}}</td>

                            <td>
                                <button (click)="edit(price)"
                                        class="p-button-rounded p-button-success p-mr-2" icon="pi pi-pencil"
                                        pButton
                                        pRipple></button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        <div class="p-d-flex p-ai-center p-jc-between">
                            In total there are {{prices ? prices.length : 0 }} items.
                        </div>
                    </ng-template>
                </p-table>
            </div>


        </div>
    </div>
</div>



<p-dialog header="Price" [(visible)]="showAddDialog" [position]="'top'" [modal]="true" [style]="{width: '50vw'}"
          [draggable]="false" [resizable]="false">
    <div class="container p-10">
            <div class="row">

                <div class="col-xxl-6 col-xl-6 col-md-6">
                    <div class="contact__form-input">
                        <input type="text" [(ngModel)]="price.lib" [required]="true"  placeholder="Name" name="lib">
                    </div>
                </div>

                <div class="col-xxl-6 col-xl-6 col-md-6">
                    <div class="contact__form-input">
                        <input type="number" [(ngModel)]="price.price" [required]="true"  placeholder="price" name="price">
                    </div>
                </div>

                <div class="col-xxl-6 col-xl-6 col-md-6">
                    <div class="contact__form-input">
                        <input type="number" [(ngModel)]="price.oldPrice" [required]="true"  placeholder="price" name="old price">
                    </div>
                </div>

                <div class="col-xxl-6 col-xl-6 col-md-6">
                    <div class="contact__form-input">
                        <input type="number" [(ngModel)]="price.nreCourse" [required]="true"  placeholder="Number of course" name="nreCourse">
                    </div>
                </div>

                <div class="col-xxl-6 col-xl-6 col-md-6">
                    <input class="form-check-input"  [(ngModel)]="price.forGroup" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                        is for group ({{price.forGroup}})
                    </label>
                </div>

            </div>
    </div>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="save()" label="ADD" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>
