<p-dialog [(visible)]="displayReclamationEditEtudiant" [modal]="true" [style]="{width: '450px'}"
          header="Reclamation Student View" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <div class="p-grid p-fluid">

                <div class="p-field p-md-3">
                    <img class="img" [src]="reclamationEtudiantEdit.user?.image">
                </div>
                <div class="p-field  p-md-9">

                    <p><strong><i class="pi pi-user" style="color: #0c799f"></i><strong style="color: #0c799f"> Full
                        Name:</strong> {{reclamationEtudiantEdit.user.nom}} {{reclamationEtudiantEdit.user.prenom}}
                    </strong></p>
                    <p><strong><i class="pi pi-envelope" style="color: #0c799f"></i><strong style="color: #0c799f">
                        E-mail: </strong>{{reclamationEtudiantEdit.user.username}}</strong></p>


                </div>
            </div>
        </div>
        <div class="p-field">
            <label for="reference">Reference</label>
            <input autofocus id="reference" pInputText required type="text"
                   [(ngModel)]="reclamationEtudiantEdit.reference"
                   disabled>
        </div>
        <div class="p-field">
            <label for="dateReclamation">Date Reclamation</label>
            <input autofocus id="dateReclamation" pInputText required type="text"
                   [(ngModel)]="reclamationEtudiantEdit.dateReclamation" disabled>
        </div>
        <div class="p-field">
            <label for="objetmessage">Objet Message</label>
            <input type="text" pInputText id="objetmessage"
                   [(ngModel)]="reclamationEtudiantEdit.objetReclamationEtudiant"
                   disabled/>

        </div>
        <div class="p-field">
            <label for="message">Message</label>
            <textarea pInputTextarea id="message" disabled [(ngModel)]="reclamationEtudiantEdit.message"></textarea>
        </div>
        <div class="p-field">
            <label for="commentaireTraiteur">Commentaire</label>
            <textarea pInputTextarea id="commentaireTraiteur"
                      [(ngModel)]="reclamationEtudiantEdit.commentaireTraiteur"></textarea>
        </div>
        <div class="p-field">
            <label for="dateTraitement">Date Traitement</label>
            <!--
                        <p-calendar id="dateTraitement" [(ngModel)]="reclamationProfEdit.dateTraitement"  dateFormat="yyyy-MM-dd" ></p-calendar>
                        <input autofocus id="dateTraitement" [(ngModel)]="reclamationProfEdit.dateTraitement" pInputText required type="text">-->

            <p-calendar id="dateTraitement" [(ngModel)]="dateTraitementforEtudiant" [showTime]="true"
                        dateFormat="yy-mm-dd"></p-calendar>


        </div>
        <div class="p-field">
            <label for="commentaireTraiteur">Processing Status</label>
            <p-dropdown [options]="processingStatus" placeholder="Processing Status" [itemSize]="2"
                        [(ngModel)]="reclamationEtudiantEdit.traite"
                        [showClear]="true"
                        [filter]="false" style="margin-right: 5px"></p-dropdown>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button class="p-button-text" icon="pi pi-times" label="Cancel" pButton (click)="hide()"
                pRipple></button>
        <button class="p-button-text" icon="pi pi-times" label="Save" pButton
                (click)="reponseReclamationEtudiant(serviceLogin.getConnectedAdmin(),dateTraitementforEtudiant)"

                pRipple></button>
    </ng-template>
</p-dialog>
