<main>
    <app-header-one header__white="header__white"></app-header-one>
    <app-breadcrumb title="{{'contact' | translate}}" subtitle="{{'contactus'| translate}}"></app-breadcrumb>
    <div style="margin: 50px" class="row">
        <div class="col-md-3 col-sm-12"></div>

        <div class="col-md-6 col-sm-12">
            <div class="form">
                <div class="contact-info">
                    <h3 class="title">{{'getintouch' | translate}}</h3>
                    <p class="text">{{'Contactuswith' | translate}}</p>
                    <div class="info">
                        <div class="social-information"><i class="fa fa-solid fa-envelope"></i>
                            <p>engflexy.contact@gmail.com</p>
                        </div>
                        <div class="social-information"><i class="fa fa-solid fa-mobile"></i>
                            <p>+212 662-717477 </p>
                        </div>
                    </div>
                    <div class="social-media">
                        <p>{{'Connectwithus' | translate}}</p>
                        <div class="footer__social">
                            <ul>
                                <li><a href="https://web.facebook.com/Learn.English.Interactively"><i class="social_facebook"></i></a></li>
                                <li><a href="https://twitter.com/engflexy" class="tw"><i class="social_twitter"></i></a></li>
                                <li><a href="https://www.instagram.com/engflexy/" class="pin"><i class="social_instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="contact-info-form"><span class="circle one"></span> <span class="circle two"></span>
                    <form action="#" onclick="return false;" autocomplete="off">
                        <h3 class="title">Contact us</h3>
                        <div class="social-input-containers">
                            <input type="text" name="name" class="input"
                                   [(ngModel)]="contact.name"
                                placeholder="{{'name' | translate}}"/>
                        </div>

                        <div class="social-input-containers">
                            <input type="email" name="email" class="input"
                                   [(ngModel)]="contact.email" placeholder="{{'email' | translate}}"/>
                        </div>

                        <div class="social-input-containers">
                            <input type="tel" name="phone"
                                   [(ngModel)]="contact.phone"
                                   class="input"  placeholder="{{'Phone' | translate}}"/>
                        </div>
                        <div class="social-input-containers textarea">
                            <textarea name="message" class="input"
                                      [(ngModel)]="contact.message"
                                      placeholder="{{'Message' | translate}}"></textarea>
                        </div>
                        <input type="submit" (click)="save()" value="Send" class="btn"/>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-12"></div>

    </div>


    <app-cta></app-cta>
    <app-home-footer footerPadd="footer__top pt-90 pb-40"></app-home-footer>
</main>
