<p-toast></p-toast>
<button class="instruction-button" (click)="showBasicDialog()" icon="pi pi-question" label="Instruction" pButton
        pRipple></button>
<button class="e-btn1" (click)="getData()" icon="pi pi-refresh" pButton pRipple></button>
<div class="p-col">

    <p-dialog [(visible)]="displayBasic" [baseZIndex]="10000" [style]="{width: '30vw'}">
        <p>This is the schedule of your part of teaching , the students how are in color green are the students that
            they are just start the courses, the others how are in color orange are the students active in your
            courses.</p>
        <ng-template pTemplate="footer">
            <p-button (click)="displayBasic=false" icon="pi pi-check" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-dialog>
</div>


<ejs-schedule #scheduleObj width='100%' height='600px' [selectedDate]="selectedDate" [readonly]="true"
              [eventSettings]="eventSettings ">
    <e-views>
        <e-view option="Week" startHour="07:00"></e-view>
        <e-view option="WorkWeek" startHour="07:00"></e-view>
        <e-view option="Month" [showWeekend]="showWeekend"></e-view>
        <e-view option="Month" [showWeekend]="showWeekend"></e-view>
    </e-views>
</ejs-schedule>

