<section class="testimonial__area pt-50 pb-15 grey-bg">
    <div class="container">
        <div class="row">
            <div [style.direction]="translate.currentLang === 'ar' ? 'rtl': 'ltr'"
                 class="col-xxl-12 text-center col-xl-12 col-lg-12 col-md-12">
                <h2 class="section__title text-black">
                    <span class="yellow-bg"> {{'Our Mission'| translate}}
                        <img src="assets/img/shape/yellow-bg-2.webp" alt="">
                    </span>
                    <br>
                </h2>
                <p class="sub__section__title text-black">{{'mission text' | translate}}</p>
            </div>

            <div class="col-xxl-1 col-xl-1 col-lg-1 col-md-12"></div>
            <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-12">
                <div class="macbook">
                    <div class="topbar">
                        <div class="link-bar">
                            <i class="fas fa-lock"></i>
                            <a href="#">www.engflexy.com</a>
                        </div>
                        <div class="buttons">
                            <div class="button close"></div>
                            <div class="button minimize"></div>
                            <div class="button zoom"></div>
                        </div>
                    </div>
                    <div class="content">
                        <p-galleria [(value)]="images" [responsiveOptions]="responsiveOptions"
                                    [circular]="true"
                                    [autoPlay]="true"
                                    [transitionInterval]="3000"
                                    [numVisible]="5"
                                    [showThumbnails]="false" [showIndicators]="true">
                            <ng-template pTemplate="item" let-item>
                                <img [src]="item.previewImageSrc" style="width: 100%; display: block;"/>
                            </ng-template>
                            <ng-template pTemplate="thumbnail" let-item>
                                <div class="p-grid p-nogutter p-justify-center">
                                    <img [src]="item.previewImageSrc" style="display: block;"/>
                                </div>
                            </ng-template>
                        </p-galleria>
                    </div>
                </div>

            </div>
            <div class="col-xxl-1 col-xl-1 col-lg-1 col-md-12"></div>
        </div>
    </div>
</section>
