<p-dialog [(visible)]="displayReclamationViewProf" [modal]="true" [style]="{width: '450px'}"
          header="Reclamation Prof View" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <div class="p-grid p-fluid">

                <div class="p-field p-md-3">
                    <img class="img" [src]="reclamationProfView.prof?.image" >
                </div>
                <div class="p-field  p-md-9">

                    <p><strong><i class="pi pi-user" style="color: #0c799f"></i><strong style="color: #0c799f"> Full Name:</strong> {{reclamationProfView.prof.nom}} {{reclamationProfView.prof.prenom}}</strong></p>
                    <p><strong><i class="pi pi-envelope" style="color: #0c799f"></i><strong style="color: #0c799f"> E-mail: </strong>{{reclamationProfView.prof.username}}</strong></p>


                </div>
            </div>
        </div>
        <div class="p-field">
            <label for="reference">Reference</label>
            <input autofocus id="reference" pInputText required type="text" [(ngModel)]="reclamationProfView.reference" disabled>
        </div>
        <div class="p-field">
            <label for="dateReclamation">Date Reclamation</label>
            <input autofocus id="dateReclamation" pInputText required type="text" [(ngModel)]="reclamationProfView.dateReclamation" disabled>
        </div>
        <div class="p-field">
            <label for="message">Message</label>
            <textarea pInputTextarea id="message" [(ngModel)]="reclamationProfView.message" disabled></textarea>

        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button (click)="hideCreateDialog()" class="p-button-text" icon="pi pi-times" label="Cancel" pButton
                pRipple></button>
    </ng-template>
</p-dialog>
