.sonButton {
  background-color: transparent !important;
  color: #ffa500;
  border: 2px solid #ffa500 !important;
}


.sonButton:hover {
  background-color: #ffa500 !important;
  border: 2px solid #ffa500 !important;
}
