<p-toast></p-toast>

<div class="p-col">

    <p-dialog [(visible)]="displayBasic" [baseZIndex]="10000" [style]="{width: '30vw'}">
        <p>This is the schedule of your part of teaching , the students how are in color green are the students that
            they are just start the courses, the others how are in color orange are the students active in your
            courses.</p>
        <ng-template pTemplate="footer">
            <p-button (click)="displayBasic=false" icon="pi pi-check" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-dialog>
</div>

<div class="control-section">
    <div class="p-grid" style="background-color: #ff8800; border-radius: 5px;">
        <div class="p-col-5">
            <input class="searchValue" [(ngModel)]="schedule.groupeEtudiant.libelle" type="text" pInputText
                   placeholder="Search by group.."/>
            <button pButton pRipple type="button" (click)="findByCriteriaStudent()"
                    icon="pi pi-search" class=" searchButton p-button-rounded p-button-text"></button>
        </div>


        <div class="p-col-5">
            <table style="float: right" class="property-table">
                <tbody>
                <tr>
                    <td style="width: 80%;">
                        <div>
                            <ejs-dropdownlist width='250px' id='scheduletimezone' #timezoneDropdown
                                              [dataSource]='timezoneData'
                                              (change)='onTimezoneDropDownChange($event)' [value]='dropDownValue'
                                              [allowFiltering]="true"
                                              [fields]='fields'
                                              popupWidth='250'></ejs-dropdownlist>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


        <div style="text-align: end" class="p-col-2">
            <button class="instruction-button p-button-text" (click)="showBasicDialog()" icon="pi pi-question"
                    label="Instruction"
                    iconPos="right"
                    pButton
                    pRipple></button>
        </div>


        <ejs-schedule #scheduleObj width='100%' [selectedDate]="selectedDate" [readonly]="true"
                      [eventSettings]="eventSettings "
                      (actionComplete)="onActionComplete()"
                      (popupOpen)="onPopupOpen($event)">
            <e-views>
                <e-view option="Day"></e-view>
                <e-view option="Week" [timeScale]='timeScale'></e-view>
                <e-view option="WorkWeek" [timeScale]='timeScale'></e-view>
                <e-view option="Month" [timeScale]='timeScale'></e-view>
            </e-views>

            <e-resources>
                <e-resource field='id' title='grpName' name='grpName' [dataSource]='scheduleProfs'
                            textField='grpName'
                            idField='id' colorField='#68c671'>
                </e-resource>
            </e-resources>

            <ng-template #quickInfoTemplatesHeader>
                <div>
                    <div class="e-popup-header">
                        <div class="e-header-icon-wrapper">
                            <button disabled class="e-edit e-control e-btn e-lib e-flat e-round e-small e-icon-btn"
                                    title="Edit">
                            </button>
                            <button [disabled]="true"
                                    class=" e-control e-btn e-lib e-flat e-round delete-btn e-small e-icon-btn"
                                    title="Delete">
                                <span class="e-btn-icon e-icons e-delete-icon"></span>
                            </button>
                            <button class="e-close e-control e-btn e-lib e-flat e-round e-small e-icon-btn"
                                    title="Close">
                            </button>
                        </div>
                        <div class="e-subject-wrap">
                            <button (click)="startSession()"
                                    style="float:right; background-color:#3f51b5 ;   margin: 12% -7% 0 0;" pButton
                                    pRipple
                                    type="button" label="Start" class="p-button-rounded p-button-lg "></button>

                        </div>
                    </div>

                </div>
            </ng-template>
        </ejs-schedule>
    </div>
</div>

