<p-toast></p-toast>
<button class="instruction-button" (click)="showBasicDialog()" icon="pi pi-question" label="Instruction" pButton
        pRipple></button>
<button class="instruction-button" (click)="getData()" icon="pi pi-refresh" pButton pRipple></button>
<div class="p-col" style=" float: left">

    <p-dialog [(visible)]="displayBasic" [baseZIndex]="10000" [style]="{width: '30vw'}">
        <p>This is the schedule of your part of teaching , the students how are in color green are the students that
            they are just start the courses, the others how are in color orange are the students active in your
            courses.</p>
        <ng-template pTemplate="footer">
            <p-button (click)="displayBasic=false" icon="pi pi-check" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-dialog>
</div>

<ejs-schedule #scheduleObj width='100%' height='550px' [selectedDate]="selectedDate" [readonly]="false"
              [eventSettings]="eventSettings " (popupOpen)="onPopupOpen($event)">
    <e-views>
        <e-view option="Week" startHour="07:00"></e-view>
        <e-view option="WorkWeek" startHour="07:00"></e-view>
        <e-view option="Month" [showWeekend]="showWeekend"></e-view>
        <e-view option="Month" [showWeekend]="showWeekend"></e-view>
    </e-views>
    <!--     Header template -->
    <ng-template #quickInfoTemplatesHeader>
        <div>
            <div class="e-popup-header">
                <div class="e-header-icon-wrapper">
                    <button class="e-edit e-control e-btn e-lib e-flat e-round e-small e-icon-btn" title="Edit"
                            (click)="onEditClick($event)">
                    </button>
                    <button class=" e-control e-btn e-lib e-flat e-round delete-btn e-small e-icon-btn" title="Delete"
                            (click)="showDialog()">
                        <span class="e-btn-icon e-icons e-delete-icon"></span>
                    </button>
                    <button class="e-close e-control e-btn e-lib e-flat e-round e-small e-icon-btn" title="Close"
                            (click)="onCloseClick()">
                    </button>
                </div>
            </div>
        </div>
    </ng-template>


    <ng-template #quickInfoTemplatesFooter let-data>
        <div *ngIf="data.elementType == 'cell'" class="e-cell-footer">
            <div class="left-button">
                <button class="e-event-details" title="Extra Details" (click)="onDetailsClick(editorTemplate)">More Details</button>
            </div>
        </div>
    </ng-template>


    <ng-template #editorTemplate pTemplate="content">

        <div class="p-field">
            <label>Subject </label>
            <input id="Subject" class="e-field e-input" type="text" [(ngModel)]="scheduleProf.subject"
                   data-name="subject"
                   style="width: 100%"/>
        </div>

        <div class="p-field">
            <label>Student Name </label>
            <p-dropdown [(ngModel)]="scheduleProf.etudiant" [options]="students" optionLabel="nom" class="e-field"
                        data-name="Student"
                        placeholder="Name of student"></p-dropdown>
        </div>


        <div class="p-field">
            <label>Teacher Name </label>
            <p-dropdown (click)="getProf()" [(ngModel)]="scheduleProf.prof" [options]="professors" class="e-field"
                        data-name="teacher"
                        optionLabel="nom" placeholder="Name of Teacher"></p-dropdown>
        </div>


        <div class="p-field">
            <label for="ref">Reference</label>
            <input [(ngModel)]="scheduleProf.ref" autofocus id="ref" pInputText required type="text" class="e-field"
                   data-name="reference"/>
            <small *ngIf="submitted && !scheduleProf.ref" class="p-invalid">ref is required.</small>
        </div>
        <div class="p-field">
            <label>State </label>
            <p-dropdown [(ngModel)]="scheduleProf.etudiant.etatEtudiantSchedule" [options]="etatEtudiantSchedule"
                        name="EventType" class="e-field" data-name="EventType"
                        inputId="etat" optionLabel="libelle"
                        placeholder="Etat Etudiant"></p-dropdown>
        </div>
        <div class="p-field">
            <label for="start">Debut Date</label>
            <p-calendar id="start" [(ngModel)]="scheduleProf.startTime" [showTime]="true" name="StartTime"
                        class="e-field"
                        data-name="startTime"
                        inputId="start"></p-calendar>
            <small *ngIf="submitted && !scheduleProf.startTime" class="p-invalid">start date is required.</small>
        </div>

        <div class="p-field">
            <label for="end">Finish Date </label>
            <p-calendar id="end" [(ngModel)]="scheduleProf.endTime" [showTime]="true" name="endTime" class="e-field"
                        data-name="EndTime"
                        inputId="basic"></p-calendar>
            <small *ngIf="submitted && !scheduleProf.endTime" class="p-invalid">end date is required.</small>
        </div>
        <div class="p-field">
            <button class="e-event-create e-text-ellipsis e-control e-btn e-lib e-flat e-primary" title="Save"
                    (click)="onCloseClick() ; save()">
                Save
            </button>
        </div>

    </ng-template>
</ejs-schedule>


<p-dialog header="Delete event" [(visible)]="display">

    <div class="e-dlg-content" id="QuickDialog_dialog-content">Are you sure you want to delete this event?</div>


    <div class="e-footer-content" style="margin:8% 0 0 22px ">
        <button type="button" class="e-control e-btn e-lib e-quick-alertok e-flat e-primary e-quick-dialog-delete" style="margin-right: 5em"
                aria-label="Delete" (click)="onDeleteClick()"
        >Delete
        </button>
        <button type="button" class="e-control e-btn e-lib e-quick-alertcancel e-flat e-quick-dialog-cancel"
                (click)="hideDialog()"
                aria-label="Cancel">Cancel
        </button>
    </div>

</p-dialog>
