<div class="p-grid">
    <div class="p-md-4 p-sm-12">
        <h6>Students</h6>
        <p-dropdown [options]="studentList" [(ngModel)]="selectedStudent"
                    (ngModelChange)="getStudentHomeWork(selectedStudent)"
                    [style]="{width: '100%'}"
                    optionLabel="nom" [filter]="true" filterBy="nom" [showClear]="true"
                    placeholder="Select a student">
        </p-dropdown>
    </div>
</div>

<p-tabView>
    <p-tabPanel [header]="homeWorkSelected?.libelle">
        <div class="p-grid">
            <img [src]="homeWorkSelected?.urlImage" width="100%" alt="image not found !">
            <div class="p-col-12">
                <h5>Question</h5>
                <p>{{question?.libelle}}</p>
                <h5>Student answer</h5>
                <p>{{reponse?.answer}}</p>
            </div>

            <div class="p-md-6 p-sm-12">
                <h6>notes</h6>
                <textarea [disabled]="loginService.getConnecteUser().role === ROLE.STUDENT" required
                          [style]="{width:'100%', padding: '10px'}" rows="2"
                          [(ngModel)]="reponse.profNote"
                          pInputTextarea
                          (input)="syncWithStudent()"
                          autoResize="autoResize"></textarea>
            </div>
            <div class="p-md-3 p-sm-12">
                <h6>Rating</h6>
                <p-rating [readonly]="loginService.getConnecteUser().role === ROLE.STUDENT" [(ngModel)]="reponse.note"
                          stars="10" [cancel]="false"></p-rating>
            </div>

            <div class="p-md-3 p-sm-12 subDiv">
                <button *ngIf="loginService.getConnecteUser().role === ROLE.PROF" pButton pRipple type="button"
                        (click)="saveNotes()"
                        label="Send" class="p-button-outlined p-button-success"></button>
            </div>
        </div>
    </p-tabPanel>


    <p-tabPanel *ngFor="let item of homeWorkMap | keyvalue" [header]="item?.key?.libelle">
        <app-teacher-home-wrok-review [homeWorkEtudiantList]="item.value"></app-teacher-home-wrok-review>
    </p-tabPanel>

</p-tabView>




