div.p-grid {
  background-color: #f0f0f0;
  border-radius: 2px;
  margin-top: 10px !important;
}

.p-col-12 {
  font-size: medium;
  letter-spacing: 1px;
  margin-right: 40px;
}


h5 {
  border-bottom: 2px solid;
  padding: 10px;
  text-align: center;
}


.subDiv {
  padding: 47px 7px;
  text-align: end;
}

@media only screen and (max-width: 500px) {
  .div {
    font-size: 10px;
  }

  p {
    font-size: 10px;
  }
}
