<div class="row">
  <div *ngFor="let course of packs" class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
    <div class="course__item white-bg mb-30 fix">
       <div class="course__thumb w-img p-relative fix">
          <a (click)="courseDetail(course)">
             <img src="{{course?.imgUrl}}" alt="">
          </a>
          <div class="course__tag">
             <a *ngIf="!course.forGroupe" [style.background]="'#7b2cbf'" >{{'Individual' | translate}}</a>
             <a *ngIf="course.forGroupe" [style.background]="'#800f2f'" >{{'Group'| translate}}</a>
          </div>
       </div>

       <div class="course__content">
          <div class="course__meta d-flex align-items-center justify-content-between">
             <div class="course__lesson">
                <span><i class="far fa-book-alt"></i>
                    {{course?.nombreCours}} {{'Lesson'| translate}}</span>
             </div>
             <div class="course__rating">
                <span><i class="icon_star"></i>{{course?.rating}}</span>
             </div>
          </div>
          <h3 class="course__title"><a (click)="courseDetail(course)">
              {{course?.libelle}}</a></h3>
           <div class="course__teacher d-flex align-items-center">
               <h6><a>{{course?.level?.libelle}}</a></h6>
           </div>
       </div>
       <div class="course__more d-flex justify-content-between align-items-center">
        <div class="course__status d-flex align-items-center">
            <span> {{course.price?.price}} {{'MAD'| translate}} </span>
            <span class="old-price">{{course?.oldPrice}}</span>
         </div>
          <div class="course__btn">
             <a (click)="courseDetail(course)" class="link-btn">
                 {{'Knowdetails' | translate}}
                <i class="far fa-arrow-right"></i>
                <i class="far fa-arrow-right"></i>
             </a>
          </div>
       </div>
    </div>
 </div>
</div>
