<div [style.direction]="translate.currentLang === 'ar' ? 'rtl': 'ltr'" class="container">
    <div class="row">
        <div class="col-md-12 text-center p-5">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">

                <!--                <button *ngFor="let price of prices"-->
                <!--                        [class.selected]="selectedPriceForIndividual?.id === price?.id"-->
                <!--                        (click)="passValue(price)"-->
                <!--                        class="btn d-inline-block btn-outline-light">{{ price?.nreCourse }} {{'classes'  | translate}} </button>-->
                <h2>{{'Learn to speak English with confidence and achieve your success' | translate}}</h2>

            </div>
        </div>

    </div>

    <div class="row">
        <div class=" select-course  col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="course__item mb-30 fix">
                <div class="course__thumb w-img p-relative fix">
                    <h2>{{'Individual' | translate}}</h2>

                    <p>{{'Individual lessons with a private tutor, where you benefit from a range of privileges such as setting your own schedule' | translate}}</p>
                </div>

                <div class="course__content">
                    <div [style.direction]="translate.currentLang === 'ar' ? 'rtl': 'ltr'" id="individual-text"
                         class="course__meta align-items-center justify-content-between">
                        <div class="heartbeat text-centre">
                            <p>{{getOldPrice(selectedPriceForIndividual)}} {{'DH' | translate}}</p>
                            <div> SAVE {{getPercentage(selectedPriceForIndividual).toFixed(.2) + '%'}}</div>
                        </div>
                        <div class="price">{{getPrice(selectedPriceForIndividual)}} </div>
                        {{'DH' | translate}} / {{'PER CLASS' | translate}}
                    </div>


                    <div class="btn__container">
                        <button (click)="subscribe(selectedPriceForIndividual, 'SUBSCRIBE')"
                                class="btn btn-outline-light">
                            {{'subscribe now' | translate}}
                        </button>
                        <button (click)="subscribe(selectedPriceForIndividual, 'MORE')" class="btn btn-outline-dark">
                            {{'More information' | translate}}
                        </button>

                    </div>

                    <div class="line"></div>

                    <div [style.direction]="translate.currentLang === 'ar' ? 'rtl': 'ltr'" class="slider__container">
                        <h3>{{'Number of classes' | translate}}</h3>
                        <input class="slider" type="range" min="8" max="40"
                               [(ngModel)]="numberOfClasses"
                               (ngModelChange)="changeValueOfRange()"
                               name="numberOfClasses"
                               step="16"
                               value="24">

                        <div id="" class="row slider__value">
                            <div [class.active]="numberOfClasses === 8"
                                 [class.text-end]="translate?.currentLang === 'ar'"
                                 [class.text-start]="translate?.currentLang !== 'ar'"
                                 (click)="numberOfClasses=8 ; changeValueOfRange()"
                                 class="col-md-4 ">8
                            </div>
                            <div [class.active]="numberOfClasses === 24"
                                 (click)="numberOfClasses=24 ; changeValueOfRange()"
                                 class="col-md-4 text-center">24
                            </div>
                            <div [class.active]="numberOfClasses === 48"
                                 [class.text-end]="translate?.currentLang !== 'ar'"
                                 [class.text-start]="translate?.currentLang === 'ar'"
                                 (click)="numberOfClasses=48 ;  changeValueOfRange()"
                                 class="col-md-4">48
                            </div>
                        </div>

                        <div class="row">
                            <div [class.active]="numberOfClasses === 8"
                                 [class.text-end]="translate?.currentLang === 'ar'"
                                 [class.text-start]="translate?.currentLang !== 'ar'"
                                 class="col-md-4 ">
                                ( 1 {{'month'|translate}} )
                            </div>
                            <div [class.active]="numberOfClasses === 24"
                                 class="col-md-4 text-center">
                                ( 3 {{'month'|translate}} )
                            </div>
                            <div [class.active]="numberOfClasses === 48"
                                 [class.text-end]="translate?.currentLang !== 'ar'"
                                 [class.text-start]="translate?.currentLang === 'ar'"
                                 class="col-md-4">
                                ( 6 {{'month'|translate}} )
                            </div>
                        </div>

                    </div>

                    <div class="line"></div>


                    <div [style.direction]="translate.currentLang === 'ar' ? 'rtl': 'ltr'" class="option">
                        <h3>{{'Benefits of individual learning' | translate}}</h3>

                        <ul>
                            <li><i class="fa fa-check"
                                   aria-hidden="true"></i> {{'All the time is for you alone with a recognized English teacher.' | translate}}
                            </li>

                            <li><i class="fa fa-check" aria-hidden="true"></i>
                                {{'Two classes per week' | translate}}
                            </li>

                            <li><i class="fa fa-check"
                                   aria-hidden="true"></i> {{"Greater flexibility in choosing the time and day." | translate}}
                            </li>

                            <li><i class="fa fa-check" aria-hidden="true"></i> {{"Get certified" | translate}}</li>
                            <li><i class="fa fa-check"
                                   aria-hidden="true"></i> {{"Learning is interactive, as the learner writes, corrects mistakes, and arranges sentences on the platform" | translate}}
                            </li>

                            <li><i class="fa fa-check"
                                   aria-hidden="true"></i> {{'Professional pedagogy so that the student speaks 70% and the teacher only 30% of the time.' | translate}}
                            </li>

                            <li><i class="fa fa-check"
                                   aria-hidden="true"></i> {{'Free dictionary for life' | translate}}</li>


                            <li><i class="fa fa-check"
                                   aria-hidden="true"></i> {{'The possibility of repeating the lesson and exercises several times' | translate}}


                            <li><i class="fa fa-check"
                                   aria-hidden="true"></i> {{'Availability 24 hours a day, 7 days a week.' | translate}}
                            </li>


                            <li><i class="fa fa-check"
                                   aria-hidden="true"></i> {{'Development of the four skills: listening, reading, writing and speaking.' | translate}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="select-course  col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="course__item mb-30 fix">
                <div class="course__thumb w-img p-relative fix">
                    <h2>{{'Group' | translate}}</h2>
                    <p>{{'Study in a group of two or more people of the same level. Studying in a group helps you learn quickly and discover new ideas with your classmates' | translate}}</p>
                </div>

                <div class="course__content">
                    <div [style.direction]="translate.currentLang === 'ar' ? 'rtl': 'ltr'" id="individual-text"
                         class="course__meta align-items-center justify-content-between">
                        <div class="heartbeat text-centre">
                            <p>{{getOldPrice(selectedPriceForGroup)}} {{'DH' | translate}}</p>
                            <div> SAVE {{getPercentage(selectedPriceForGroup).toFixed(.2) + '%'}}</div>
                        </div>
                        <div class="price">{{getPrice(selectedPriceForGroup)}} </div>
                        {{'DH' | translate}}  / {{'PER CLASS' | translate}}
                    </div>


                    <div class="btn__container">
                        <button (click)="subscribe(selectedPriceForIndividual, 'SUBSCRIBE')"
                                class="btn btn-outline-light">
                            {{'subscribe now' | translate}}
                        </button>
                        <button (click)="subscribe(selectedPriceForGroup, 'MORE')" class="btn btn-outline-dark">
                            {{'More information' | translate}}
                        </button>

                    </div>
                    <div class="line"></div>

                    <div [style.direction]="translate.currentLang === 'ar' ? 'rtl': 'ltr'" class="slider__container">
                        <h3>{{'Number of classes' | translate}}</h3>
                        <input class="slider" type="range" min="0" [max]="selectedPriceForGroup?.nreCourse * 2"
                               name="numberOfClasses"
                               disabled
                               [step]="selectedPriceForGroup?.nreCourse"
                               [value]="selectedPriceForGroup?.nreCourse">
                        <div style="color: #04AA6D" class="slider__value">{{selectedPriceForGroup?.nreCourse}}</div>
                        <div style="color: #04AA6D">( {{selectedPriceForGroup?.nreMonth}} {{'month' | translate}} )
                        </div>

                    </div>

                    <div class="line"></div>

                    <div [style.direction]="translate.currentLang === 'ar' ? 'rtl': 'ltr'" class="option">
                        <h3>{{'Benefits of group learning' | translate}}</h3>
                        <ul>

                            <li><i class="fa fa-check"
                                   aria-hidden="true"></i> {{'Exchange group ideas with the teacher.' | translate}}</li>

                            <li><i class="fa fa-check" aria-hidden="true"></i> {{'Two classes per week' | translate}}
                            </li>


                            <li><i class="fa fa-check"
                                   aria-hidden="true"></i> {{"Get certified" | translate}}</li>

                            <li><i class="fa fa-check"
                                   aria-hidden="true"></i> {{"The number of learners does not exceed 6 people in each group." | translate}}
                            </li>

                            <li><i class="fa fa-check"
                                   aria-hidden="true"></i> {{"Learning is interactive, as the learner writes, corrects mistakes, and arranges sentences on the platform" | translate}}
                            </li>


                            <li><i class="fa fa-check"
                                   aria-hidden="true"></i> {{'Free dictionary for life' | translate}}</li>


                            <li><i class="fa fa-check"
                                   aria-hidden="true"></i> {{'The possibility of repeating the lesson and exercises several times' | translate}}


                            <li><i class="fa fa-check"
                                   aria-hidden="true"></i> {{'Bilateral exercises under the guidance of the teacher.' | translate}}
                            </li>
                            <li><i class="fa fa-check"
                                   aria-hidden="true"></i> {{'Availability 24 hours a day, 7 days a week.' | translate}}
                            </li>
                            <li><i class="fa fa-check"
                                   aria-hidden="true"></i> {{'Development of the four skills: listening, reading, writing and speaking.' | translate}}
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
