<p-dialog [(visible)]="editDialog" [modal]="true" [resizable]="true"
          [style]="{width: '900px',height:'500px', color: 'red'}"
          header="Validate Registration"
          styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-grid user-info">
            <div class="p-col-12 p-md-6 p-lg-4"><label class="label" >{{selected?.etudiant?.nom }}</label></div>
            <div class="p-col-12 p-md-6 p-lg-4"><label class="label">Teacher locality:</label>  {{ selected?.etudiant?.teacherLocality}}</div>
            <div class="p-col-12 p-md-6 p-lg-4"><label  class="label">Group option:</label>  {{ selected?.etudiant?.groupOption}}</div>
            <div *ngIf="selected.packStudent!= null" class="p-col-12 p-md-6 p-lg-4"><label  class="label">Pack choosen:</label>  {{ selected.packStudent.libelle}} : {{selected.packStudent.nombreCours}}h | {{selected.packStudent.prix}}$</div>
        </div>


        <div class="p-grid">
            <div class="p-col-12 p-md-6 p-lg-4">
                <label for="dateformat1">Course</label>
                <p-dropdown [options]="parcoursList" editable="true"[(ngModel)]="selected.parcours"
                            optionLabel="libelle" [itemSize]="3"></p-dropdown>

            </div>

            <div class="p-col-12 p-md-6 p-lg-4">
                <p-dropdown (click)="findTypeOfPack()" [options]="allgroupes" placeholder="Select groupe" [(ngModel)]="selected.groupeEtude"
                            optionLabel="libelle"></p-dropdown>

            </div>
            <div class="p-col-12 p-md-6 p-lg-4">
                <p-dropdown [options]="packStudents" placeholder="Select pack" [(ngModel)]="selected.packStudent"
                            optionLabel="libelle" ></p-dropdown>

            </div>

            <div class="p-col-12 p-md-6 p-lg-4">
                <label for="dateformat1">Study level</label>
                <p-dropdown editable="true" [options]="etatinscriptionslist"
                            [(ngModel)]="selected.etatInscription"
                            optionLabel="libelle" [itemSize]="5"></p-dropdown>
            </div>

            <div class=" p-col-12 p-md-6  p-lg-4">
                <label for="dateformat">Started date</label>
                <p-calendar [(ngModel)]="selected.datedebutinscription" dateFormat="mm-dd-yy" [showIcon]="true"
                            id="dateformat"></p-calendar>
            </div>

            <div class=" p-col-12 p-md-6  p-lg-4">
                <label for="dateformat1">Finished date</label>
                <p-calendar [(ngModel)]="selected.datefininscription" dateFormat="mm-dd-yy" [showIcon]="true"
                            id="dateformat1"></p-calendar>
            </div>

                <div class="p-col-12 p-md-6 p-lg-4">
                    <label for="dateformat1">Social status</label>
                    <p-dropdown [options]="statutSocials" editable="true" [(ngModel)]="selected.statutSocial"
                                optionLabel="libelle" [itemSize]="3"></p-dropdown>
                </div>
            <div class="p-col-12 p-md-6 p-lg-4">
                <label for="dateformat1">Niveau d'etude</label>
                <p-dropdown [options]="niveauEtudes" editable="true" [(ngModel)]="selected.niveauEtude"
                            optionLabel="libelle" [itemSize]="3"></p-dropdown>
            </div>
            <div class="p-col-12 p-md-6 p-lg-4">
                <label for="dateformat1">Areas of work</label>
                <p-dropdown [options]="fonctions"  editable="true" [(ngModel)]="selected.fonction"
                            optionLabel="libelle" [itemSize]="3"></p-dropdown>
            </div>
            <div class="p-col-12 p-md-6 p-lg-4">
                <label for="dateformat1">Interest</label>
                <p-dropdown [options]="interetEtudiants" editable="true" [(ngModel)]="selected.interetEtudiant"
                            optionLabel="libelle" [itemSize]="3"></p-dropdown>
            </div>

            <div class="p-col-12 p-md-6 p-lg-4">
                <label for="dateformat1">Skill</label>
                <p-dropdown [options]="skills" editable="true" [(ngModel)]="selected.skill"
                            optionLabel="libelle" [itemSize]="3"></p-dropdown>
            </div>

        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button (click)="edit()" class="p-button-text" icon="pi pi-check" label="Edit" pButton pRipple></button>
        <button (click)="hideEditDialog()" class="p-button-text" icon="pi pi-times" label="Cancel" pButton
                pRipple></button>

    </ng-template>
</p-dialog>
