<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xxl-4 col-xl-4 col-md-12">
                <div class="card text-center">
                    <div class="title">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                        <h2>{{'Free Trial' | translate}}</h2>
                    </div>
                    <div class="price">
                        <h4>{{'FREE' | translate}}</h4>
                    </div>
                    <div class="option">
                        <ul>
                            <li><i class="fa fa-check" aria-hidden="true"></i> {{'3 Free Lessons' | translate}}</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> {{'Discover Your Level' | translate}}
                            </li>
                        </ul>
                    </div>
                    <a style=" opacity: 0.5;">{{'Current Plan' | translate}} </a>
                </div>
            </div>

            <!-- END Col one -->
            <div class="col-xxl-4 col-xl-4 col-md-12">
                <div class="card text-center">
                    <div class="title">
                        <i class="fa fa-plane" aria-hidden="true"></i>
                        <h2>{{'Group' | translate}}</h2>
                    </div>
                    <div class="price">
                        <h4>20<sup style="font-size: 25px!important;">DH</sup></h4>
                    </div>
                    <div class="option">
                        <ul>
                            <li><i class="fa fa-check"
                                   aria-hidden="true"></i> {{"We'll demonstrate our platform" | translate}}</li>
                            <li><i class="fa fa-check"
                                   aria-hidden="true"></i> {{'We will assess your English level and also give you an opportunity to practice your English' | translate}}
                            </li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> {{'Recommend a study plan' | translate}}
                            </li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> {{'Group classes with a teacher' | translate}}</li>
                        </ul>
                    </div>
                    <a href="#">{{'Purchase Now' | translate}} </a>
                </div>
            </div>
            <!-- END Col two -->
            <div class="col-xxl-4 col-xl-4 col-md-12">
                <div class="card text-center">
                    <div class="title">
                        <i class="fa fa-rocket" aria-hidden="true"></i>
                        <h2>{{'Individual' | translate}}</h2>
                    </div>
                    <div class="price">
                        <h4>99<sup style="font-size: 25px!important;">DH</sup></h4>
                    </div>
                    <div class="option">
                        <ul>
                            <li><i class="fa fa-check"
                                   aria-hidden="true"></i> {{"We'll demonstrate our platform" | translate}}</li>
                            <li><i class="fa fa-check"
                                   aria-hidden="true"></i> {{'We will assess your English level and also give you an opportunity to practice your English' | translate}}
                            </li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> {{'Recommend a study plan' | translate}}
                            </li>
                            <li><i class="fa fa-check"
                                   aria-hidden="true"></i> {{'1 on 1 classes with your private teacher' | translate}}</li>
                        </ul>
                    </div>
                    <a href="#">{{'Purchase Now' | translate}} </a>
                </div>
            </div>
            <!-- END Col three -->
        </div>
    </div>
</div>
