$gutter: 1rem; //for primeflex grid system
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ramaraja&display=swap');
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/prismjs/themes/prism-coy.css";
@import "../node_modules/@fullcalendar/core/main.min.css";
@import "../node_modules/@fullcalendar/daygrid/main.min.css";
@import "../node_modules/@fullcalendar/timegrid/main.min.css";
@import "assets/demo/flags/flags.css";
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-schedule/styles/material.css';
@import '../src/assets/css/fontAwesome5Pro.css';
@import '../src/assets/css/elegantFont.css';
@import "~bootstrap/dist/css/bootstrap.css";
@import '../src/assets/scss/main.scss';
@import 'swiper/swiper-bundle.css';

.e-btn{
  background: #ff725e;
}
.e-btn:hover, .e-css.e-btn:hover {
  background-color: #263238;
  color: #ff725e;
}


:host ::ng-deep {
  .p-paginator {
    .p-paginator-current {
      margin-left: auto;
    }
  }

  .p-progressbar {
    height: .5rem;
    background-color: #D8DADC;

    .p-progressbar-value {
      background-color: #607D8B;
    }
  }

  .table-header {
    display: flex;
    justify-content: space-between;
  }

  .p-calendar .p-datepicker {
    min-width: 25rem;

    td {
      font-weight: 400;
    }
  }

  .p-datatable.p-datatable-customers {
    .p-datatable-header {
      padding: 1rem;
      text-align: left;
      font-size: 1.5rem;
    }

    .p-paginator {
      padding: 1rem;
    }

    .p-datatable-thead > tr > th {
      text-align: left;
    }

    .p-dropdown-label:not(.p-placeholder) {
      text-transform: uppercase;
    }
  }

  .p-datatable.p-datatable-customers:not(.p-datatable-gridlines) {
    .p-datatable-tbody > tr > td {
      cursor: auto;
    }
  }

  /* Responsive */
  .p-datatable-customers .p-datatable-tbody > tr > td .p-column-title {
    display: none;
  }
}

.customer-badge {
  border-radius: 2px;
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;

  &.status-qualified {
    background: #C8E6C9;
    color: #256029;
  }

  &.status-unqualified {
    background: #FFCDD2;
    color: #C63737;
  }

  &.status-negotiation {
    background: #FEEDAF;
    color: #8A5340;
  }

  &.status-new {
    background: #B3E5FC;
    color: #23547B;
  }

  &.status-renewal {
    background: #ECCFFF;
    color: #694382;
  }

  &.status-proposal {
    background: #FFD8B2;
    color: #805B36;
  }
}

.product-badge {
  border-radius: 2px;
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;

  &.status-instock {
    background: #C8E6C9;
    color: #256029;
  }

  &.status-outofstock {
    background: #FFCDD2;
    color: #C63737;
  }

  &.status-lowstock {
    background: #FEEDAF;
    color: #8A5340;
  }
}

.order-badge {
  border-radius: 2px;
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;

  &.order-delivered {
    background: #C8E6C9;
    color: #256029;
  }

  &.order-cancelled {
    background: #FFCDD2;
    color: #C63737;
  }

  &.order-pending {
    background: #FEEDAF;
    color: #8A5340;
  }

  &.order-returned {
    background: #ECCFFF;
    color: #694382;
  }
}

@media screen and (max-width: 960px) {
  :host ::ng-deep {
    .p-datatable {
      &.p-datatable-customers {
        .p-datatable-thead > tr > th,
        .p-datatable-tfoot > tr > td {
          display: none !important;
        }

        .p-datatable-tbody > tr {
          border-bottom: 1px solid var(--surface-d);

          > td {
            text-align: left;
            display: block;
            border: 0 none !important;
            width: 100% !important;
            float: left;
            clear: left;
            border: 0 none;

            .p-column-title {
              padding: .4rem;
              min-width: 30%;
              display: inline-block;
              margin: -.4rem 1rem -.4rem -.4rem;
              font-weight: bold;
            }

            .p-progressbar {
              margin-top: .5rem;
            }
          }
        }
      }
    }
  }

}

div.p-grid {
  display: flex;
  /* flex-wrap: wrap; */
  margin-right: 0 !important;
  margin-left: 0 !important;
  margin-top: 0 !important;
}

/******************* Black => Orange **********************/


.ngFlexyBlackButton {
  width: 100%!important;
  background: #263238!important;
  color: #ff725e!important;
  border: none!important;
  height: 40px!important;


}

.ngFlexyBlackButton:hover {
  width: 100%!important;
  background: #ff725e!important;
  border: 1px solid #263238!important;
  color: #263238!important;
  font-weight: bold!important;
  height: 40px!important;
}

.ngFlexyBlackButton:active {
  width: 100%!important;
  background: #263238!important;
  border: 2px solid #263238!important;
  color: #ff725e!important;
  font-weight: bold!important;
  height: 40px!important;
}

.ngFlexyBlackButton:focus {
  outline: 0 none!important;
  outline-offset: 0!important;
  box-shadow: 0 0 0 0.2rem #ff9e90!important;
}

/*************************************************/





/******************* Orange => Black **********************/


.ngFlexyOrangeButton {
  width: 100%;
  background: #ff725e!important;
  color: #263238!important;
  border: none!important;
  height: 40px!important;


}

.ngFlexyOrangeButton:hover {
  width: 100%;
  background: #263238!important;
  border: 1px solid #757f8a !important;
  color:  #ff725e!important;
  font-weight: bold!important;
  height: 40px!important;
}

.ngFlexyOrangeButton:active {
  width: 100%;
  background:  #ff725e!important;
  border: 2px solid  #ff725e!important;
  color: #263238!important;
  font-weight: bold!important;
  height: 40px!important;
}

.ngFlexyOrangeButton:focus {
  outline: 0 none!important;
  outline-offset: 0!important;
  box-shadow: 0 0 0 0.2rem #ff9e90!important;
}

/*************************************************/
