<div (click)="onLayoutClick()" [class]="app.topbarColor" [ngClass]="{'layout-horizontal': app.layoutMode === 'horizontal',
    'layout-overlay': app.layoutMode === 'overlay',
    'layout-static': app.layoutMode === 'static',
    'layout-slim': app.layoutMode === 'slim',
    'layout-menu-light': app.lightMenu === true,
    'layout-menu-dark': app.lightMenu === false,
    'layout-overlay-active': overlayMenuActive,
    'layout-mobile-active': staticMenuMobileActive,
    'layout-static-inactive': staticMenuDesktopInactive,
    'layout-rtl': app.isRTL,
    'p-input-filled': app.inputStyle === 'filled',
    'p-ripple-disabled': !app.ripple}" class="layout-wrapper">
<!--    <app-topbar></app-topbar>-->
    <app-menu [hidden]="user == null"></app-menu>
    <div style="padding: 0;" [style]="{padding: '0'}" class="layout-main">
        <div class="layout-content">
            <p-toast [autoZIndex]="true" position="top-left" key="ccc"   [baseZIndex]="5000">
                <ng-template let-message pTemplate="message">
                    <div class="p-flex p-flex-column" style="flex: 1">
                        <div class="p-text-center">
                            <i class="pi pi-clock" style="font-size: 3rem"></i>
                            <h4 style="color: #263238;">{{message.summary}}</h4>
                            <p style="color: black;font-weight: 700;">{{getRestOfTime}}</p>
                        </div>
                    </div>
                </ng-template>
            </p-toast>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
