$primaryColor:#AB5353;
$primaryTextColor:#ffffff;
$primaryLightestColor:#E18484;

@import '../../../../../../../Downloads/alc-front-v2-9672d7267b2c250e79facdfb33a4fa7ddd1641f0/src/assets/sass/layout/layout';
