img{
  width: 111px;
  background-color: #607d8b;
  border-radius: 25%;
}

.p-col-12{
  border-bottom: 3px  solid #607d8b;
  border-top: 3px  solid #607d8b;
  background-color: rgb(220 220 220);
}

.p-grid{
  margin-top: 10px;
}


.p-dialog-content {
  height: 280px !important;
}

select{
  width: 181px;
  height: 30px;
  border: 1px solid #d1d6da;
  border-radius: 5px;
}


.searchInput{
  margin-right: 1%;
}
