
<div class="p-grid">
    <div class="p-col-12">
        <div class="card" style="background-color: gainsboro;">
            <h2 class="p-m-0">Social status list </h2>
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <button   (click)="showEditDialog()" class="p-button-success p-mr-2 p-mb-2" icon="pi pi-plus" label="New" pButton
                              pRipple style="width: 90px"></button>
                </ng-template>
            </p-toolbar>
            <p-table
                    [columns]="cols" [globalFilterFields]="['libelle']"
                    [paginator]="true"
                    [rowHover]="false"
                    [rows]="3" [showCurrentPageReport]="true" [value]="statutSocials"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    dataKey="id"
                    styleClass="p-datatable-customers">

                <ng-template pTemplate="header">
                    <tr>

                        <th pSortableColumn="libelle">Social status
                            <p-sortIcon field="libelle"></p-sortIcon>
                        </th>
                        <th pSortableColumn="prenom"> Action
                            <p-sortIcon field="prenom"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template let-type pTemplate="body">
                    <tr>

                        <td>{{type.libelle}}</td>
                        <td>

                            <button (click)="confirmationDelete(type)"  class="p-button-rounded p-button-danger" icon="pi pi-trash" pButton
                                    pRipple></button>
                            &nbsp;
                            <button (click)="showEdit(type)"  class="p-button-rounded p-button-success p-mr-2" icon="pi pi-pencil" pButton
                                    pRipple></button>
                        </td>


                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        In total there are  items.
                    </div>
                </ng-template>
            </p-table>
        </div>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>

<!------Create-------------------->

<p-dialog header="Social status create" [(visible)]="createDialogEtud" [style]="{width: '20vw'}">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="libelle"> Label</label>
            <input [(ngModel)]="statutSocial.libelle" autofocus id="libelle" pInputText required type="text"/>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button (click)="hideCreateDialog()" class="p-button-text" icon="pi pi-times" label="Cancel" pButton
                pRipple></button>
        <button (click)="save()" class="p-button-text" icon="pi pi-check" label="Save" pButton pRipple></button>
    </ng-template>

</p-dialog>

<!------Edit-------------------->

<p-dialog header="Social status edit" [(visible)]="editDialog" [style]="{width: '20vw'}">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="libelle"> Label</label>
            <input [(ngModel)]="statutSocial.libelle" autofocus id="libelle" pInputText required type="text"/>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button (click)="hideCreateDialog()" class="p-button-text" icon="pi pi-times" label="Cancel" pButton
                pRipple></button>
        <button (click)="edit()" class="p-button-text" icon="pi pi-check" label="Edit" pButton pRipple></button>
    </ng-template>

</p-dialog>



<p-dialog header="Confirm" [(visible)]="deleteConfirmation" [style]="{width: '30vw'}">
    <ng-template pTemplate="content">
        <div>
            <i class="pi pi-exclamation-triangle" style="font-size: 2rem ; color :red;">
                Are you sure you want to delete {{this.statutSocial.libelle }} ?
            </i>

        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button (click)="delete()" class="p-button-text" icon="pi pi-check" label="Delete" pButton pRipple></button>
        <button (click)="hideCreateDialog1()" class="p-button-text" icon="pi pi-times" label="Cancel" pButton
                pRipple></button>

    </ng-template>

</p-dialog>
