<!--
<div class="p-grid" style="  margin-left: 30px; margin-top: 20px">


    <div class="card p-col-11" style="background-color: gainsboro;  margin-left: 30px; margin-top: 20px">
        <h1 style="text-align: center; margin-bottom: 30px; color: black"><b>Registration Student</b></h1>
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-6">
                <label for="prenom" style="color: black;">Firstname</label>
                <input [(ngModel)]="selected.prenom" id="prenom" pInputText type="text">
                <small *ngIf="submitted && !selected.prenom" class="p-invalid">FirstName is required.</small>
            </div>
            <div class="p-field p-col-12 p-md-6">
                <label for="nom" style="color: black;">Lastname</label>
                <input [(ngModel)]="selected.nom" id="nom" pInputText type="text">
                <small *ngIf="submitted && !selected.nom" class="p-invalid">Lastname is required.</small>

            </div>
            <div class="p-field p-col-12 p-md-6">
                <label for="logins">UserName</label>
                <input [(ngModel)]="selected.login" id="logins" pInputText type="text">
                <small *ngIf="submitted && !selected.login" class="p-invalid">Username is required.</small>

            </div>
            <div class="p-field p-col-12 p-md-6">
                <label for="passwrdd" style="color: black;">Password</label>
                <input [(ngModel)]="selected.password" id="passwrdd" pInputText type="password">
                <small *ngIf="submitted && !selected.password" class="p-invalid">Password is required.</small>

            </div>
            <div class="p-field p-col-12">
                <label for="address" style="color: black;">Address</label>
                <textarea [(ngModel)]="selected.address" id="address" pInputTextarea rows="4" type="text"></textarea>
            </div>
            <div class="p-field p-col-12 p-md-6">
                <label for="city" style="color: black;">City</label>
                <input [(ngModel)]="selected.ville" id="city" pInputText type="text">
            </div>
            <div class="p-field p-col-12 p-md-6">
                <label for="email" style="color: black;">Email</label>
                <input [(ngModel)]="selected.gmail" id="email" pInputText type="text">
            </div>
            <div class="p-field p-col-12 p-md-3">
                <label for="parcours" style="color: black;">Parcours</label>
                <select (click)="findAllParcours()" [(ngModel)]="selected.parcours.id" class="btn btn-block btn-outline-light form-control" id="parcours"
                        name="Parcours"
                        style="width: 300px; height: 30px ; border-color: darkgray;margin-left: 5px" type="text">
                    <option *ngFor="let p of parcoursList" [ngValue]="p.id" selected="selected"> {{p.libelle}}</option>

                </select>
                <small *ngIf="submitted && !selected.parcours.id" class="p-invalid">Parcours is required.</small>

            </div>

        </div>

        <p-button (click)="save()" icon="pi pi-check" iconPos="right" label="Submit" style="float: right;"></p-button>


    </div>
</div>
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>

    <!-- Font Icon -->
<!--    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">-->

<!--    &lt;!&ndash; Main css &ndash;&gt;-->
<!--    <link rel="stylesheet" href="css/style.css">-->
</head>
<body>
<p-toast></p-toast>
<div class="main">

    <div class="container">
        <form method="POST" class="appointment-form" id="appointment-form">
            <h2>Registration form</h2>
            <div class="form-group-1">
                <input type="text" name="prenom" id="Firstname" placeholder="Firstname" [(ngModel)]="etudiant.prenom"
                       required/>
                <input type="text" name="nom" id="Lastname" placeholder="Lastname" [(ngModel)]="etudiant.nom" required/>
                <input type="email" name="username" id="gmail" placeholder="email" required
                       [(ngModel)]="etudiant.username"/>
                <input type="tel" name="phone_number" id="phone_number" placeholder="phone number" required
                       [(ngModel)]="etudiant.numero"/>
                <input type="number" name="phone_number" id="age" placeholder="Age" required
                       [(ngModel)]="etudiant.age"/>
                <input type="text" name="phone_number" id="address" placeholder="Your address" required
                       [(ngModel)]="etudiant.addresse"/>
                <input type="text" name="phone_number" id="city" placeholder="Your city" required
                       [(ngModel)]="etudiant.ville"/>
<!--                &lt;!&ndash;                <input type="number" name="phone_number" id="city" placeholder="Your city" required [(ngModel)]="etudiant."/>&ndash;&gt;-->
<!--                <p-dropdown [options]="locality" [(ngModel)]="etudiant.teacherLocality" optionLabel="name" style="width: 100% !important;-->
<!--                             margin-bottom: 2%;" placeholder="">-->
<!--                </p-dropdown>-->


                <select required name="role" id="" [(ngModel)]="etudiant.teacherLocality" >
                    <option selected value=" ">Select your favorite teacher locality</option>
                    <option value="native">Native</option>
                    <option value="non-native">Non-native</option>
                </select>
                <div class="p-field">
                    <label for="parcours">Parcours</label><br>
                    <select (click)="findAllParcoursList() ; " [(ngModel)]="etudiant.parcours.id"
                            class="btn btn-block btn-outline-light form-control" id="parcours"
                            name="parcours" pInputText style=" margin-left: 5px"
                            type="text">
                        <option *ngFor="let  p of parcoursList" [ngValue]="p.id" selected="selected">{{p.libelle}}
                        </option>
                    </select>
                </div>
                <div class="p-field">
                    <label for="groupeEtude">Group</label><br>
                    <select (click)="findAllGroupeEtude() ; " [(ngModel)]="etudiant.groupeEtude.id"


                            class="btn btn-block btn-outline-light form-control" id="groupeEtude"
                            name="roupe Etude" pInputText style=" margin-left: 5px"
                            type="text">
                        <option *ngFor="let p of groupeEtudeList" [ngValue]="p.id" selected="selected">{{p.libelle}}
                        </option>
                    </select>
                </div>

                <!--
                <div class="p-field">
                    <label >Level</label><br>
                    <select name="level" (click)="findAllParcours()"
                           (change)="affecterParcours($event)"
                             class="btn btn-block btn-outline-light form-control"
                             pInputText style=" margin-left: 5px"
                             type="text">
                        <option *ngFor="let p of parcoursList "     selected="selected"  >{{p.id}}
                        </option>

                    </select>
                </div>
                -->
                <!--

                <p-dropdown [options]="parcoursList"  name="level" [(ngModel)]="etudiant.parcours.id" optionLabel="id"
                            optionDisabled="inactive"></p-dropdown>
                            -->
            </div>

            <div class="form-submit">
                <button type="button" name="submit" style="background-color: orange; float: right" id="submit"
                        class="submit" (click)="save()">Submit
                </button>
            </div>
        </form>
    </div>

</div>

</body>
</html>
