
<div *ngIf="showTakeQuiz  && !showQuizReview" class="p-field">
    <div  class="p-grid">
        <div style="text-align: center;background-color: #ffffff" class="p-col-12">
            <div style="float:left; display: inline-block; text-align: center">
                {{question?.typeDeQuestion?.lib}}
            </div>
            <div style="float:right;display: inline-block;text-align: center">{{question?.numero}}
                /{{numberOfQuestion}}</div>
        </div>
    </div>

    <div style="background-color: #dee2e6" class="p-grid">
        <div style="  background-color: transparent!important;" class="p-col-12">
            <p-progressBar [style]="{height: '6px'}" [showValue]="false"
                           [value]="valueOf(question.numero)"></p-progressBar>
        </div>
    </div>

    <!--------------------------------- UNIQUE CHOICE-------------------------------------------------------->

    <div *ngIf="question?.typeDeQuestion?.ref === 't1'" class="p-grid">
        <div class="p-col-12 question">
            <button [disabled]="disableButtonSon" pButton pRipple type="button" (click)="sound(question)"
                    icon="pi pi-volume-up" class="p-button-rounded sonButton "></button>
            <h5 class="h5"> {{  questionSideLeft}}  </h5>
            <span class="p-float-label">
            <input *ngIf="answerSelected?.lib === undefined" id="inputDashedBorder" inputId="inputDashedBorder"
                   type="text" disabled
                   [(ngModel)]="reponseQuiz.lib"
                   class="p-inputtext-sm " pInputText/>


            <input *ngIf="answerSelected?.lib !== undefined && answerIsCorrect(answerSelected, question) " disabled
                   id="inputCorrectAnswer" inputId="inputDashedBorder" type="text"
                   [(ngModel)]="answerSelected.lib"
                   class="p-inputtext-sm " pInputText/>

                                <input *ngIf="answerSelected?.lib !== undefined && !answerIsCorrect(answerSelected, question)"
                                       id="inputFalseAnswer" inputId="inputDashedBorder" type="text"
                                       disabled
                                       [(ngModel)]="answerSelected.lib"
                                       class="p-inputtext-sm " pInputText/>


                            <label [hidden]="answerSelected?.lib === undefined || answerIsCorrect(answerSelected, question)"
                                   class="correctAnswer" for="inputDashedBorder"
                                   *ngFor="let ans of correctAnswersList?.get(question.id)">{{ ans.lib}}</label>


        </span>
            <h5 class="h5"> {{  questionSideRight}}  </h5>
        </div>
        <div class="p-col-12 answers">
            <div *ngFor="let reponse of question?.reponses" class="p-field-checkbox textQuestion">
                <p-radioButton [inputId]="reponse.lib" name="category" [(ngModel)]="reponseQuiz.lib"
                               (onClick)="showDontKnowButton = false; showCheckButton = true"
                               [value]="reponse.lib"></p-radioButton>
                <label [for]="reponse.lib">{{reponse.lib}}</label>
            </div>
            <button *ngIf="showCheckButton && !saveDone" pButton pRipple type="button"
                    icon="pi pi-check" iconPos="right"
                    label="Check answer" class="p-button-raised check-button "
                    (click)="saveAnswers(question)">
            </button>
        </div>
    </div>

    <!--------------------------------- CORRECT THE MISTAKE -------------------------------------------------------->

    <div *ngIf="question?.typeDeQuestion?.ref === 't4'" class="p-grid">
        <div class="p-col-12 question">
            <button [disabled]="disableButtonSon" pButton pRipple type="button" (click)="sound(question)"
                    icon="pi pi-volume-up" class="p-button-rounded sonButton ">
            </button>
            <h5 class="h5"> {{  questionSideLeft}}  </h5>
            <span class="p-float-label">
            <input style="font-weight: normal;" *ngIf="answerSelected.lib === undefined" id="inputQstT4"
                   (focus)="showDontKnowButton =false; showCheckButton=true;"
                   (focusin)="hidePlaceHolder('HIDE')"
                   (focusout)="hidePlaceHolder('SHOW')"
                   inputId="inputDashedBorder" type="text"
                   [placeholder]="inputAnswer"
                   [(ngModel)]="reponseQuiz.lib" class="p-inputtext-sm " pInputText/>


            <input *ngIf="answerSelected?.lib !== undefined && answerIsCorrect(answerSelected, question) " disabled
                   id="inputCorrectAnswer" inputId="inputDashedBorder" type="text"
                   [(ngModel)]="answerSelected.lib"
                   class="p-inputtext-sm " pInputText/>

            <input *ngIf="answerSelected?.lib !== undefined && !answerIsCorrect(answerSelected, question)" disabled
                   id="inputFalseAnswer" inputId="inputDashedBorder" type="text"
                   [(ngModel)]="answerSelected.lib"
                   class="p-inputtext-sm " pInputText/>

            <label [hidden]="answerSelected?.lib === undefined || answerIsCorrect(answerSelected, question)"
                   class="correctAnswer" for="inputDashedBorder"
                   *ngFor="let ans of correctAnswersList?.get(question.id)">{{ ans.lib}}</label>

        </span>
            <h5 class="h5"> {{  questionSideRight}}  </h5>

        </div>
        <div class="p-col-12 answers">

            <button *ngIf="showCheckButton && !saveDone" pButton pRipple type="button"
                    icon="pi pi-check" iconPos="right"
                    label="Check answer" class="p-button-raised check-button "
                    (click)="saveAnswers(question)">
            </button>

        </div>
    </div>


    <!--------------------------------- WRITE  THE CORRECT FORM -------------------------------------------------------->

    <div style="font-weight: normal;" *ngIf="question?.typeDeQuestion?.ref === 't6'" class="p-grid">
        <div class="p-col-12 question">
            <button [disabled]="disableButtonSon" pButton pRipple type="button" (click)="sound(question)"
                    icon="pi pi-volume-up" class="p-button-rounded sonButton ">
            </button>
            <h5 class="h5"> {{  questionSideLeft}}  </h5>
            <span class="p-float-label">
            <input *ngIf="answerSelected?.lib === undefined" id="inputQstT6"
                   (focus)="showDontKnowButton =false; showCheckButton=true"
                   (focusin)="hidePlaceHolder('HIDE')"
                   (focusout)="hidePlaceHolder('SHOW')"
                   inputId="inputDashedBorder" type="text"
                   [placeholder]="inputAnswer"
                   [(ngModel)]="reponseQuiz.lib" class="p-inputtext-sm " pInputText/>


            <input *ngIf="answerSelected?.lib !== undefined && answerIsCorrect(answerSelected, question) " disabled
                   id="inputCorrectAnswer" inputId="inputDashedBorder" type="text"
                   [(ngModel)]="answerSelected.lib"
                   class="p-inputtext-sm " pInputText/>

            <input *ngIf="answerSelected?.lib !== undefined && !answerIsCorrect(answerSelected, question)" disabled
                   id="inputFalseAnswer" inputId="inputDashedBorder" type="text"
                   [(ngModel)]="answerSelected.lib"
                   class="p-inputtext-sm " pInputText/>

            <label [hidden]="answerSelected?.lib === undefined || answerIsCorrect(answerSelected, question)"
                   class="correctAnswer" for="inputDashedBorder"
                   *ngFor="let ans of correctAnswersList?.get(question.id)">{{ ans.lib}}</label>

        </span>
            <h5 class="h5"> {{  questionSideRight}}  </h5>
        </div>
        <div class="p-col-12 answers">

            <button *ngIf="showCheckButton && !saveDone" pButton pRipple type="button"
                    icon="pi pi-check" iconPos="right"
                    label="Check answer" class="p-button-raised check-button "
                    (click)="saveAnswers(question)">
            </button>

        </div>
    </div>



    <div class="p-grid sideBar">
        <div class="p-col-3">
        </div>

        <div class="p-col-6"></div>
        <!-- -->
        <div class="p-col-3">
            <button *ngIf="(showNextButton && question?.id !== questionList[questionList?.length -1]?.id &&
             this.groupeEtudiant?.groupeEtude?.nombreEtudiant === 1) ||
              ( !webSocketService.isInSession && showNextButton && question?.id !== questionList[questionList?.length -1]?.id)"
                    style="float:right"
                    pButton pRipple
                    type="button" icon="pi pi-arrow-right" iconPos="right"
                    label="Next" (click)="nextQuestionFct()"
                    class="p-button-rounded p-button-secondary"></button>


            <button *ngIf="question?.id === questionList[questionList.length -1]?.id " style="float:right" pButton
                    pRipple
                    (click)="finishQuiz()"
                    type="button" icon="pi pi-save" iconPos="right"
                    label="Finish"
                    class="p-button-rounded p-button-success"></button>
        </div>
    </div>
</div>

<div *ngIf="showQuizReview && !showTakeQuiz">

    <div class="row">
        <div style="text-align: center;margin-bottom: 15px;" class="col-md-12">
            <h1 id="discoverText">Result</h1>
        </div>
        <div class="col-md-3"></div>
        <div id="burst-8" class="col-md-6 shadow-lg p-3 mb-5 bg-body rounded">
            <h1>{{inscription?.parcours?.libelle}}</h1>
        </div>

        <div class="col-md-12">
            <h1 id="discoverText">Explore our packs for you</h1>
        </div>

        <div *ngFor="let pack of packs" class="col-md-4">
            <p-card [header]="pack?.libelle" [subheader]="isForGroupOrindev(pack.forGroupe)"
                    (click)="selectedPackFct(pack)"
                    [style]="{width: '100%', borderRadius: '10px', cursor: 'pointer',   background: '#263238' , color: 'white'}"
                    styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <img *ngIf="pack?.imgUrl !== null" alt="Card" [src]="pack?.imgUrl">
                    <img *ngIf="pack?.imgUrl === null" alt="Card"
                         src="assets/demo/images/product/bamboo-watch.jpg">
                </ng-template>
                <p>{{pack?.description}}</p>
                <ng-template pTemplate="footer">
                    <p><i style="font-weight: bold;" class="pi pi-angle-right"></i> {{pack?.nombreCours}}
                        {{'courses' | translate}}</p>
                </ng-template>
            </p-card>
        </div>
    </div>

</div>
