<div class="layout-topbar">


    <a class="layout-menu-button layout-topbar-icon" (click)="hideOrShowRightBar($event)">
        <i class="pi pi-bars"></i>
    </a>

    <a class="layout-topbar-logo">
        <img style="height: 55px;" id="topbar-logo" src="/assets/img/logo/eng-white.webp">
    </a>


    <ul class="topbar-menu">
        <li>

            <select class="lang__select" (ngModelChange)="selectedLangage($event)" [(ngModel)]="translate.currentLang"
                    aria-label="Select level">
                <option [class]="lang?.code" *ngFor="let lang of langs" [ngValue]="lang.code">
                    {{lang?.lab}}
                </option>
            </select>

        </li>
    </ul>


</div>
