<div class="layout-topbar" *ngIf="this.loginservice.hasloged">

    <a class="layout-topbar-logo" href="#">
        <span id="topbar-logo" style="color: white; font-family: 'Lucida Bright'"><h1>American Center</h1></span>
    </a>


    <ul [hidden]="user == null" class="topbar-menu">
        <li [ngClass]="{'active-topmenuitem fadeInDown': appMain.topbarUserMenuActive}"  class="user-profile">
            <a class="ng-star-inserted" (click)="appMain.onTopbarUserMenuButtonClick($event)" *ngIf="!app.inlineUser">
                <img [src]="user?.image">
                <div class="layout-profile-userinfo">
                    <span class="layout-profile-name profile-label">{{user?.nom}} {{ user?.prenom}}</span>
                    <span *ngIf="isAdmin() == true" class="layout-profile-role">Admin</span>
                    <span *ngIf="isProf() == true" class="layout-profile-role">Teacher</span>
                    <span *ngIf="isStudent() == true" class="layout-profile-role">Student</span>
                </div>
            </a>

            <ul class="fadeInDown">

                <li class="user-profile-drop-dawn">
                    <a [routerLink]="['profile']" style="height: 52px" class="user-profile-drop-dawn-text">
                        <i class="pi pi-fw pi-user" style="margin-right:4px"></i>
                        <span>Your profile</span>
                    </a>
                </li>


                <li class="user-profile-drop-dawn">
                    <a href="#" style="height: 52px">
                        <button icon="pi pi-fw pi-sign-out" id="button" pButton class="p-button-raised
                                     p-button-secondary p-button-rounded" (click)="logOut()" type="button" label="Log Out">
                        </button>
                    </a>
                </li>
            </ul>

        </li>


    </ul>


    <ul [hidden]="user != null" class="topbar-menu">

        <li [ngClass]="{'active-topmenuitem fadeInDown': appMain.topbarUserMenuActive}" class="user-profile"
            style="margin-top: 4px">
            <a (click)="appMain.onTopbarUserMenuButtonClick($event)" *ngIf="!app.inlineUser" href="#">
                <div class="layout-profile-userinfo">
                    <span class="layout-profile-name" style="color: cyan;"><b><h4>Space Admin &#9207;</h4></b></span>
                </div>
            </a>
            <ul class="fadeInDown">
                <li>
                    <a [routerLink]="['/public/login-admin']">
                        <i class="pi pi-fw pi-user"></i>
                        <span>Sign in</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/public/inscriptionAdmin']">
                        <i class="pi pi-fw pi-user-plus"></i>
                        <span>Sign up</span>
                    </a>
                </li>
            </ul>
        </li>


        <li [ngClass]="{'active-topmenuitem fadeInDown': appMain.topbarNotificationMenuActive}" class="user-profile"
            style="margin-top: 4px">
            <a (click)="appMain.onTopbarNotificationMenuButtonClick($event)" *ngIf="!app.inlineUser" href="#">
                <div class="layout-profile-userinfo">
                    <span class="layout-profile-name" style="color: cyan;"><b><h4>Space Teacher &#9207;</h4></b></span>
                </div>
            </a>
            <ul class="fadeInDown">
                <li>
                    <a [routerLink]="['/public/login-prof']">
                        <i class="pi pi-fw pi-user"></i>
                        <span>Sign in</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/public/inscriptionTeacher']">
                        <i class="pi pi-fw pi-user-plus"></i>
                        <span>Sign up</span>
                    </a>
                </li>
            </ul>
        </li>


        <li [ngClass]="{'active-topmenuitem fadeInDown': appMain.topbarNotificationMenuActive2}" class="user-profile"
            style="margin-top: 4px">
            <a (click)="appMain.onTopbarNotificationMenuButtonClick2($event)" *ngIf="!app.inlineUser" href="#">
                <div class="layout-profile-userinfo">
                    <span class="layout-profile-name" style="color: cyan;"><b><h4>Space Student &#9207;</h4></b></span>
                </div>
            </a>
            <ul class="fadeInDown">
                <li>
                    <a [routerLink]="['/public/login-etudiant']">
                        <i class="pi pi-fw pi-user"></i>
                        <span>Sign in</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/public/inscriptionEtudiant']">
                        <i class="pi pi-fw pi-user-plus"></i>
                        <span>Sign up</span>
                    </a>
                </li>
            </ul>
        </li>


    </ul>
</div>


<nav *ngIf="!this.loginservice.hasloged">
    <div class="logo"><img src="assets/picture/icon/logo.png" alt="logo"></div>
    <ul>
        <li><a class="active" href="">Home</a></li>
        <li><a >Portfolio</a></li>
        <li><a >Team</a></li>
        <li><a >Services</a></li>
        <li><a >Contact</a></li>
    </ul>
    <a class="get-started"  routerLink="login" >Get Started</a>
    <img src="assets/picture/icon/menu.png" class="menu" onclick="sideMenu(0)" alt="menu">
</nav>

<script type="text/javascript" src="src/script.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
